{literal}
<script>
 function checkValidate(){
     
 }
 
 function callbackfunction(res){
   var msg = "Admin set";
  $.fancybox.close();
  messageShow(msg);
  $("#user_listing").html(res);
  }
</script>
{/literal}
<div style="width: 500px;" class="updateprofileadmin_fancy">
    <div class="headprt settheme">
	<div class="mdl">
	    <span>Time for be an admin</span>
	</div>
    </div>
    <div id="error" align="center" style="display:none"></div>
    <div class="bodyprt">
        <form action="##LBL_ADMIN_SITE_URL##user/makeAdmin/ce/0" method="post" onsubmit="return AsyncUpload.submitForm(this,checkValidate,callbackfunction);">
            <input type="hidden" name="id_user" value="{$sm.res}">
            <table border="0" class="formtbl">
		<tr>
		    <td width="20%">Time:</td>
		    <td>
                        <input type="text" placeholder="Minutes" name="admin_time" id="adtim" value="" />
		    </td>
		</tr>
                <tr>
		    <td>&nbsp;</td>
		    <td>
			<div class="settheme fltlft">
			<input type="submit" name="sub" value="ADD" class="buton"/>
			</div>
			<div class="clear"></div>
		    </td>
		</tr>
            </table>
        </form>
    </div>
</div>