{assign var=m value=$sm.next_prev->module}
{if $smarty.const.LINK_SEPARATOR}
{assign var=sep value=$smarty.const.LINK_SEPARATOR}
{else}
{assign var=sep value="-"}
{/if}
{literal}
<style type="text/css">
  .user_listing_admin{display:none;}
  .d_anch{padding:4px 10px; background:#E74955; color:#ffffff !important;}
  .e_anch{padding:4px 10px; background:#FCB322; color:#ffffff !important;}
  .e_anch:hover{text-decoration: none !important;}
  </style>
  <script>
function beAdmin(id_user){
$.post(siteurl,{'page':'user','choice':'admintime','ce':0,'qstart':qstart,'id_user':id_user},function(res){
show_fancybox(res);
});
}
  </script>
  {/literal}
<!--done by gayatree starts-->

<!-- BEGIN ADVANCED TABLE widget-->
            <div class="row-fluid">
                <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget red">
                    <div class="widget-title">
                        <h4><i class="icon-reorder"></i><span>
                {if $sm.pg_header}
                {$sm.pg_header}
                {else}
                {$sm.next_prev->module|capitalize:true} Lists
                {/if}
			</span></h4>
                        
                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                        <div class="fltrht pdngin">
				{if $sm.hlink}
				{foreach from=$sm.hlink item=item key=key}   
				<input type="button" class="btn btn-success" value="{$item.prompt}" {$item.action} />
					   {/foreach}
					   {/if}
			</div>
			
			<div class="clear"></div>
                    </div>
                    <div class="widget-body">
                        <table class="table table-striped table-bordered table-advance table-hover" id="img_tbl">
                            <thead>
                            <tr>
                                {if $sm.special}
					<th>
                      <i class="icon-check-sign"></i>
                      {$sm.special.prompt}
                    </th>
			{/if}
			{foreach from=$sm.field item=item key=key}
			{if $key == $smarty.session.$m.sort_by}
			{if $smarty.session.$m.sort_order=="ASC"}
			{assign var=cls value="asc"}
			{else}
			{assign var=cls value="desc"}
			{/if}
			{else}
			{assign var=cls value=""}
			{/if}
					<th class=" {$cls}">
                      <i class="icon-user"></i>
			    {if $item.1!=0 && $sm.list}
			    {if $sm.ajax}
						<a href="javascript:get_next_page('##APP_ROOT_URL##{$sm.uri}{$sep}sort_by{$sep}{$key}',0,0,'user_listing')" style="text-decoration:none;color:#000;">{if $item!=""}{$item.0}{else}{$key}{/if}</a>
			    {else}
						<a href="##APP_ROOT_URL##{$sm.uri}{$sep}sort_by{$sep}{$key}" style="text-decoration:none;color:#000;">{if $item!=""}{$item.0}{else}{$key}{/if}</a>
			    {/if}
			    {else}
			    {if $item!=""}{$item.0}{else}{$key}{/if}
			    {/if}
					</th>
			{/foreach}
			{foreach from=$sm.links item=item key=key}
					<th>
                      {if $item.0}
                 <i class="icon-suitcase"></i>{/if} 
			    {$item.0}
			    {$item.1}
					</th>
			{/foreach}
                            </tr>
                            </thead>
                            {if $sm.list}
                            <tbody>
                              {section name=cur loop=$sm.list}
		    {assign var=x value=$sm.list[cur]}
				
			
                            <tr class="odd gradeX" {if $smarty.section.cur.iteration==1}class="first"{/if}>
                                {if $sm.special}
                                <td>
                                 {assign var=id value=$sm.special.id}
                                 <input type="checkbox" class="chkbox" value="{$x.id_user}"/>
                                <!--<input type="checkbox" class="checkboxes" value="{$x.id_user}" />-->
                              </td>
                              {/if}
			{foreach from=$sm.field item=item key=key}
                              
                                <!--<td>Jhone doe</td>-->
                                <td class="hidden-phone">
                                  {if $item.anchor}
			    {if $item.condition}
			    {assign var=cond value=$x.$key}
			    {if $sm.ajax}
                <!--<a href="javascript:get_next_page('{$item.anchor}{$x.id_user}','{$sm.qstart}','{$sm.limit}','user_listing')" style="text-decoration:none;color:#000;">{$item.condition.$cond}</a>-->
                           {if $item.condition.$cond == Enable} 
                                  <a class="e_anch" href="{$item.anchor}{$x.id_user}">{$item.condition.$cond}</a>
                                  {else}
                                 <a class="d_anch" href="javascript:get_next_page('{$item.anchor}{$x.id_user}','{$sm.qstart}','{$sm.limit}','user_listing')" style="text-decoration:none;color:#000;" >{$item.condition.$cond}</a>
                           {/if}
                          
                          {*if $item.condition.$cond == disable*} {*/if*}
                               
                                  {/if}
			    {else}
			    {if $sm.ajax}
						<a href="javascript:get_next_page('{$item.anchor}{$x.$key}','{$sm.qstart}','{$sm.limit}','user_listing')">{$x.$key}</a>
			    {else}
						<a href="{$item.anchor}{$x.$key}">{$x.$key}</a>
			    {/if}
			    {/if}
			    {elseif $item.condition}
			    {assign var=cond value=$x.$key}
			    {$item.condition.$cond}
			    {else}
			    {if $item.format!=""}
			    {capture name=k}
			    {ldelim}"{$x.$key}"|{$item.format}{rdelim}
			    {/capture}
			    {eval var=$smarty.capture.k}
			    {elseif $item.image!=""}
                
						<img src="{$item.image}{$x.$key}" />
			    {else}
			    {$x.$key}
			    {/if}
			    {/if}
                                </td>
                                {/foreach}
                                
                               
					<td class="hidden-phone">
                       {foreach from=$sm.links item=item key=key}
						<a {if $item.function}onclick='{$item.function}("{$item.1}{$x[$item.2]}");'{else}href="{$item.1}{$x[$item.2]}"{/if}>{if $item.3}
						{if $item.0}	
                          <button class="btn btn-success">
<i class="icon-edit"></i>
</button>{else}
<button class="btn btn-primary">
<i class="icon-eye-open"></i>
</button>
{/if}
                          <!--<img src="{$item.3}" title="{$item.0}" class="cursor_pointer" />-->
				    {else}{$item.0}{/if}
						</a>
                       {/foreach}
                       {if $smarty.session.username=='admin'}
                         <a href="javascript:void(0)" onclick="beAdmin('{$x.id_user}')">Admin</a>
                         {/if}
					</td>
			
<!--                                <td class="hidden-phone">10</td>
                                <td class="center hidden-phone">02.03.2013</td>
                                <td class="hidden-phone"><span class="label label-success">Approved</span></td>-->
                            </tr>
                            {/section}
                           
                            </tbody>
                            {else}
			<tbody><tr><td colspan="9"><center><b>No records found</b></center></td></tr></tbody>
		{/if}
                        </table>
                      
                      <div align="center">
			{if $sm.list}
			{if $sm.type=='advance'}
			<div class="pagination_adv">
				{$sm.next_prev->generateadv()}
			</div>
			{elseif $sm.type=='box'}
			<div class="pagination_box">
				<div align="center">{$sm.next_prev->generate()}</div>
			</div>
			{elseif $sm.type=='normal'}
			<div class="pagination_box">
				<div align="center">{$sm.next_prev->generate()}</div>
			</div>
			{elseif $sm.type=='nextprev'}
			<div class="pagination_box">
				<div align="center">{$sm.next_prev->onlynextprev()}</div>
			</div>
			{elseif $sm.type=='extra'}
			<div class="pagination_box">
				<div align="center">{$sm.next_prev->generateextra()}</div>
			</div>
			{else}
			{if $sm.type!='no'}
			<div>
				<div align="center">{$sm.next_prev->generate()}</div>
			</div>
			{/if}
			{/if}
			{/if}
		</div>  
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>




<!--done by gayatree ends-->














</br>
<script type="text/javascript">
    var qstart = "{$sm.next_prev->start}";
    var limit = "{$sm.limit}";
    var rec_page = "{$sm.list|@count}";
    {literal}
    function checkAll() {
		$('.chkbox').each(function(){
			$(this).attr('checked','checked');
		});
    }
    function unCheckAll() {
		$('.chkbox').each(function(){
			$(this).removeAttr('checked');
		});
    }
    function addUser() {
		var url="##LBL_ADMIN_SITE_URL##user/register";
		$.fancybox.showActivity();
		$.post(url,{ce:0},function(res){
			$.fancybox(res);
		});
    }
    function deleteUser() {
		var keys='';
		$('.chkbox').each(function(){
			if($(this).is(':checked'))
				keys +=","+$(this).val();
		});
		if(!keys){
			alert("Select one checkbox.");
			return false;
		}else{
			var choice=confirm('Do you want to delete?');
			if(choice){
				if(qstart){
					qstart = qstart;
				}else{
					qstart= 0;
				}if(rec_page==1 && qstart){
					qstart = qstart - limit;
				}
				if(qstart<0)
					qstart=0;
				var search_val= new Array();
				{/literal}
				var fname="{$smarty.request.fname}";
				var email="{$smarty.request.email}";
				var addr="{$smarty.request.addr}";
				{literal}
				var url="##LBL_ADMIN_SITE_URL##";
				$.post(url,{page:'user',choice:"deleteUser",ce:0,id_user:keys,"qstart":qstart,'fname':fname,'email':email,'addr':addr}, function(res){
					//window.location.href='##LBL_ADMIN_SITE_URL##user/listing';
					$('#user_listing').html(res);
					css_even_odd();
					//$("#target").html("<font color='red'> Record delete successfully</font>");
					messageShow("Record delete successfully");
				});
			}
		}
    }
    function editUser(id_user) {
		var search_val= new Array();
		{/literal}
		search_val[0]="{$smarty.request.fname}";
		search_val[1]="{$smarty.request.email}";
		search_val[2]="{$smarty.request.addr}";
		{literal}
		var url="##LBL_ADMIN_SITE_URL##user/editUser/id_user/"+id_user;
		$.fancybox.showActivity();
		$.post(url,{ce:0,qstart:qstart,'search_val[]':search_val},function(res){
			$.fancybox(res);
			css_even_odd();
		});
    }
    
	
	function viewDetails(id_user){
		$.post(siteurl,{'page':'user','choice':'detailUser','ce':0,'qstart':qstart,'id_user':id_user},function(res){
			show_fancybox(res);
		});
	}
</script>
{/literal}