{literal}
<script type="text/javascript">
	function get_next_page(url, start, limit) {
		$("#content").load(url, {'qstart':start, 'limit':limit, 'ce':0}, function(){
			css_even_odd();
		});
	}
</script>
{/literal}

{if $sm.list}
	<div id="container">
		<div class="inner-container">
			<div class="box box-75 altbox">
				<div class="boxin">
					<div class="header" width>
						<h3>Lists</h3>
					</div>
					<div class="content">
						<table cellspacing="0">
						<thead>
							<tr>
								<th>Name</th>
								<td class="tc">Email</td>
								<td class="tc">fname</td>
								<td class="tc">mname</td>
								<td class="tc">lname</td>
								<td class="tc">Status</td>
							</tr>
						</thead>
						<tbody>
						{section name=cur loop=$sm.list}
						{assign var=x value=$sm.list[cur]}
							<tr {if $smarty.section.cur.iteration==1}class="first"{/if}>
							<td class="tb">{$x.email}</td>
							<td class="tb">{$x.fname}</td>
							<td class="tb">{$x.mname}</td>
							<td class="tb">{$x.lname}</td>
							<td class="tc">{$x.email}</td>
							<td class="tc"><a href="##LBL_ADMIN_SITE_URL##user/changeStatus/id/{$x.id_user}">{if $x.flag==0}Unblock{else}Block{/if}</a></td>
							</tr>
						{/section}
						</tbody>
						</table>
					</div>
				</div>
				<div>
					<div align="center">{$sm.next_prev->generate()}</div>
				</div>
				<div class="pagination_adv">
					{$sm.next_prev->generateadv()}
				</div>
				<div style="clear:both"></div>
				<div class="pagination_box">
					<div align="center">{$sm.next_prev->generate()}</div>
				</div>
				<div class="pagination">
					<div align="center">{$sm.next_prev->generate()}</div> 
					<br /> 
					<div align="center">{$sm.next_prev->onlynextprev()}</div> 
					<br /> 
					<div align="center">{$sm.next_prev->currentposition()}</div> 
					<br /> 
					<div align="center">{$sm.next_prev->currentpage()}</div> 
				</div>
			</div>
{else}
	<center><b>No records found</b></center>
{/if}
