{assign var=x value=$sm.userdata}
<!--done by gayatree starts-->

{literal}
<style type="text/css">
  .modifyprofile_admin{display:none;}
  </style>
{/literal}
<div class="center">
<div class="row-fluid">
<div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget red">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i> Profile</h4>
                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                            </div>
                            <div class="widget-body">
                              
                              <form action="##LBL_ADMIN_SITE_URL##user/updateProfile" method="post" name="profile_form" id="profile_form" class="form-horizontal">
                                <div id="show_err" align="center">{if $sm.fail_msg}{$sm.fail_msg}{/if}</div> 
                            <div class="control-group">
                                <label class="control-label">Email id </label>
                                <div class="controls">
                                  <input class="span6" type="text" id="email" name="email" value="{$x.email}" />
                                  
                                </div>
                            </div>
                                <div class="control-group">
                                <label class="control-label">Username  </label>
                                <div class="controls">
                                   <input class="span6" type="text" id="uname" name="uname" value="{$x.username}" onblur="checkUname('a');"/>
                                  
                                    
                                </div>
                            </div>
                                <div class="control-group">
                                <label class="control-label">Old Password  </label>
                                <div class="controls">
                                   <input type="password" id="opass" name="opass" class="span6" />
                                  
                                    
                                </div>
                            </div>
                                <div class="control-group">
                                <label class="control-label">New Password  </label>
                                <div class="controls">
                                   <input type="password" id="npass" name="npass" class="span6" />
                                  
                                    
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Confirm Password </label>
                                <div class="controls">
                                  <input type="password" id="cpass" name="cpass" class="span6" />
                                    
                                    <!--<span class="help-inline">Some hint here</span>-->
                                </div>
                            </div>
                            
                            <div class="form-actions">
                                <input class="btn btn-success" type="button" value="Update" onclick="return validate();"/>
<input class="btn btn-success" value="Reset" type="reset">
                            </div>
                                   
                            </form>
                              
                              
                              
                              
                              
                              
                              
                              
                              
<!--                              <form class="basic" action="##LBL_ADMIN_SITE_URL##user/updateProfile" method="post" name="profile_form" id="profile_form">       
		    <div class="inner-form">
			<div id="show_err" align="center">{if $sm.fail_msg}{$sm.fail_msg}{/if}</div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
				<td width="163px">Email id:</td>
				<td width="433px">
				    <input type="text" id="email" name="email" value="{$x.email}" />
				</td>
			    </tr>
			    <tr>
				<td>Username:</td>
				<td>
				    <input type="text" id="uname" name="uname" value="{$x.username}" onblur="checkUname('a');"/>
				</td>
			    </tr>
			    <tr>
				<td>Old Password:</td>
				<td>
				    <input type="password" id="opass" name="opass" />
				</td>
			    </tr>
			    <tr>
				<td>New Password:</td>
				<td>
				    <input type="password" id="npass" name="npass" />
				</td>
			    </tr>
			    <tr>
				<td>Confirm Password:</td>
				<td>
				    <input type="password" id="cpass" name="cpass" />
				</td>
			    </tr>
			    <tr>
				
				<td colspan="2">
                  <div class="form-actions" align="center">
<input class="btn btn-success" type="button" value="Update" onclick="return validate();"/>
<input class="btn" value="Reset" type="reset"></button>
</div>
                  
                  
                  
                  
                  
				    <div class="fltlftmarginright5"><input class="btn" type="button" value="Update" onclick="return validate();"/></div>
				    <div class="fltlft"><input class="btn" type="reset"/></div>
				    <div class="clear"></div>    
				</td>
			    </tr> 
                                    </tbody>
                                </table>
            </div>
                                </form>-->
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
</div>
  </div>

<!--done by gayatree ends-->






{literal}
<script type="text/javascript">
    $(document).ready(function(){
	$("#opass").val('');
    });
    function validate() {
	var validator=$("#profile_form").validate({ 
	    rules: {
		"uname":{
		    required:true
		},
		"email":{
		    required:true,
		    email:true
		},
		"npass":{
		    minlength:6
		},
		"cpass":{
		    minlength:6,
		    equalTo:'#npass'
		}
	    },
	    messages: {
		"uname":{
		    required:""+flexymsg.required
		},
	email:{
		    required:""+flexymsg.required,
		    email:"Please enter a valid email address."+"<br>"+flexymsg.email
		},
		"npass":{
		    minlength:"<br>"+flexymsg.minlength
		},
		"cpass":{
		    minlength:"<br>"+flexymsg.minlength,
		    equalTo:"<br>"+flexymsg.equalTo
		}
	    }
	});
	var x=validator.form();
	var npass=$('#npass').val();
	var cpass=$('#cpass').val();
	var pass=$('#opass').val();
	var oldpass=$('#oldpass').val();
	if(pass){
	    if(npass){
		if(npass!=cpass){
		    $('#show_err').html("<font color='red'>Confirm Password does not match.</font>");
		    return false;
		}
	    }else{
		$('#show_err').html("<font color='red'>Provide New Password.</font>");
		return false;			
	    }
	}else{
	    if(npass){
		document.getElementById('npass').value="";
		document.getElementById('cpass').value="";
		$('#show_err').html("<font color='red'>Enter Password First.</font>");
		return false;
	    }
	}
	x=checkUname('c');
	if(x) {
	    $('#profile_form').submit();
	}

    }
    function checkUname(x) {
	var uname=$('#uname').val();
	var test='{/literal}{$x.username}{literal}';
	if(uname==test){
	    $("#show_err").html('');
	    return true;
	}else{
	    var url="##LBL_ADMIN_SITE_URL##";
	    $.post(url,{"page":"user","choice":"checkUsername",uname:uname,ce:0},function(res){
		if(res==1){
		    if(x=='c'){
			$('#profile_form').submit();
		    }	
		    $('#show_err').html("");
		    return true;
		}else{
		    $('#show_err').html("<font color='red'>This Username already exist.</font>");
		    return false;
		}
				
	    });
	}
    }
</script>
{/literal}
