<!--done by gayatree starts-->
{literal}

         <style type="text/css">
           .srch_addmin{display:none;}
         </style>
     {/literal}
     <div class="center">
     <div id="succ_msg" align="center"></div>
     <div id="dv1">
         <div id="page-wraper">
           <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget red">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>Search</h4>
                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                            </div>
                            <div class="widget-body">
                              <form name="search" id="search" method="post" action="javascript:void(0);" class="form-horizontal">
                                 {if $sm.active_cat==1} 
                            <div class="control-group">
                                <label class="control-label">Category :</label>
                                <div class="controls">
                                 <select name="product_category" id="product_category" class="span6 " >
				<option value=''> -Select-</option>
				{html_options options=$sm.category selected=$sm.cat_select}
			    </select>
                                    <!--<input type="text" class="span6 " />-->
                                    <!--<span class="help-inline">Some hint here</span>-->
                                </div>
                            </div>
                                 {/if}
                            <div class="control-group">
                                <label class="control-label">Name  </label>
                                <div class="controls">
                                  <input type="text" name="fname" id="fname"  value="{$smarty.request.fname}" class="span6 "/>
                                    
                                    <!--<span class="help-inline">Some hint here</span>-->
                                </div>
                            </div>
                                  <div class="control-group">
                                <label class="control-label">Email  </label>
                                <div class="controls">
                                  
                                    <input type="text" name="email" id="email" value="{$smarty.request.email}" class="span6" />
                                    <!--<span class="help-inline">Some hint here</span>-->
                                </div>
                            </div>
                                 <div class="control-group">
                                <label class="control-label">Address  </label>
                                <div class="controls">
                                   <input type="text" name="addr" id="addr" value="{$smarty.request.addr}" class="span6" />
                                    
                                    <!--<span class="help-inline">Some hint here</span>-->
                                </div>
                            </div>
                            
                            <div class="form-actions">
                               
<button class="btn btn-success" type="button" name="search" value="Search" onclick="usearch_list();">Search</button>
<button class="btn btn-success" type="reset" name="search" value="Reset" onclick="url_ref();">Reset</button>


                            </div>
                                  
                            </form>
                              
                              
                              
                              
                              
                              
<!--                              <form name="search" id="search" class="search_frm" method="post" action="javascript:void(0);">
                                <table class="table tblbdr">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      {if $sm.active_cat==1}
                                    <tr>
                                        <td>Category :</td>
			<td>
			    <select name="product_category" id="product_category" >
				<option value=''> -Select-</option>
				{html_options options=$sm.category selected=$sm.cat_select}
			    </select>
			</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    {/if}
                                    <tr>
                                        <td  class="algnrht pdtop">Name :</td>
			<td  class="algnlft pdtop">
			    <input type="text" name="fname" id="fname"  value="{$smarty.request.fname}" class="txt"/>
			</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    
			<td  class="algnrht pdtop">Email :</td>
			<td class="algnlft pdtop">
			    <input type="text" name="email" id="email" value="{$smarty.request.email}" class="txt" />
			</td>
		    
			<td  class="algnrht pdtop">Address :</td>
			<td class="algnlft pdtop">
			    <input type="text" name="addr" id="addr" value="{$smarty.request.addr}" class="txt" />
			</td>
            
		    </tr>
                                    
                                    
                                            <td><div><input type="button" name="search" value="Search" onclick="searchList(1);" class="buton" /></div></td>
                                            <td><div><input type="reset" name="search" value="Reset" onclick="searchList(0);" class="buton" /></div></td>
                                            
                                            
                                             
                                        
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    
                                    </tbody>
                                </table>
                                <div class="form-actions" align="center">
<button class="btn btn-success" type="button" name="search" value="Search" onclick="usearch_list();">Search</button>
<button class="btn" type="reset" name="search" value="Reset" onclick="url_ref();">Reset</button>

</div>
                                </form>-->
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
             
                </div>
             </div>
       </div>
     </div>
<!--  <div id="user_list">	-->
 <div id="user_listing">{include file=admin/user/listing}</div>
<!--</div>-->
       
         
         
         
         
         
         
         
         
         <!--done by gayatree ends-->

<!--<div id="succ_msg" align="center"></div>
<div id="dv1" class="wid30 fltlft mrglft5 srch_addmin">
    <div class="makebox center">
	<div class="headprt settheme">
            <div class="mdl">
                <span>Search</span>
            </div>
        </div>
        <div class="bodyprt">
            <form name="search" id="search" class="basic" method="post" action="javascript:void(0);">
		<table border="0" align="center" class="formtbl">
		    {if $sm.active_cat==1}
		    <tr>
			<td>Category :</td>
			<td>
			    <select name="product_category" id="product_category" >
				<option value=''> -Select-</option>
				{html_options options=$sm.category selected=$sm.cat_select}
			    </select>
			</td>
		    </tr>
		    {/if}
		    <tr>
			<td>Name :</td>
			<td>
			    <input type="text" name="fname" id="fname"  value="{$smarty.request.fname}" class="txt"/>
			</td>
		    </tr>
		    <tr>
			<td>Email :</td>
			<td>
			    <input type="text" name="email" id="email" value="{$smarty.request.email}" class="txt" />
			</td>
		    </tr>
		    <tr>
			<td>Address :</td>
			<td>
			    <input type="text" name="addr" id="addr" value="{$smarty.request.addr}" class="txt" />
			</td>
		    </tr>
		    <tr>
			<td></td>    
			<td>
            	<table>
                	<tr>
                    	<td><div class="settheme fltlft"><input type="button" class="buton" name="btm" value="Search" onclick="usearch_list();"/></div></td>
                        <td><div class="settheme fltlft"><input type="reset" class="buton" name="reset" value="Reset" onclick="url_ref();"/></div></td>
                    </tr>
                </table>
			</td>
		    </tr>
		</table>
	    </form>
        </div>
    </div>
</div>-->

<script type="text/javascript">
    {literal}
    $('#search').bind('keypress', function(e) {//"search" is the id of from field and pass the parameter to searchByEnter function like wise  
	searchByEnter(e,"usearch_list");// searchList(1) is ypur function name;
    });
    function usearch_list(){
	var fname=$('#fname').val();
	var email=$('#email').val();
	var addr=$('#addr').val();
	var url="##LBL_ADMIN_SITE_URL##";
	$.post(url,{"page":"user","choice":"listing",u_search:"search",'fname':fname,'email':email,'addr':addr,'ce':0},function(res){
	    $('#user_listing').html(res);
	});
    }
    function url_ref(){
	window.location.href="##LBL_ADMIN_SITE_URL##user/listing/";
    }
    {/literal}
</script>
