/* common - based on Eric Meyer's reset, you shouldn't change this section
======================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {border: 0; margin: 0; padding: 0; vertical-align: baseline; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;}

body {background: #ddd; font: 75%/1.5 "myriad pro", helvetica, arial, sans-serif; color: #333;}

table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}

blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

li {list-style-type: none;}

hr {display: none;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* basic links properties */
a {border-bottom: 1px solid #ccc; text-decoration: none; color: #333;}
a.alt,
.altbox .content a {border-color: #d0e4f5; color: #0f5290;}
a:hover, a:active, a:focus,
a.alt:hover, a.alt:active, a.alt:focus,
.altbox .content a:hover, .altbox .content a:active, .altbox .content a:focus {border-color: #d0e4f5; color: #0a80cf;}
a img {border: none;}

/* abstract classes
======================================*/
/* autocleaning (use for parent of floated element, but take care, it has some limitations) */
.cw {width: 100%; overflow: hidden;}
.cw2 {overflow: hidden; height: 1%;}
/* float helpers */
.fl {float: left;}
.fr {float: right;}
/* classic cleaner */
.cleaner {clear: both; visibility: hidden; height: 0; overflow: hidden; line-height: 0; font-size: 0;}
/* safe cleaning, use eg. for parent of floated element */
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

/* image replacement (see <h1 id="logo"> section in index.html for example) */
.ir {position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%;}

/* text align helpers */
.tl {text-align: left !important;}
.tr {text-align: right !important;}
.tc {text-align: center !important;}
.ttop {vertical-align: top !important;}

/* for buttons etc. */
.hand {cursor: hand; cursor: pointer;}

/* accessible hiding of elements */
.a-hidden {position: absolute; top: -10000em;}

/* first and last helpers, mainly for table cells */
.first {border-left: 0 !important;}
.last {border-right: 0 !important;}

/* layout
======================================*/

.inner-container {width: 960px; margin: 0 auto;}

#fixme {
  position: absolute;
  left:0px;
  top:0px;
  z-index:3;
}
body > div#fixme {
  position: fixed;
  height:100px;
}
.clearfixme {
	clear:both;
	margin-top:135px;
}
#header {border-bottom: 1px solid #2a9fec; background: #0f508d url("../img/blue/header.png") repeat-x; min-height: 100px;}
	#header .inner-container {padding:0px;}
	/* logo: set the width and height of your logo (in px) and margin-top depending on height of your logo */
	#header #logo {position: relative; float: left; width: 191px; height: 28px; margin-top: 17px;}
		#header #logo a.home {border: 0; display: block; width: 100%; height: 100%; overflow: hidden; text-shadow: #003f6c 1px 1px 0; font-size: 180%; font-weight: bold; font-style: italic; color: #fff;}
		#header #logo a.home .ir {background: url("../img/blue/logo.png");}
		#header #logo a.button{position: absolute; left: 100%; top: 3px; margin-left: 20px; padding: 4px 9px 4px; white-space: nowrap;}
	/* box for user info, settings and logout */
	#header #userbox {background: url("../img/blue/userbox.png") no-repeat; position: relative; float: right; width: 225px; min-height: 65px; line-height: 1.3;}
		#header #userbox .inner {padding: 17px 50px 0 55px;}
		#header #userbox a#logout {border: 0; position: absolute; right: 14px; top: 21px; display: block; width: 23px; height: 24px; overflow: hidden; line-height: 1; font-size: 90%;}
		#header #userbox a#logout .ir {background: url("../img/blue/logout.png");}
		#header #userbox a#logout:hover .ir,
		#header #userbox a#logout:focus .ir,
		#header #userbox a#logout:active .ir {background-position: -23px 0;}
		#header #userbox strong {font-size: 120%; font-weight: normal; color: #fff;}
		#header #userbox a {border-color: #427da9; color: #d0e1ed;}
		#header #userbox a:hover,
		#header #userbox a:active,
		#header #userbox a:focus {border-color: #9bc4e3; color: #fff;}
		#header #userbox ul {}
		#header #userbox ul li {display: inline;}
		#header #userbox ul a {float: left; margin-right: 7px;}
		#header .admin_title {color:#FFF; font-size:18px;letter-spacing:2px; margin:0px; padding:0px}

/* navigation stripe 
	#######################
	#    TOP NAVIGATION   #
	#######################
	*/
	.menu-inner-container {
		padding: 10px 0 10px 0;
		font-family:Arial, Helvetica, sans-serif;
		position: relative;
		width:auto;
		font-size:13px;
	}
	#logo a{
		border:none;
		text-decoration:none;
	}
	
	#nav_list_cont {
		width:600px;
		z-index:3;
		position:relative;
	}
	
	#nav_list{
		z-index:2;
	}
	
	#nav_list, #nav_list ul{
		margin:0;
		padding:0;
		list-style-type:none;
		list-style-position:outside;
		position:relative;
		line-height: 22px;
		height: 32px!important;
		z-index: 1;
	}
	
	#nav_list ul {
		position:absolute;
		width:405px;
		top:32px;
		display:none;
		z-index:1000;
	}
	
	#nav_list a:link, #nav_list a:active, #nav_list a:visited {
		display:block;
		padding:5px 6px;
		color:#ffffff;
		text-decoration:none;
	}
	#nav_list a.menu_head:link, #nav_list a.menu_head:active, #nav_list a.menu_head:visited {
		border: 1px solid #00487a;
		background: #0567ad url("../img/blue/button.gif") repeat-x;
	}
	#nav_list a.menu_head:hover {
		border: 1px solid #272727;
		background: #2a2a2a url("../img/altbutton.gif") repeat-x;
	}
	
	#nav_list a:hover{
	  background-color:#FFFFFF;
	  color:#333;
	}
	#nav_list li{
		float:left;
		position:relative;
	}
	#nav_list li.border{
		margin:0px 1px;
		border:none;
	}
	#nav_list li.first {
		border-left:none;
	}
	#nav_list li.last {
		border-right:none;
	}
	#nav_list li a{
		color:#FFFFFF;
	}
	#nav_list li a:hover{
		color:#FFFFFF;
	}
	#nav_list li:hover a.menu_head{
		color:#ffffff;
		border: 1px solid #272727;
		background: #2a2a2a url("../img/altbutton.gif") repeat-x;
	}
	#nav_list li a.menu_head:hover{
		border: 1px solid #272727;
		background: #2a2a2a url("../img/altbutton.gif") repeat-x;
	}
	#nav_list li:hover a{
		color:#FFFF00;
		background:#99cc00;
	}
	#nav_list li ul li {
		background:#0B70B8;
	}
	#nav_list li ul li a{
		background:none!important;
		padding:4px 14px !important;
	}
	#nav_list li ul{
		font-weight:normal;
	}
	#nav_list li ul li{
		border:1px solid #0C4172;
	}
	#nav_list li ul li a{
		background:#0B70B8 !important;
	}
	#nav_list li ul a{
		background:#326396;
		color:#FFFFFF !important;
		margin:0;
		padding:0;
		width: 100%;
	}
	#nav_list li ul li:hover a:hover{
		background:#0F5390 !important;
		color:#FFFFFF;
		text-decoration:none;
	}
	#nav_list li ul li a.current{
		background:#0F5390 !important;
		color:#FFFFFF;
		text-decoration:none;
	}
	#nav_list ul ul{
		top:auto;
	}
	#nav_list li:hover ul ul, #nav_list li:hover ul ul ul, #nav_list li:hover ul ul ul ul{
	  display:none;
	}
	#nav_list li:hover ul, #nav_list li li:hover ul, #nav_list li li li:hover ul, #nav_list li li li li:hover ul{
	  display:block;
	}
	.nav-col{
		float:left;
		width:200px;
		padding:0px;
		overflow:hidden;
	}
	.nav-col img{
		margin:0px auto;
	}
	#nav_list ul.three-col {
		width:602px!important;
	}
	#nav_list ul.four-col {
		width:803px!important;
	}
	#nav_list ul.single-col{
		width:200px!important;
	}
	#nav_list h2{
		background: #6686B1;
		color: #FFFFFF;
		font-weight:bold;
		margin: 0 0 0px 0;
		padding: 6px 12px;
	}
	.Last{
		border:none;
	}

/* content wrapper */
#container {background: url("../img/container.gif") repeat-x;}
	#container .inner-container {position: relative; z-index: 1; left: 10px; width: 980px; padding: 20px 0;}

#footer {clear: both; padding: 20px 0 10px 0; text-align: center;}
#footer p {margin: 0 0 10px 0; color: #999;}
#footer a {color: #777;}
#footer a:hover,
#footer a:active,
#footer a:focus {border: none;}

/* content styling
--------------------------------------*/

/* stylish buttons with rounded corners */
.button {border: 1px solid #00487a; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: #0567ad url("../img/blue/button.gif") repeat-x; padding: 5px 9px 5px; text-shadow: #00487a 1px 1px 0; color: #fff; cursor: pointer;}
	.button:hover,
	.button:focus,
	.button:active {border-color: #272727; background: #2a2a2a url("../img/altbutton.gif") repeat-x; text-shadow: #000 1px 1px 0; color: #fff;}
	/* alternative colors */
	.altbox .button {border: 1px solid #272727; background: #2a2a2a url("../img/altbutton.gif") repeat-x; text-shadow: #000 1px 1px 0;}
	.altbox .button:hover,
	.altbox .button:focus,
	.altbox .button:active {border-color: #00487a; background: #0567ad url("../img/blue/button.gif") repeat-x; text-shadow: #00487a 1px 1px 0; color: #fff;}
	.altbutton {border: 1px solid #272727; background: #2a2a2a url("../img/altbutton.gif") repeat-x; text-shadow: #000 1px 1px 0;}
	.altbutton:hover,
	.altbutton:focus,
	.altbutton:active {border-color: #00487a; background: #0567ad url("../img/button.gif") repeat-x; text-shadow: #00487a 1px 1px 0; color: #fff;}
	.altbox .altbutton {border: 1px solid #00487a; background: #0567ad url("../img/button.gif") repeat-x; text-shadow: #00487a 1px 1px 0;}
	.altbox .altbutton:hover,
	.altbox .altbutton:focus,
	.altbox .altbutton:active {border-color: #272727; background: #2a2a2a url("../img/altbutton.gif") repeat-x; text-shadow: #000 1px 1px 0; color: #fff;}

/* icons for content links etc. */
.ico { border: 0 !important; }
.ico-a { border: 0 !important; padding-left: 20px !important; }

/* tags, filetypes */
.tag {
	padding: 4px 7px; color: #fff !important;
	border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}
.tag-gray { /* feel free to add more tag types, just change the colors of gradients/borders */
	border-bottom: 1px solid #666;
	background: #999;
	background: gradient(linear, left top, left bottom, from(#bbb), to(#999));
	background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#999));
}

/* error/information messages */
.msg {
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	border: 1px solid; margin: 0 0 15px 0; padding: 8px 10px 0 10px;
}
.msg p {margin: 0 0 8px 0; padding-left: 25px;}
.msg-ok {border-color: #a6d877; background: #d2ecba url("../img/msg-ok.png") repeat-x; color: #336801;}
.msg-error {border-color: #f3abab; background: #f9c9c9 url("../img/msg-error.png") repeat-x; color: #8d0d0d;}
.msg-warn {border-color: #d7e059; background: #f3f7aa url("../img/msg-warn.png") repeat-x; color: #6c6600;}
.msg-info {border-color: #9fd1f5; background: #c3e6ff url("../img/msg-info.png") repeat-x; color: #005898;}
.msg-ok p {background: url("../img/led-ico/accept.png") 0 50% no-repeat;}
.msg-error p {background: url("../img/led-ico/cross_octagon.png") 0 50% no-repeat;}
.msg-warn p {background: url("../img/led-ico/exclamation_octagon_fram.png") 0 50% no-repeat;}
.msg-info p {background: url("../img/led-ico/exclamation.png") 0 50% no-repeat;}
.error {color: #b70b0b;}
/* forms */
form {padding: 18px;}
form.plain {padding: 0;} /* plain forms - used in tabular and grid data structures, TAKE CARE of it, please */
form.plain fieldset {border: 0 !important; padding: 0 !important;}
form.basic dl {width: 100%; overflow: hidden;} /* basic layout for forms */
form.basic dl dt,
form.basic dl dd {float: left;}
form.basic dl dt {padding: 3px 5px 3px 0; width: 20%;}
form.basic dl dd {padding: 3px 0 3px 5px; width: 76%;}

label.check,
label.radio {margin-right: 5px;}
form small {color: #999;}
input.txt,
textarea {
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	border: 1px solid #999; background: url("../img/txt.gif") repeat-x; padding: 5px 2px;
}
form.basic input.txt,
form.basic textarea {width: 100%;}
input.error,
textarea.error {border-color: #d35757; background-image: url("../img/txt-error.gif");}
span.loading {background: url("../img/upload.gif") 0 50% no-repeat; padding: 3px 0 3px 20px;}
form.fields {} /* plain and clean layout for forms */
form.fields fieldset {
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	border: 1px solid #ccc; margin-bottom: 15px; padding: 10px 15px 15px 15px;
}
form.fields fieldset.last {margin-bottom: 0; border-right: 1px solid #ccc !important;}
form.fields fieldset legend {padding: 0 10px; font-size: 110%;}
form.fields label,
form.fields div.sep {display: block; margin-top: 6px;}
form.fields label.check,
form.fields label.radio {display: inline; margin-top: 0;}
form.fields span.loading {margin-left: 10px;}
/* lists for actions (remove, modify) */
ul.actions {margin: 0;}
ul.actions li {display: inline; margin-right: 5px;}

/* content boxes */
.box {float: left; width: 960px; margin: 0 20px 20px 0;}
	.box-25 {width: 225px;} /* 25% box */
	.box-50 {width: 470px;} /* 50% box */
	.box-75 {width: 715px;} /* 75% box */
	.box-100 {width: 960px;} /* 100% box */
	.altbox {} /* class for alternative (emphasized) boxes (blue headings and colors) */
	/* wrap of box's content */
	.boxin {box-shadow: #aaa 0 0 10px; -webkit-box-shadow: #aaa 0 0 10px; -moz-box-shadow: #aaa 0 0 10px; border: 1px solid #999; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; background: #fff;}
	/* boxes' headers */
	.box .header {
		background: #3d3d3d url("../img/headerbox.png") repeat-x;
		border-top: 1px solid #444;
		border-radius: 5px 5px 0 0;
	   -moz-border-radius-topleft: 5px;
	   -moz-border-radius-topright: 5px;
	   -webkit-border-top-left-radius: 5px;
	   -webkit-border-top-right-radius: 5px;
		position: relative; margin: -1px -1px 0 -1px; padding: 7px 0 9px 20px;
	}
	.altbox .header {border-top-color: #0a81d0; background: #0f518e url("../img/blue/altheaderbox.png") repeat-x;}
	.box .header h3 {position: relative; top: 2px; display: inline; font-size: 150%; color: #fff; text-shadow: #151515 0 1px 0;}
	.altbox .header h3 {text-shadow: #003d68 0 1px 0;}
	.box .header .button {margin-left: 15px;}
	/* tags in the header */
	.box .header ul {position: absolute; right: 9px; bottom: 0;}
	.box .header ul li {display: inline;}
	.box .header ul a {
		border-radius: 5px 5px 0 0;
	   -moz-border-radius-topleft: 5px;
	   -moz-border-radius-topright: 5px;
	   -webkit-border-top-left-radius: 5px;
	   -webkit-border-top-right-radius: 5px;
		background: #777; border: 0; float: left; margin: 0 0 0 5px; padding: 8px 13px 6px; color: #fff;
	}
	.box .header ul a.active,
	.box .header ul a:hover,
	.box .header ul a:focus,
	.box .header ul a:active {background: #fff url("../img/headertab.png") repeat-x; color: #444;}
	.altbox .header ul a {background-color: #489cd4;}
	.altbox .header ul a.active,
	.altbox .header ul a:hover,
	.altbox .header ul a:focus,
	.altbox .header ul a:active {background: #fff url("../img/blue/altheadertab.png") repeat-x; color: #0f518e;}
	/* boxes' content types â€“ tabular */
	.box .content {margin-bottom: 5px;}
	.box .content table {width: 100%;}
	.box .content table th,
	.box .content table td {padding: 10px 10px 8px 10px;}
	.box .content table th {text-align: left; font-weight: normal;}
	.box .content table tr.even th,
	.box .content table tr.even td {background: #f5f5f5;}
	.altbox .content table tr.even th,
	.altbox .content table tr.even td {background: #f0f9ff;}
	.box .content table th.first,
	.box .content table td.first {padding-left: 20px;}
	.box .content table thead th,
	.box .content table thead td {border-left: 1px solid #f2f2f2; border-right: 1px solid #d5d5d5; background: #ddd url("../img/thead.gif") repeat-x; text-shadow: #fff 0 1px 0;}
	.box .content table tbody tr.first th,
	.box .content table tbody tr.first td {border-top: 1px solid #bbb;}
	.altbox .content table tbody {color: #00305d;}
	.box .content table a.ico-comms {border: 0; background: url("../img/blue/ico-tablecomms.gif") 50% 60% no-repeat; padding: 10px; color: #fff;}
	.box .content table tfoot th,
	.box .content table tfoot td {border-top: 1px solid #ccc; background: #fff url("../img/tfoot.gif") repeat-x;}
	/* boxes' content types â€“ simple list */
	.box .content ul.simple li {clear: both; padding: 10px 20px 8px 20px; overflow: hidden;}
	.box .content table tr.even th,
	.box .content ul.simple li.even {background: #f5f5f5;}
	.altbox .content table tr.even th,
	.altbox .content ul.simple li.even {background: #f0f9ff;}
	.box .content ul.simple strong {float: left; font-weight: normal;}
	.box .content ul.simple span {float: right;}
	/* boxes' content types â€“ grid */
	.box .content .grid {}
	.box .content .grid .line {border-bottom: 1px solid #ddd;}
	.altbox .content .grid .line {border-bottom-color: #c7dfef;}
	.box .content .grid .even {float: left; background: #f5f5f5;}
	.altbox .content .grid .even {background: #f0f9ff;}
	.box .content .grid .item {float: left; width: 50%;}
	.box .content .grid .item .inner {padding: 17px 15px 12px 20px;}
	.box .content .grid .firstline {border-top: 0 !important;}
	.box .content .grid .lastline {border-bottom: 0 !important;}
	.box .content .grid .item a.thumb {border: 0; float: left;}
	.box .content .grid .item .data {margin-left: 165px;}
	.box .content .grid .item h4 {margin: 0 0 10px 0; font-size: 110%; font-weight: bold;}
	.box .content .grid .item h4 span {margin-right: 5px; font-weight: normal; font-size: 90%;}
	.box .content .grid .item p {margin: 0 0 5px 0; color: #666;}
	.box .content .grid ul.actions {margin-top: 8px;}
	/* boxes' pagination */
	.pagination {border-top: 1px solid #999; background: #fff url("../img/pagination.gif") repeat-x; text-align: center; color: #333 !important;padding: 12px 10px 6px;}
/*	.pagination ul {background: url("img/pagination-arrow.gif") 51% 0 no-repeat; position: relative; top: -1px; padding: 12px 10px 6px;}
	.pagination ul li {display: inline;} */
	.pagination a {
		display: inline;
		border: 0;
		background: #ebebeb url("../img/pagination-item.gif") repeat-x;
		margin: 0 5px;
		padding: 6px 10px;
		border-radius: 3px;
	   -moz-border-radius: 3px;
	   -webkit-border-radius: 5px;
	}
	.pagination a:hover,
	.pagination a:active,
	.pagination a:focus {color: #0a80cf !important;}
	.pagination a.page_current {
		color:#ff0000;
		font-weight:bold;
	}
	.pagination a.page_next {
		color:#333333;
	}
	.pagination a.page_other {
		color:#333333;
	}
	.pagination strong {position: relative; padding: 15px 10px 8px;}


	.pagination_box {border-top: 1px solid #999; background: #fff url("../img/pagination.gif") repeat-x; text-align: center; color: #333 !important;padding: 12px 10px 6px;}
/*	.pagination_box ul {background: url("img/pagination_box-arrow.gif") 51% 0 no-repeat; position: relative; top: -1px; padding: 12px 10px 6px;}
	.pagination_box ul li {display: inline;} */
	.pagination_box a {
		display:inline-block;
		width:20px;
		text-align:center;
		text-decoration:none;
		margin:3px 2px;
		height:20px;
		color:#FFFFFF;
	}
	.pagination_box a.page_next {
		background:#ffffff;
		border:1px solid #9AAFE5;
		color:#105CB6;
		height:20px;
	}
	.pagination_box a.page_other {
		background:#ffffff;
		border:1px solid #9AAFE5;
		color:#105CB6;
		font-size:10px;
		padding:2px 3px;
		width:auto;
		margin-right:2px;
		height:16px;
		margin-top:2px;
	}
	.pagination_box a.page_next:hover{
		background:#2E6AB1;
		color:#ffffff;
		border:1px solid #9AAFE5;
	}
	.pagination_box a:hover,
	.pagination_box a:active,
	.pagination_box a.page_current {
		background:#2E6AB1;
		color:#FFF;
		border:1px solid #9AAFE5;
	}
	.pagination_box strong {position: relative; padding: 15px 10px 8px;}


	.pagination_adv	{
		background:#e5e5e5;
		height:23px;
		padding:5px;
		font-weight:bold;
		color:#261935;
		width:430px;
		margin:0px auto;
		font-size:11px;
		border:#616161 solid 1px;
	}
	.pagination_adv	form{
		margin:0px;
		padding:0px;
		float:left;
	}
	.pagination_adv *{
		float:left;
		text-decoration:none;
		margin:0px 2px;
	}
	.pagination_adv label{
		float:left;
		text-decoration:none;
		margin:2px 2px 0px 2px;
	}
	.pagination_adv	a{
		height:20px;
		width:auto;
		overflow:hidden;
	}
	.pagination_adv .submit_btn	{
		width:30px;
		height:20px;
		border:#ABAAA8 solid 1px;
		background:#CCCCCC;
		color:#333333;
	}
	.pagination_adv .txtbox	{
		width:30px;
		height:16px;
		border:#ABAAA8 solid 1px;
	}
	.pagination_adv .txtbox1	{
		width:30px;
		height:20px;
		border:#ABAAA8 solid 1px;
	}



	/* calendar */
	table.calendar {width: 100%;}
	table.calendar thead {zoom: 1;}
	table.calendar thead tr {zoom: 1;}
	table.calendar thead th.month {border-bottom: 1px solid #bbb; font-weight: bold; font-size: 120%; zoom: 1;}
	table.calendar thead th.month a {border: none; position: relative; top: 5px; margin: 0 10px; zoom: 1;}
	table.calendar th,
	table.calendar td {width: 14.3%; text-align: center;}
	table.calendar tbody td,
	table.calendar tbody th {border: 1px solid #ddd; border-top-color: #fff; border-left-color: #fff;}
	table.calendar strong {font-size: 140%;}
	table.calendar .inactive {color: #aaa;}
	table.calendar div.items a {border: 0; margin: 0 1px;}
	
/* login page */
#login {background: #222; padding: 100px;}
#login .box {float: none; margin: 0 auto;}
#login .boxin {box-shadow: #111 0 0 10px; -webkit-box-shadow: #111 0 0 10px; -moz-box-shadow: #111 0 0 10px; border: 0;}
#login .header {padding-top: 20px; padding-bottom: 15px; margin: 0;}
#login table {width: 75%; margin: 0 auto;}
#login th,
#login td {padding: 0 0 5px 0;}
#login th {width: 60px;}
#login td.proceed {padding-right: 0;}
#login td.proceed input {margin: 0;}
#login input.txt {width: 260px;}


/* sorting styles */
.asc a, .desc a{
	font-weight:bold;
	text-decoration:none;
	border:none;
	font-size:16px;
}
.box .content table thead td.asc {
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #d5d5d5;
	background:#ddd url(../img/blue/asc.png) no-repeat right;
}
.box .content table thead td.desc {
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #d5d5d5;
	background:#ddd url(../img/blue/desc.png) no-repeat right;
}
.capfontClass {color:  #B5DDFB; text-align:right; font-weight:bold; padding-right:3px;}
  .capfontClass A {color: #B5DDFB; text-decoration:none}
  .fgClass {background-color:#C2E3FC; border:#085D9C 1px solid; padding:5px;}
  .bgClass {background-color: #085D9C;}
   .errmsg  {
		display:none;
		border:1px solid #085DA5;
		background:#D7EBFF;
		min-width:200px;
		text-align:center;
		height:20px;
		line-height:20px;
		font-size:15px;
		color:#08518C;
	}
.table_margin {
	border:1px solid #085DA5;
	margin:0px 10px;
}
.div_head  {
	padding-left:8px;
	background:#D5EAFF;
	border:1px solid #08518C;
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
	border-top-right-radius:5x;
	border-top-left-radius:5px;
	color:#08518C;
	height:30px;
	margin:10px 10px 0px 10px;
	line-height:30px;
	cursor:pointer;
}
.odd  {
	background:#ffffff;
}	
.even  {
	background:#F7FBFF;
}
