{assign var=cat value=$util->get_values_from_config('CHECK_LIST')}
<div id="dv2">
    <div class="wid90 center" style="width:500px;">
        <div class="headprt settheme">
            <div class="mdl">
                <span>{if $sm.res}Update{else}Add{/if} Check List</span>
            </div>
        </div>
	<div class="bodyprt">
            <form action="##LBL_ADMIN_SITE_URL##dutil/{if $sm.res}updateCheckList{else}insertCheckList{/if}" name="checklist" id="checklist" enctype="multipart/form-data" method="post" onSubmit="return validateCheckList();">
                <input type="hidden" name="id_checklist" id="id_checklist" value="{$sm.res.0.id_checklist}" />
                <table border="0" class="formtbl">
		    <input type='hidden' value='{$sm.caterory_reflex}' name="caterory_reflex" id="caterory_reflex"/>
		    <tr>
			<td width="136px">Category :</td>
			<td width="350px">
			    <select name="checklist[category]">
				<option value="">Select</option>
				    {html_options options=$cat selected=$sm.res.0.category}
			    </select> 
			</td>
		    </tr>
		    <tr>
			<td>Checklist Data :</td>
			<td>
			    <textarea name="checklist[checkvalue]">{$sm.res.0.checkvalue}</textarea>
			</td>
		    </tr>
		    <tr>
			<td>&nbsp;</td>
			<td>
			    <div class="settheme fltlft marginright5">
				<input type="submit" class="buton" name="submit" value="{if $sm.res}Update{else}Add{/if}"/>
			    </div>
			    <div class="settheme fltlft marginright5">
				<input type="button" class="buton" name="cancel" value="Cancel" onclick="$.fancybox.close();" />
			    </div>
			</td>
		    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{literal}
<script type="text/javascript">
    var extArray = new Array("jpg","gif", "png", "bmp", "jpeg");
	
    function validateCheckList() {
	var validator=$("#checklist").validate({
	    rules: {
		"checklist[category]":{
		    required: true
		},
		"checklist[checkvalue]":{
		    required: true
		}
	    },
	    messages: {
		"checklist[checkvalue]":{
		    required:flexymsg.required
		},
		"checklist[data]":{
		    required:flexymsg.required
		}
	    }
	});
	var x=validator.form();
		
	return x;
    }
</script>
	{/literal}