{literal}
<script>
function showcsvocrnce(id,qstart){
$.post(siteurl,{"page" : "csvuser", "choice" : "showcsvocrnce","ce" : 0, "id" : id, "qstart" : qstart},function(res){//alert(res);return false;
show_fancybox(res);
});
}

function deletecsv(id,qstart){
$('#succ_msg').html('');
var searchval = $("#search").serialize();
var conf=confirm('Are you sure to delete ?');
if(conf){
$.post(siteurl,{"page" : "csvuser", "choice" : "deletecsv", "ce" : 0, "id" : id, "qstart" : qstart, "searchval":searchval},function(res){//alert(res);return false;
messageShow("CSV deleted successfully.");
$("#csvuser_listing").html(res);
});   
}else{
return false;
}
//combo_fill();
}
</script>
{/literal}
                <div class="row-fluid">
                <div class="span12">
                  
                <!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget red">
                    <div class="widget-title">
                       
                        <h4><i class="icon-reorder"></i>CSV List</h4>
                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                        <div  class="fltrht pdngin block_ip">
                <a href="##LBL_ADMIN_SITE_URL##csvuser/userdata" title="Add CSV"  class="btn btn-success">Add</a>
            </div>
                    </div>
                    <div class="widget-body">
                     <form>
                       {if $sm.list}
                        <table class="table table-striped table-bordered" id="sample_1">
                          <thead>
                          <tr>
                                            <!--<th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes"  iid="chkall" name="chkall" />Select All</th>-->
						<th class="hidden-phone">Name</th>
						<th class="hidden-phone">Occurrence</th>
						<th class="hidden-phone">Action</th>
                            </tr>
                          </thead>
                                
                             <tbody>
                              
                            {section name=cur loop=$sm.list}
		      {assign var=x value=$sm.list[cur]}
                    <tr>
			<td>{$x.name}</td>
                        <td>{if $sm.count[$x.id]}<a href="javascript:void(0);" onclick="showcsvocrnce('{$x.id}','{$sm.next_prev->start}')">{$sm.count[$x.id]}</a>{else}0{/if}</td>
			<td>
                            {if !$sm.count[$x.id]}
			    <a href="##LBL_ADMIN_SITE_URL##csvuser/userdata/id/{$x.id}" class="actionico   clr1 tltpct"  title="Edit CSV" >
				<img src="##CSS_PATH##img/led-ico/pencil.png" alt="Edit CSV" title="Edit CSV"/>				
						</a>
                            {/if}
                            {if !$sm.count[$x.id]}
			    <a href="javascript:void(0);" class="actionico   clr1 tltpct"  title="Delete CSV" onclick="deletecsv('{$x.id}','{$sm.next_prev->start}')" >
				<img src="##CSS_PATH##img/led-ico/delete.png" alt="Delete CSV" title="Delete CSV"/>				
						</a>
                            {/if}
			    <a href="##LBL_ADMIN_SITE_URL##csvuser/userdata_list/voterslist/{$x.name}" class="actionico   clr1 tltpct"  title="View CSV Data" >
							<img src="##CSS_PATH##img/led-ico/eye.png" alt="View CSV Data"/>
						</a>
			</td>
                        </tr>
                       {/section}
                        </tbody>
                        </table>
                       {else}
                       <div>No records found....</div>
                       {/if}
                       </form>
                    </div>
                </div>
                </div>
                <!-- END EXAMPLE TABLE widget
                </div>