{literal}
<script>
    $(function(){
	chngeval='';
	option_disable();
	$(".hiddendata").attr("style","display:none;");
    });
    
    function option_disable(){
	$(".clmnselect").find('option').attr("disabled", false);
	$(".clmnselect").each(function(){
	    var sval=$(this).val();
	    $('.clmnselect option[value="'+sval+'"]').attr("disabled", true);
	    $(this).find('option[value="'+sval+'"]').attr("disabled", false);
	});
    }
    
    function managedata(flg,id){
	if(flg==1 || flg==2){
	    $(".editdata"+id).attr("style","display:none;");
	    $(".editbtn"+id).removeAttr("style");
	    $(".skipbtn"+id).removeAttr("style");
	    var saveval=(flg==2)?1:'';
		$("#save"+id).val(saveval);
		option_disable();
	}else if(flg==3){
	$(".hiddendata").attr("style","display:none;");
	$(".editdata"+id).removeAttr("style");
	$(".alleditbtn").removeAttr("style");
	$(".editbtn"+id).attr("style","display:none;");
	$(".skipbtn"+id).removeAttr("style");
	$(".uniqredsp"+id).removeAttr("style");
	$("#skipspan"+id).attr("style","display:none;");
	$("#skipdiv"+id).removeAttr("style");
    }else if(flg==4){
	$(".skipbtn"+id).attr("style","display:none;");
	$(".editdata"+id).attr("style","display:none;");
	$(".editbtn"+id).removeAttr("style");
	$(".editdatanew"+id).attr("style","display:none");
	$("#clselect"+id).removeAttr("style");
	$("#save"+id).val(2);
	var chknw=$("#newclmnchk"+id).val();
	if(chknw==1){
	$("#clmnnm"+id).val(chngeval);
	$("#clmnnm"+id).attr("style","display:none");
	$("#clselect"+id).find('option[value="'+chngeval+'"]').prop("selected", true);
	}
	$(".uniqred"+id).prop("checked",false);
	$(".uniqredsp"+id).attr("style","display:none;");
	$("#skipdiv"+id).attr("style","display:none;");
	$("#skipspan"+id).removeAttr("style");
    }else{
	$("#clmnnm"+id).val(chngeval);
	$("#clmnnm"+id).attr("style","display:none");
	$(".editdatanew"+id).attr("style","display:none");
	$(".editdatanm"+id).removeAttr("style");
	$("#clselect"+id).removeAttr("style");
	$("#clselect"+id).find('option[value="'+chngeval+'"]').prop("selected", true);
    }
    }
    
//    function setuniqueclmn(id){
//	$("#uniqvla"+id).val(1);
//    }
    function addclmnname(id){
	var clnm=$("#clmnnm"+id).val();
	$(".newclmnid").before("<option value='"+clnm+"'>"+clnm+"</option>");
	$("#clselect"+id).removeAttr("style");
	$("#clselect"+id).find('option[value="'+clnm+'"]').prop("selected", true);
	$("#clmnnm"+id).attr("style","display:none");
	$(".editdata"+id).attr("style","display:none;");
	$(".editbtn"+id).removeAttr("style");
	$(".skipbtn"+id).removeAttr("style");
	$("#save"+id).val(1);
	$(".editdatanew"+id).attr("style","display:none");
	option_disable();
    }
    function showNewFieldForm(id){
	chngeval=$("#clmnnm"+id).val();
	var slval=$("#clselect"+id).val();
	if(slval=='new'){
	$("#clmnnm"+id).removeAttr("style");
	$("#newclmnchk"+id).val(1);
	$(".editdatanew"+id).removeAttr("style");
	$(".editdatanm"+id).attr("style","display:none");
	$("#clselect"+id).attr("style","display:none");
    }else{
	$("#newclmnchk"+id).val('');
    }
    }
    
    function typeclmn(id){
	var typ=$("#typeclmn"+id).val();
	var typval='';
	if(typ=='VARCHAR' || typ=='TEXT'){
	    typval='Text Field';
	}else if(typ=='DATE'){
	    typval='Date Field';
	}else{
	   typval='Number Field'; 
	}
	$("#typflg"+id).html(typval);
    }
    
    function validatefrm(){
	var chkflg=1;
	if ($("input[name=loginval]:checked").length == 0) {
	    chkflg=0;
	    alert('Please select one column as unique');
	    return false;
	}
	if ($("input[name=passval]:checked").length == 0) {
	    chkflg=0;
	    alert('Please select one column as password');
	}
	if(chkflg){
	   return true; 
	}else{
	return false;
    }
    }
</script>
{/literal}

        <div class="headprt settheme">
             <div class="mdl">
                 <span>Manage CSV Of {$sm.csvname}</span>
             </div>
        </div>{*debug*}
	<form name="csvdata" id="csvdata" action="##LBL_ADMIN_SITE_URL##csvuser/insertcsvdata" method="post" enctype="multipart/form-data" onsubmit="return validatefrm();">
	    <input type="hidden" name="post" value='{$sm.post}' ><br>
	    <input type="hidden" name="status" value='{$sm.status}'><br>
	    <input type="hidden" name="csv[name]" value='{$sm.csvname}'><br>
	    <input type="hidden" name="filename" value='{$sm.filename}'><br>
	    <input type="hidden" name="code" value='{$sm.code}'><br>
	    <input type="hidden" name="tblid" value='{$sm.tblid}'><br>
<table border="1">
    <tr>
	{foreach from=$sm.coulmndata item=item key=key}
	<td>
	    <div>
		<!--<span>{$item.0}</span><span><input type='hidden' value='' name='uniqueval[]' id='uniqvla{$key}'><input type='checkbox' onclick='setuniqueclmn({$key});'>Unique</span><br>-->
		<div id="skipdiv{$key}"><span>{$item.0}</span>
		<span class="uniqredsp{$key}"><input type='radio' name="loginval" value="{$item.0}" class="uniqred{$key}">Unique</span><br>
		<span class="uniqredsp{$key}"><input type='radio' name="passval" value="{$item.0}" class="uniqred{$key}">Password</span><br>
		<span id="typflg{$key}" >Text Field</span><br>
		</div>
		<span id="skipspan{$key}" style="display:none;">Will not be imported</span>
		<div class="hiddendata editdata{$key}">
		<span><b>Column Name</b></span><br>
		<span>
		    <input type='text' value='{$item.0}' id='clmnnm{$key}' style='display:none;'>
		    <input type='hidden' value='' id='newclmnchk{$key}'>
		    <select name='columnnm[]' id='clselect{$key}' class='clmnselect' onchange="showNewFieldForm({$key});">
		    <option value="">Make a Selection</option>
		    <optgroup label="Create a New Column">
			{foreach from=$sm.coulmndata item=itc key=kyc}
			{if $itc.1==0}
			<option value="{$itc.0}" {if $item.0==$itc.0}selected=selected{/if}>{$itc.0}</option> 
			{/if}
			{/foreach}
			<option value="new" class="newclmnid">New column name</option> 
		    </optgroup>
		    <optgroup label="Available Column Name">
			{foreach from=$sm.coulmndata item=itc key=kyc}
			{if $itc.1==1}
			<option value="{$itc.0}" {if $item.0==$itc.0}selected=selected{/if}>{$itc.0}</option> 
			{/if}
			{/foreach}
		    </optgroup>
		    </select></span><br>
		    <span><b>Field Type</b></span><br>
		    <span>
			<select name='datatyp[]'  id="typeclmn{$key}" onchange="typeclmn({$key});">
			    <option value="VARCHAR">VARCHAR</option>
			    <option value="TEXT">TEXT</option>
			    <option value="DATE">DATE</option>
			    <option value="INT">INT</option>
			    <option value="BIGINT">BIGINT</option>
			</select>
			</span>
		    </div><br>
		<span>
		    <input type="button" class="hiddendata editdata{$key} editdatanm{$key}" value="Back" onclick="managedata(1,{$key});">
		    <input type="button" class="hiddendata editdata{$key} editdatanm{$key}" value="Save" onclick="managedata(2,{$key});">
		    <input type="button" class="hiddendata editdatanew{$key}" value="Cancel" onclick="managedata(5,{$key});">
		    <input type="button" class="hiddendata editdatanew{$key}" value="Save" onclick="addclmnname({$key});">
		    <input type="button"  class="editbtn{$key} alleditbtn" value="Edit" onclick="managedata(3,{$key});">
		    <input type="button"  value="Skip" class="skipbtn{$key}" onclick="managedata(4,{$key});">
		    </span>
		   <input type="hidden" name="oldclmnm[]" value='{$item.0}' id='oldclmnm{$key}'><br>
		    <input type="hidden" name="save[]" value='' id='save{$key}'><br>
	    </div><br><br>
	    <div>
		<span>{$item.0}</span><br>
		{foreach from=$sm.data[$item.0] item=it key=ky}
		<!--<input type='hidden1' value='{$it}' name='csvval[{$key}][]'>-->
		<span>{$it}</span><br>
		{/foreach}
	    </div>
	</td>
	{/foreach}
    </tr>
    <tr><td><input class="myButton userbuton" type="submit" value="SUBMIT" id="csvsubmit"></td></tr>
</table>
	</form>
    
