<div class="makebox center">
    <div class="headprt settheme">
        <div class="mdl">
            <div  class="fltrht">
            </div>
            <span>Related Elections({$sm.next_prev->total})</span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="bodyprt">
            <table  class="tbl_listing">
            {if $sm.list}
                <thead>
                    <tr>
                        <th>Election name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Type</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                      {section name=cur loop=$sm.list}
		      {assign var=x value=$sm.list[cur]}
                    <tr>
                        <td>{$x.name}</td>
                        <td>{if $x.start_date}{$x.start_date|date_format:"%d-%m-%y %H:%M"}{else}NA{/if}</td>
                        <td>{if $x.end_date}{$x.end_date|date_format:"%d-%m-%y %H:%M"}{else}NA{/if}</td>
                        <td>
                                                {if $x.type == 1}
                                                        <img src="##CSS_PATH##img/led-ico/allpost2.png" title="All Post"/>
                                                {else}
                                                        <img src="##CSS_PATH##img/led-ico/postwise2.png" title="Post wise"/>
                                                {/if}
                        </td>
                        <td>
                                                {if $x.status_flag != 1}
                                                        <img src="##CSS_PATH##img/led-ico/pending2.png" title="Pending"/>
                                                {else}
                                                {if $x.end_date < $sm.today}
                                                        <img src="##CSS_PATH##img/led-ico/completed2.png" title="Completed"/>
                                                {elseif $x.start_date > $sm.today}
                                                        <img src="##CSS_PATH##img/led-ico/upcoming2.png" title="Upcoming"/>
                                                {elseif $x.start_date < $sm.today && $x.end_date > $sm.today}
                                                        <img src="##CSS_PATH##img/led-ico/ongoing2.png" title="Ongoing"/>
                                                
                                                {/if}
                                                {/if}
                        </td>
                    </tr>
                    {/section}
                    </tbody>
			</table>
			{else}
			<div>No record found..</div>
			{/if}
                        <div class="pagination_box" align="center">{$sm.next_prev->generate()}
			</div>
			</div>
		</div>

