{literal}
<script>
    function add(id,qstart,name){
	$.post(siteurl,{"page" : "csvuser", "choice" : "adduser","id":id,"qstart":qstart,"name":name,"ce" : 0},function(res){
        show_fancybox(res);
    });
    }
        function downlode(id){
//            var id = {/literal}{$sm.id_voters}{literal};
            window.location.href = siteurl+"csvuser/downlodefile/id/{/literal}{$sm.id_csvtbl}{literal}";
        }

function deletuser(qstart,name){
var searchval = $("#search").serialize();
var id=$('input:checkbox:checked.chkbox').map(function(){
return this.value; }).get().join(",");
var conf=confirm('Are you sure to delete ?');
if(conf && id){
$.post(siteurl,{"page" : "csvuser", "choice" : "deleteusers", "ce" : 0, "id" : id, "qstart" : qstart,"voterslist":name, "searchval":searchval},function(res){//alert(res);return false;
messageShow("Voters deleted successfully.");
$("#csvuser_userdata_list").html(res);
});   
}else{
return false;
}
}

$(document).ready(function() {

    $('#checkAll').click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });

    $("[id*=chkbox]").change(function () {
        if ($('input[id*=chkbox][type=checkbox]:checked').length == $('input[id*=chkbox][type=checkbox]').length) {
            $('#checkAll').prop('checked', true);
        } else {
            $('#checkAll').prop('checked', false);
        }
    });

});
</script>
{/literal}
<div class="row-fluid">
<div class="span12">

<!-- BEGIN EXAMPLE TABLE widget-->
<div class="widget red">
    <div class="widget-title">

        <h4><i class="icon-reorder"></i>User Listing ({$sm.next_prev->total})</h4>
            <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>
                <a href="javascript:;" class="icon-remove"></a>
            </span>
        <div  class="fltrht pdngin block_ip">
  <a href="javascript:void(0);" onclick="add('{$sm.namedata.id}','{$sm.next_prev->start}','{$sm.namedata.name}');" class="btn btn-success">Add</a>
  <a href="javascript:void(0);" onclick="deletuser('{$sm.next_prev->start}','{$sm.namedata.name}');" class="btn btn-success">Delete</a>
  <a href="javascript:void(0);" onclick="downlode('{$sm.id_voters}');" class="btn btn-success">Download List</a>
 </div>
    </div>
    <div class="widget-body">
     <form>
       {if $sm.list}
        <table cellspacing="0" class="table table-striped table-bordered" id="attr_tbl">
                   <thead>
                        <thead>
                    <tr>
                         <th><input type="checkbox" class="checkAll" id="checkAll">Check All</th>
			{foreach from=$sm.clmnm item=ith key=kyh}
			 <th>{$ith}</th>
			{/foreach}
                    </tr>
                </thead>
                <tbody>
                      {section name=cur loop=$sm.list}
		      {assign var=x value=$sm.list[cur]}
                    <tr>
                          <td><input type="checkbox" class="chkbox" value="{$x.id_csvtbl}" id="chkbox{$x.id_csvtbl}"></td>
			{foreach from=$sm.clmnm item=itv key=kyv}
                        {if $itv=='Password'}
                        <td>{$x.login_pass}</td>
                        {elseif $itv=='Username'}
			<td>{$x.login_data}</td>
                        {else}
			<td>{$x[$itv]}</td>
                        {/if}
			{/foreach}
                    </tr>
                    {/section}
                    </tbody>
        </table>
       {else}
       <div>No records found....</div>
       {/if}
       </form>
    </div>
 <div class="pagination_box">
<div align="center">{if !$sm.id_cat}{$sm.next_prev->generate()}{/if}</div>
</div>
</div>
</div>