{assign var=image_limit value=$util->get_values_from_config(IMAGE)}
{literal}
 <script>
$.validator.prototype.checkForm = function() {
 //overriden in a specific page
this.prepareForm();
for (var i = 0, elements = (this.currentElements = this.elements()); elements[i]; i++) {
if (this.findByName(elements[i].name).length !== undefined && this.findByName(elements[i].name).length > 1) {
 for (var cnt = 0; cnt < this.findByName(elements[i].name).length; cnt++) {
 this.check(this.findByName(elements[i].name)[cnt]);
}
} else {
this.check(elements[i]);
}
}
return this.valid();
};

$.validator.prototype.showErrors=function(errors) {
if(errors) {
// add items to error list and map
$.extend( this.errorMap, errors );
this.errorList = [];
for ( var name in errors ) {
this.errorList.push({
message: errors[name],
/* NOTE THAT IM COMMENTING THIS OUT
element: this.findByName(name)[0]
*/
element: this.findById(name)[0]
});
}
// remove items from success list
this.successList = $.grep( this.successList, function(element) {
return !(element.name in errors);
});
}
this.settings.showErrors
? this.settings.showErrors.call( this, this.errorMap, this.errorList )
: this.defaultShowErrors();
};

$.validator.prototype.findById=function( id ) {
// select by name and filter by form for performance over form.find(“[id=…]”)
var form = this.currentForm;
return $(document.getElementById(id)).map(function(index, element) {
return element.form == form && element.id == id && element || null;
});
};
</script>
<style type="text/css">
label.error{
font-size:12px;
display:block;
}
.addproductfancy_admin{display:none;}
</style>
<script type="text/javascript">
$(document).ready(function(){ 
var prod_name = "{/literal}{$sm.res.name}{literal}";
var code = "{/literal}{$sm.res.code}{literal}";
var pname = "{/literal}{$sm.pname}{literal}";
$('#name_product').val(prod_name);
$('#code_product').val(code);
$("#pname1").val(pname);
});
 var extArray = new Array("jpg","gif", "png","jpeg","bmp");

function validateProduct() {
if($('#product_error_name').html() || $('#product_error_code').html()){
$('#product_error_name').html('');
$('#product_error_code').html('');
}
var validator=$("#adminaddproduct").validate({
rules: {
"product[name]": {
required:true
},
"product[description]":{
required: true
},
"product[code]": {
required:true
},
"image[]": {
 required:true
}
},
messages: {
"product[name]":{
required:flexymsg.required
},
"product[description]":{
required:flexymsg.required
},
"product[code]": {
required:flexymsg.required
},
"image[]": {
required:flexymsg.required
}
}
});
return validator.form();
}

    function callbackFun(response) {
	if(response=='no'){
	    $('#product_error_code').html('<font color="red">This code already exist.Choose another one</font>');
	    $('#code_product').val('').focus();
	}else if(response=='noname'){
	    $('#product_error_name').html('<font color="red">This name already exist.Choose another one</font>');
	    $('#name_product').val('').focus();
	}else{
	    var id_product = $('#id_product').val();
	    if(id_product){
		if($('#caterory_reflex').val()){
		    window.location.href = siteurl + "/category/listing/msg/2";
		}else{
		    messageShow("Product updated successfully.");//$('#succ_msg').html('<font color="red">'+"Product updated successfully"+'</font>');
		}
	    }else{
		if($('#caterory_reflex').val()){
		    var newUrl = siteurl + "category/listing/";
		    window.location.href = newUrl;
		}else{
		    messageShow("Product added successfully.");//$('#succ_msg').html('<font color="red">'+"Product added successfully"+'</font>');
		}
	    }
	    $.fancybox.close();
	    $('#product_listing').html(response);

	}
    }
    function convertMe(obj){
	var cval=obj.value;
	var pattern=/[-\s]/g;
	var nval=cval.replace(pattern,"");
	nval = nval.toLowerCase();
	if($('#product_error_name').html() || $('#product_error_code').html()){
	    $('#product_error_name').html('');
	    $('#product_error_code').html('');
	}
	{/literal}
	var pname ="{$sm.res.name}";
	{literal};
	var chkV= $('#name_product').val(); 
	if(pname != chkV){
	    chkNameCodeExit('name',nval,"code_product");
	}
    }

    var code1,kc,cc;
    function chkSpecialChars(e) {
	code1 = e.which;
	if(!code1){
	    code1=e.keyCode;
	}
	kc=e.keyCode;
	cc=e.charCode;
	if(kc==8 && cc==0){//For Backspace
	    return true;
	}else if(kc==46 && cc==0){//For Delete
	    return true;
	}else if(kc==36 && cc==0){//For Home
	    return true;
	}else if(kc==35 && cc==0){//For End
	    return true;
	}else if(kc==39 && cc==0){//For Forward Key
	    return true;
	}else if(kc==37 && cc==0){//For Backward Key
	    return true;
	}else if(kc==9 && cc==0){//For Tab
	    return true;
	}else if(kc==46 || cc==46){
	    return true;
	}else if(kc==95 || cc==95){
	    return true;
	}else if(kc==32 || cc==32){
	    return false;
	}else if(97<=cc && cc<=122){
	    return true;
	}else if(97<=kc && kc<=122){
	    return true;
	}else if(65<=cc && cc<=90){
	    return true;
	}else if(65<=kc && kc<=90){
	    return true;
	}else if(48<=cc && cc<=57){
	    return true;
	}else if(48<=kc && kc<=57){
	    return true;
	}else{
	    return false;
	}	
    }

    function chkNameCodeExit(chkName, fval, target){
	if($('#product_error_code').html()){
	    $('#product_error_code').html('');
	}
	if(chkName == 'name'){
	    var chkVal	= $('#name_product').val();
	}else{
	    var chkVal	= $('#code_product').val();
	}
	var id_category	= ($('#id_category').val() == undefined) ? "" : $('#id_category').val();
	var id_product	= ($('#id_product').val() == undefined) ? "" : $('#id_product').val() ;
	if(chkVal){
	    $.post(siteurl,{"page":"product","choice":"checkValue",ce:0,'keyName':chkName, 'keyValue':chkVal,'id_category':id_category,'id_product' : id_product},function(res){
		if(res == 'exist'){
		    if(chkName == 'name'){
			$("#code_product").val('');
		    }
		    $('#product_error_'+chkName).html("<font color='red'>This "+chkName+" already exist.Choose another one</font>");
		    $("#" + chkName + "_product").val('').focus();
		}else{
		    if(fval != '' && chkName == 'name'){
			$("#"+target).val(fval);
		    }
		    $('#product_error_' + chkName).html('');		    
		}
	    });
	}else{
	    return false;
	}
    }

    var imgId = 1;
    function showPreviewImage(imgId){
	$(".login_btn").attr('disabled', 'disabled');//code to avoid submit before the image is loaded completely.
	var imgName=$('#image'+imgId).val();
	if(imgName){
	    if(checkExt(imgId)){
		var prevUrl = siteurl + "product/previewImage/imgId/"+imgId+"/ce/0/";
		$.ajaxFileUpload({
		    url : prevUrl,
		    secureuri:false,
		    fileElementId:'image'+imgId,
		    dataType: 'json',		    
		    complete: function (data, status){	
			var z = data.responseText;
			var img="<img src='##PREVIEW_THUMB_PATH##"+z+"' width='100' height='100' />";
			$('#prev_img'+imgId).val(z);
			$('#hid_image').val(z);
			$('#r'+imgId).html(img+"<span id='remove_link'"+imgId+"'><a href='javascript:void(0);' onClick='removeFormField( "+imgId+"); return false;'>Remove</a></span>");

			var count_img = parseInt($('#imagecnt').val());
			if(count_img){
			    var count_img = ($('.imageclass1').length + count_img);
			}else{
			    var count_img=$('.imageclass1').length;	
			}
			var imgLimit = parseInt($("#imgLimit").html());
			if(count_img == imgLimit){
			    $('#count_img_num').hide();
			}
			$(".login_btn").removeAttr("disabled");
		    }
		});
	    }
	}else{
	    return false;
	}
    }
    function checkExt(imgId) {	    
	var tot_file = $('#adminaddproduct').find('input[class="imageclass"]');
	if (tot_file.length < 1){
	    return false;
	}else{
	    var form_submit = false, j = 0, i = 0, file_val = new Array();
	    for(i=0; i < tot_file.length; i++){
		file_val[i] = $('#adminaddproduct').find('input[class="imageclass"]').eq(i).val();
		if(file_val[i] == ""){
		    continue;
		}
		form_submit = false;
		file_val[i] = file_val[i].toLowerCase();
		var chk = (/[.]/.exec(file_val[i])) ? /[^.]+$/.exec(file_val[i]) : undefined;
		for (var k = 0; k < extArray.length; k++) {
		    if (extArray[k] == chk) {
			form_submit = true;
			if($('.invalid_ext').html()!=null){
			    $('.invalid_ext').remove();
			}
		    }
		}
		if (form_submit == false) {
		    j=i;
		}
	    }
	}
	if(form_submit){
	    return true;
	}else{	    
	    var sp = '<div class="invalid_ext">This is not a valid file extension.</div>';
	    alert("Please only upload ."+ (extArray.join("/")) + " files\nPlease select a new file to upload and submit again.");
	    if($('.invalid_ext').html()==null){
		$('#adminaddproduct').find('input[class="imageclass"]').eq(j).after(sp);
	    }
	    $('#image'+imgId).val("");
	    return false;
	}
    }

    
    function addFormField() {
	var id = $("#id").val();
//	var tot_file = $('#adminaddproduct').find('input[class="imageclass1"]');
//	var file_val = new Array();alert(file_val);
//	for(i=0; i<tot_file.length; i++){
//	    file_val[i] = $('#adminaddproduct').find('input[class="imageclass1"]').eq(i).val();
//	    if(file_val[i] == ""){
//		$('#r'+parseInt(id-1)).html('<font color="red"><Br>This field is required</span>');
//		return false;
//	    }
//	}
	$("#divTxt").append("<p id='row" + id + "'><input type='file' size='20' name='image[]' class='imageclass' id='image" + id + "'  onchange='showPreviewImage("+id+");'><input type='hidden' name='prev_img[]' id='prev_img" + id + "' class='imageclass1' ><span id='r" + id + "'></span><p>");
	id = (id - 1) + 2;
	$("#id").val(id);
    }

    function removeFormField(id) {
	if($('#prev_img'+id).val()){
	    $.post(siteurl,{"page":"product","choice":"unlinkPreviewImage",'img_name':$('#prev_img'+id).val(),ce:0},function(res){});
	}
	if($('#image'+id).val()){
	    $('#image'+id).val('');
	}
	var file_val=new Array();
	var tot_file = $('#adminaddproduct').find('input[class="imageclass1"]');
	for(i=0;i<tot_file.length;i++){
	    file_val[i] = $('#adminaddproduct').find('input[class="imageclass1"]').eq(i).val();
	}
	$('#prev_img'+id).val('');
	if(file_val.length==1){
	    $('#r'+id).html('');
	}else{
	    $('#row'+id).remove();
	}
	var imgLimit = parseInt($("#imgLimit").html());
	if($('.imageclass1').length <= imgLimit){
	    $('#count_img_num').show();
	}
    }

    function deleteProductImage(id_image,image_name){
	if(confirm("Are you sure to delete this image ?")){
	    $.post(siteurl,{"page":"product", "choice":"deleteProductImage", "ce":0, "id_image":id_image,"image_name":image_name},function(res){
		if(res == 1){
		    $('#imagecnt').val($('#imagecnt').val() - 1);
		    $("#imgEdit_"+id_image).remove();
		    $("#count_img_num").show();
		}else{
		    return false;
		}
	    });
	}else{
	    return false;
	}
    }		
</script>

{/literal}
<!--done by gayatree starts-->
<div id="dv2">
    <div style="width:600px;">
      <div class="row-fluid">
<div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget green">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>{if $sm.res}Update{else}Add{/if} Product</h4>
<!--                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>-->
                            </div>
                            <div class="widget-body">
                              <form action="##LBL_ADMIN_SITE_URL##product/{if $sm.res}updateProduct{else}insertProduct{/if}/ce/0/" name="adminaddproduct" id="adminaddproduct" enctype="multipart/form-data" method="post" onsubmit="return AsyncUpload.submitForm(this, validateProduct, callbackFun);">
                                <input type="hidden" name="product[image_type]" value="2" />
                <input type="hidden" name="product[id_user]" value="{$smarty.session.id_user}" /> 
                <input type="hidden" name="qstart" value="{$sm.qstart}" />   
                <input type="hidden" id="referer" name='referer' value="{$sm.referer}" />
                <input type="hidden" name="id_product" id="id_product" value="{$sm.res.id_product}" />
                <input type="hidden" name="pro_cod" value="{$sm.res.code}" />
								<input type="hidden" name="pname" id="pname1" value="" />
								<input type="hidden" name="product_category" id="product_cat" value="{$sm.product_category}" />
                                <table class="table table-striped">
                                  {if $sm.active_cat==1}
		    <input type='hidden' value='{$sm.caterory_reflex}' name="caterory_reflex" id="caterory_reflex"/>
<!--                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                    </tr>
                                    </thead>-->
                                    <tbody>
                                    <tr>
                                        <td>Category :</td>
                                        <td>
					{if !$sm.cat_flag}
			    <select name="product[id_category]" id="id_category">
				{html_options options=$sm.category selected= $sm.id_category}
			    </select> 
					{else}
					{assign var=indx value=$sm.id_category}
					{$sm.category.$indx}
					<input type="hidden" name="product[id_category]" value="{$indx}" id="id_category"/>
					{/if} 
					
<!--					<select name="product[id_category]" id="id_category" multiple="multiple" style="display: none;" value="name[]"></select>-->
			</td>
<!--                                        <td>Otto</td>
                                        <td>@mdo</td>-->
                                    </tr>
                                    {/if}
                                    <tr>
                                        <td>Name :</td>
                                        <td>
			    <input type="text" class="txt" name="product[name]" id="name_product" value="{*$sm.res.name*}" {if !$sm.res.code}onblur="convertMe(this);"{else}onblur="chkNameCodeExit('name','','');"{/if} />
				
			    <span id='product_error_name'></span>
			</td>
<!--                                        <td>Thornton</td>
                                        <td>@fat</td>-->
                                    </tr>
                                    {if !$sm.res.code}
                                    <tr>
                                        <td>Code :</td>
                                        <td>
			    <input type="text" name="product[code]" id="code_product" value="{*$sm.res.code*}" onblur="chkNameCodeExit('code', '', '');" onkeypress="return chkSpecialChars(event);"/>
			   
			    <span id='product_error_code'></span>
			</td>
<!--                                        <td>the Bird</td>
                                        <td>@twitter</td>-->
                                    </tr>
                                    {/if}
                                    <tr>
			<td>Description :</td>
			<td>
			    <textarea name="product[description]" id="description" >{$sm.res.description}</textarea>
			</td>
		    </tr>
            {if $sm.res.video}
		    <tr>
			<td>Current Video:</td>
			<td>
			    {$sm.res.video}
			    <a href="javascript:void(0);" onclick="delete_product_video('{$sm.res.code_product}','{$sm.res.video}','{$sm.res.id_product}');">Delete</a>
			</td>
		    </tr>
		    <tr>
			<td>Update Video:</td>
			<td><input type="file" name="video1" id="video1" /></td>
		    </tr>
		    {/if}
            <tr>
			<td colspan="2" align="center">Maximum <span id="imgLimit">{$image_limit.number}</span> number of image can be uploaded.</td>
		    </tr>
            <tr>
<!--		    <input type="hidden" name="imagecnt" id="imagecnt" value="{$sm.imgs|@count}"/>-->
		    {*assign var=mulImgCnt value=$sm.imgs|@count|default:0*}
		    {assign var=mulImgCnt value=0}
				{section name=cur loop=$sm.imgs}
			    {assign var=im value=$sm.imgs[cur]}
					{if $im.image_name}
					{assign var=mulImgCnt value=$mulImgCnt+1}
					{/if}
			    {/section}
				<input type="hidden" name="imagecnt" id="imagecnt" value="{$mulImgCnt}"/>
		    <td>Image:</td>
		    <td>
			<div id="divTxt">
			    {if $mulImgCnt < $image_limit.number}
			    <p id='row1'>
				<input type="file" name="image[]" id="image1" class="imageclass" onchange="showPreviewImage(1);" />
				<input type="hidden" name="prev_img[]" id="prev_img1" class="imageclass1"/>
				<span id="r1"></span>
			    </p>
			    {/if}
			</div>
			{if $sm.imgs}
			<div id=''><!--edit case for design-->
			    {section name=cur loop=$sm.imgs}
			    {assign var=im value=$sm.imgs[cur]}
					{if $im.image_name}
			    <p id="imgEdit_{$im.id_image}">
				<img src="##IMAGE_THUMB_PATH##product/{$im.id_image}_{$im.image_name}"  alt="no image" />
				<a href='javascript:void(0);' onClick="deleteProductImage('{$im.id_image}','{$im.image_name}'); return false;">Remove</a>
			    </p>		    
					{/if}
			    {/section}
			</div>
			{/if}
		    </td>
		    </tr>
            <tr>
			<td></td>
			<td style="padding-left:5px;">
			    {*if $mulImgCnt < $image_limit.number*}
			    <span id="count_img_num" {if $mulImgCnt >= $image_limit.number}style="display:none"{/if} >
				  <a href="javascript:void(0);" onClick="addFormField(); return false;" >Add More Image(s)</a>
			    </span>
			    {*/if*}
			    <input type="hidden" id="id" value="2" />
			</td>
		    </tr>
            
            
            
            
                                    
                                    </tbody>
                                </table>
                                <div class="form-actions" align="center">
<!--<button class="btn btn-success" type="submit" name="submit" value="{if $sm.res}Update{else}Insert{/if}"></button>-->
<input type="submit" class="btn btn-success" name="submit" value="{if $sm.res}Update{else}Insert{/if}" />
<!--<button class="btn" type="button" value="Cancel" onclick="$.fancybox.close();">Cancel</button>-->
<input type="button" class="btn btn-success" value="Cancel" onclick="$.fancybox.close();" />

</div>
                                
                                
                                
                                </form>
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
        </div>
      </div>
  </div>
<!--done by gayatree ends-->








