{literal}
<script type="text/javascript">
    var extArray = new Array("jpg","gif", "png","jpeg","bmp");
	
    function validateProduct() {
	var validator=$("#adminaddproduct").validate({
	    rules: {
		"product[name]": {
		    required:true
		},
		"product[description]":{
		    required: true
		},
		"product[code]": {
		    required:true
		}
	    },
	    messages: {
		"product[name]":{
		    required:flexymsg.required
		},
		"product[description]":{
		    required:flexymsg.required
		},
		"product[code]": {
		    required:flexymsg.required
		}
	    }
	});
	return validator.form();
    }
	
    function callbackFun(response) {
	if(response=='no'){
	    $('#product_error_code').html('This code already exist.Choose another one');
	    $('#code_product').val('').focus();
	}else if(response=='noname'){
	    $('#product_error_name').html('This code already exist.Choose another one');
	    $('#name_product').val('').focus();
	}else{
	    var id_product = $('#id_product').val();
	    if(id_product){
		if($('#caterory_reflex').val()){
		    window.location.href = siteurl + "/category/listing/msg/2";
		}else{
				messageShow("Product updated successfully");
//		    $('#succ_msg').html('<font color="red">'+"Product updated successfully"+'</font>');
		}
	    }else{
		if($('#caterory_reflex').val()){
		    var newUrl = siteurl + "category/listing/";
		    window.location.href = newUrl;
		}else{
				messageShow('Product added successfully');
//		    $('#succ_msg').html('<font color="red">'+"Product added successfully"+'</font>');
		}
	    }
	    $.fancybox.close();
	    $('#product_listing').html(response);
	}
    }
	
    function convertMe(obj){
	var cval=obj.value;
	var pattern=/[-\s]/g;
	var nval=cval.replace(pattern,"");
	nval = nval.toLowerCase();
	chkNameCodeExit('name', nval, 'code_product');
    }

    var code1,kc,cc;
    function chkSpecialChars(e) {
	code1 = e.which;
	if(!code1){
	    code1=e.keyCode;
	}
	kc=e.keyCode;
	cc=e.charCode;
	if(kc==8 && cc==0){//For Backspace
	    return true;
	}else if(kc==46 && cc==0){//For Delete
	    return true;
	}else if(kc==36 && cc==0){//For Home
	    return true;
	}else if(kc==35 && cc==0){//For End
	    return true;
	}else if(kc==39 && cc==0){//For Forward Key
	    return true;
	}else if(kc==37 && cc==0){//For Backward Key
	    return true;
	}else if(kc==9 && cc==0){//For Tab
	    return true;
	}else if(kc==46 || cc==46){
	    return true;
	}else if(kc==95 || cc==95){
	    return true;
	}else if(kc==32 || cc==32){
	    return false;
	}else if(97<=cc && cc<=122){
	    return true;
	}else if(97<=kc && kc<=122){
	    return true;
	}else if(65<=cc && cc<=90){
	    return true;
	}else if(65<=kc && kc<=90){
	    return true;
	}else if(48<=cc && cc<=57){
	    return true;
	}else if(48<=kc && kc<=57){
	    return true;
	}else{
	    return false;
	}	
    }
	
    function chkNameCodeExit(chkName, fval, target){
	if(chkName == 'name'){
	    var chkVal	= $('#name_product').val();
	}else{
	    var chkVal	= $('#code_product').val();
	}
	var id_category	= ($('#id_category').val() == undefined) ? "" : $('#id_category').val() ;
	var id_product	= ($('#id_product').val() == undefined) ? "" : $('#id_product').val() ;
	
	if(chkVal){
	    $.post(siteurl,{"page":"product","choice":"checkValue",ce:0,'keyName':chkName, 'keyValue':chkVal,'id_category':id_category, 'id_product' : id_product},function(res){
		if(res == 'exist'){
		    if(chkName == 'name'){
			$("#code_product").val('');
		    }
		    $('#product_error_'+chkName).html("<font color='red'>This "+chkName+" already exist.Choose another one</font>");
		    $("#" + chkName + "_product").val('').focus();
		}else{
		    if(fval != '' && chkName == 'name'){
			$("#"+target).val(fval);
		    }
		    $('#product_error_' + chkName).html('');		    
		}
	    });
	}else{
	    return false;
	}
    }
	
    function showPreviewImage(){
	var imgName=$('#image').val();
	if(imgName){
	    if(checkExt()){
		var prevUrl = siteurl + "product/previewImage/ce/0/";
		$.ajaxFileUpload({
		    url : prevUrl,
		    secureuri:false,
		    fileElementId:'image',
		    dataType: 'json',
		    complete: function (data, status){
			var z = data.responseText;
			var img="<img src='##PREVIEW_THUMB_PATH##"+z+"' />";
			$('#prev_img').val(z);
			$('#prev_image').show();
			$('#pi').html(img);
		    }
		});
	    }
	}else{
	    return false;
	}
    }
	
    function checkExt() {
	var tot_file = $('#adminaddproduct').find('input[class="i"]');
	if (tot_file.length<1){
	    return false;
	}else{
	    var form_submit = false, j = 0, i = 0, file_val = new Array();
	    file_val[i] = $('#adminaddproduct').find('input[class="i"]').eq(i).val();
	    file_val[i] = file_val[i].toLowerCase();
	    var chk = (/[.]/.exec(file_val[i])) ? /[^.]+$/.exec(file_val[i]) : undefined;
	    for (var k = 0; k < extArray.length; k++) {
		if (extArray[k] == chk) {
		    form_submit = true;
		    if($('.invalid_ext').html()!=null){
			$('.invalid_ext').remove();
		    }
		}
	    }
	    if (form_submit == false) {
		j=i;
	    }
	}
	if(form_submit){
	    return true;
	}else{
	    var sp = '<div class="invalid_ext">This is not a valid file extension.</div>';
	    alert("Please only upload ."+ (extArray.join("/")) + " files\nPlease select a new file to upload and submit again.");
	    if($('.invalid_ext').html()==null){
		$('#adminaddproduct').find('input[class="i"]').eq(j).after(sp);
	    }
	    $('#image').val("");
	    return false;
	}
    }
	$(document).ready(function(){
		$('.formtbl').each(function(){
			$(this).find('tr:even').addClass('even');
		});
		
				var prod_name = "{/literal}{$sm.res.name}{literal}";
				var code = "{/literal}{$sm.res.code}{literal}";
				var pname = "{/literal}{$sm.pname}{literal}";
				$('#name_product').val(prod_name);
				$('#code_product').val(code);
				$("#pname").val(pname);
	});
</script> 
<style>
    label.error	{
	color:#FF0000;
	font-size:15px;
	display:block;
    }
</style>
{/literal}
<div id="dv2">
	<div class="wid90 center" style="width:500px;">
    	<div class="headprt settheme">
            <div class="mdl">
                <span>{if $sm.res}Update{else}Add{/if} Single Image Product</span>
            </div>
        </div>
        <div class="bodyprt">
        	<form action="##LBL_ADMIN_SITE_URL##product/{if $sm.res}updateProduct{else}insertProduct{/if}/ce/0" name="adminaddproduct" id="adminaddproduct" enctype="multipart/form-data" method="post" onsubmit="return AsyncUpload.submitForm(this, validateProduct, callbackFun);">
			<input type="hidden" name="product[image_type]" value="1" />
			<input type="hidden" name="product[id_user]" value="{$smarty.session.id_user}" /> 
			<input type="hidden" name="qstart" value="{$sm.qstart}" />   
			<input type="hidden" id="referer" name='referer' value="{$sm.referer}" />
			<input type="hidden" name="id_product" id="id_product" value="{$sm.res.id_product}" />
			<input type="hidden" name="pname" id="pname" value="{$sm.pname}" />
			<input type="hidden" name="product_category" id="product_cat" value="{$sm.product_category}" />
			<table border="0" width="92%" height="300" align="center" class="formtbl">
			    {if $sm.active_cat==1}
				<input type='hidden' value='{$sm.caterory_reflex}' name="caterory_reflex" id="caterory_reflex"/>
				<tr>
				    <td>Category :</td>
				    <td>
								{if !$sm.cat_flag}
					<select name="product[id_category]" id="id_category" >
					    {html_options options=$sm.category selected= $sm.id_category}
					</select> 
								{else}
									{assign var=indx value=$sm.id_category}
									{$sm.category.$indx}
									<input type="hidden" name="product[id_category]" value="{$indx}" id="id_category"/>
								{/if} 
				    </td>
				</tr>
			    {/if}
			    <tr>
				<td>Name :</td>
				<td>
				    <input type="text" class="txt" name="product[name]" id="name_product" value="{$sm.res.name}" {if !$sm.res.code}onblur="convertMe(this);"{else}onblur="chkNameCodeExit('name','','');"{/if} />
					   <br/>
				    <span id='product_error_name'></span>
				</td>
			    </tr>
			    {if !$sm.res.code}
			    <tr>
				<td>Code :</td>
				<td>
				    <input type="text" name="product[code]" style="width:218px;" id="code_product" value="{$sm.res.code|escape}" onblur="chkNameCodeExit('code', '', '');" onkeypress="return chkSpecialChars(event);"/>
				    <br/>
				    <span id='product_error_code'></span>
				</td>
			    </tr>
			    {/if}
			    <tr>
				<td>Description :</td>
				<td>
				    <textarea name="product[description]" id="description" >{$sm.res.description}</textarea>
				</td>
			    </tr>

			    {if $sm.res.image}
			    <tr>
				<td>Current image :</td>
				<td>
				    <img src="##IMAGE_THUMB_PATH##product/{$sm.res.id_product}_{$sm.res.image}" /> 
				    <input type="hidden" name="previmage" id="previmage" value="{$sm.res.image}" />
				</td>
			    </tr>
			    {/if}
			    <tr>
				<td>Image :</td>
				<td>
				    <div id="divTxt">
					<input type="file" name="image" id="image" class="i" onchange="showPreviewImage();" />  
					<input type="hidden" name="prev_img" id="prev_img" value="{$sm.res.image}" />
				    </div>
				</td>
			    </tr>
			    <tr id="prev_image" style="display:none;">
				<td id="si">Selected Image :</td>
				<td id="pi"></td>
			    </tr>
			    <tr>
				<td>&nbsp;</td>
				<td>
                	
				    <div class="fltlft settheme"><input type="submit" class="buton" name="submit" value="{if $sm.res}Update{else}Add{/if}"/></div>
				    <div class="fltlft settheme mrglft1"><input type="button" class="buton" name="cancel" value="Cancel" onclick="$.fancybox.close();" /></div>
				</td>
			    </tr>
			</table>
		    </form>
        </div>
    </div>    
</div>