<div id="gallery">
    <ul>
	{foreach from=$sm.data item=item key=key}
	<li>{if $item}
	    <a href="##IMAGE_ORIG_PATH##product/{$key}_{$item}">
					<img src="##IMAGE_THUMB_PATH##product/{$key}_{$item}" width="72px" height="72px" alt=""/>
	    </a>
			{else}
			<img src="##TEMP_COM_IMG##defaultnoImage.jpg"  alt="no image"/>
			{/if}
	</li>
	{/foreach}
    </ul>
</div>
{literal}
<script type="text/javascript">
    $(function() {
	$('#gallery a').lightBox();
    });
</script>	
{/literal}
