{literal}
<style typde="text/css">
  .productdetailfancy_admin{display:none;}
  </style>
{/literal}
<!--done by gayatree starts-->
<div style="width:600px;">
  <div class="row-fluid">
<div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget green">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i> {*$sm.res.name*} Product Detail</h4>
<!--                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>-->
                            </div>
                            <div class="widget-body">
                                <table class="table table-striped">
<!--                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                    </tr>
                                    </thead>-->
                                    <tbody>
                                   <tr>
        <td width="100">Name :</td>
        <td>{$sm.res.name|escape}</td>
        </tr>
                                    <tr>
        <td>Description :</td>
        <td><div class="wid100">{$sm.res.description}</div></td>
        </tr>
                                    <tr>
        <td>Code :</td>
        <td>{$sm.res.code|escape}</td>
        </tr>
        {if $sm.res.video}
        <tr>
        <td>Video:</td>
        <td>
            <div>
            <embed type="application/x-shockwave-flash" src="##APP_ROOT_URL##templates/video/player.swf" style="" id="ply" name="ply" bgcolor="#ffffff" quality="high" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="file=##APP_ROOT_URL##video/{$sm.res.video}&autostart=false" width="330" height="235"></embed>
            </div>			    
        </td>
        </tr>
        {/if}
        {if $sm.imgType == 2}
         <tr valign="top">
        <td>Image :</td>
        <td style="vertical-align:top;">
            {if $sm.imgs}
            <div id="gallery" align="center">
                <ul style="margin-top:0px;margin-left:0px!important;">
                {section name=cur loop=$sm.imgs}
                {assign var=x value=$sm.imgs[cur]}
                {if $smarty.section.cur.iteration > 1}
                {/if}
                <li style="width:100px;height:auto;">
										{if $x.image_name}
                    <a href="##IMAGE_ORIG_PATH##product/{$x.id_image}_{$x.image_name}" >
                    <img src="##IMAGE_THUMB_PATH##product/{$x.id_image}_{$x.image_name}" />
                    </a>
										{else}
										<img src="##TEMP_COM_IMG##defaultnoImage.jpg"  alt="no image"/>
										{/if}
                </li>
                {/section}
                </ul>
            </div>
            {else}
           <!--				    No image-->
						<img src="##TEMP_COM_IMG##defaultnoImage.jpg"  alt="no image"/>
            {/if}
        </td>
        </tr>
        {elseif $sm.imgType == 1}
        <tr>
        <td>Image :</td>
        <td>
						{if $sm.res.image}
										<a id="" href="##IMAGE_ORIG_PATH##product/{$sm.res.id_product}_{$sm.res.image}" target="_blank" >
										<img src="##IMAGE_THUMB_PATH##product/{$sm.res.id_product}_{$sm.res.image}"  alt="no image" />
										</a>
							{else}
						<!--				    No image-->
						<img src="##TEMP_COM_IMG##defaultnoImage.jpg"  alt="no image"/>
						{/if}
        </td>
        </tr>
        {/if}	
        
        
        
        
        
        
        
        
        
        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
    </div>
  </div>
<!--done by gayatree ends-->









<div style="width:600px;" class="productdetailfancy_admin">
	<div class="makebox center" style="width:550px;">
<div class="headprt settheme">
    <div class="mdl">
    	<span>{*$sm.res.name*} Product Detail</span>
    </div>
</div>
<div class="bodyprt">
    <table align="center" class="formtbl" border="0">
        <tr>
        <td width="100">Name :</td>
        <td>{$sm.res.name|escape}</td>
        </tr>
        <tr>
        <td>Description :</td>
        <td><div class="wid100">{$sm.res.description}</div></td>
        </tr>
        <tr>
        <td>Code :</td>
        <td>{$sm.res.code|escape}</td>
        </tr>
        {if $sm.res.video}
        <tr>
        <td>Video:</td>
        <td>
            <div>
            <embed type="application/x-shockwave-flash" src="##APP_ROOT_URL##templates/video/player.swf" style="" id="ply" name="ply" bgcolor="#ffffff" quality="high" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="file=##APP_ROOT_URL##video/{$sm.res.video}&autostart=false" width="330" height="235"></embed>
            </div>			    
        </td>
        </tr>
        {/if}
        {if $sm.imgType == 2}
        <tr valign="top">
        <td>Image :</td>
        <td style="vertical-align:top;">
            {if $sm.imgs}
            <div id="gallery" align="center">
                <ul style="margin-top:0px;margin-left:0px!important;">
                {section name=cur loop=$sm.imgs}
                {assign var=x value=$sm.imgs[cur]}
                {if $smarty.section.cur.iteration > 1}
                {/if}
                <li style="width:100px;height:auto;">
										{if $x.image_name}
                    <a href="##IMAGE_ORIG_PATH##product/{$x.id_image}_{$x.image_name}" >
                    <img src="##IMAGE_THUMB_PATH##product/{$x.id_image}_{$x.image_name}" />
                    </a>
										{else}
										<img src="##TEMP_COM_IMG##defaultnoImage.jpg"  alt="no image"/>
										{/if}
                </li>
                {/section}
                </ul>
            </div>
            {else}
           <!--				    No image-->
						<img src="##TEMP_COM_IMG##defaultnoImage.jpg"  alt="no image"/>
            {/if}
        </td>
        </tr>
        {elseif $sm.imgType == 1}
        <tr>
        <td>Image :</td>
        <td>
						{if $sm.res.image}
										<a id="" href="##IMAGE_ORIG_PATH##product/{$sm.res.id_product}_{$sm.res.image}" target="_blank" >
										<img src="##IMAGE_THUMB_PATH##product/{$sm.res.id_product}_{$sm.res.image}"  alt="no image" />
										</a>
							{else}
						<!--				    No image-->
						<img src="##TEMP_COM_IMG##defaultnoImage.jpg"  alt="no image"/>
						{/if}
        </td>
        </tr>
        {/if}		    
    </table>
</div>
</div> 
</div>

{literal}
<script type="text/javascript">
$(function() {
$('#gallery a').lightBox();
css_even_odd();
});
</script>
<style>
#gallery ul li a{
padding: 0px;
margin: 0;
}   
</style>
{/literal}
