<div class="smler_box">
	<div class="top"></div>
	<div class="mdl">
    	<div class="cont_hdr1 fltlft">
            <div class="cont_hdr_lft fltlft"></div>
            <div class="cont_hdr_mdl1 fltlft" align="left">Showing Video {$sm.res.video}</div>
            <div class="cont_hdr_rht fltlft"></div>
        </div>
        <div class="clear"></div>

        <center>
        <div class="txtbg_top_smler"></div>
        <div class="txtbg_mdl_smler">
            <form>
                <table align="center">
                    <tr>
                      <td>
                         <embed type="application/x-shockwave-flash" src="##LBL_SITE_URL##templates/video/player.swf" style="" id="ply" name="ply" bgcolor="#ffffff" quality="high" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="file=##LBL_SITE_URL##video/{$sm.res.video}&autostart=false" width="400" height="280"></embed>
                      </td>
                    </tr>
                </table>
            </form>
                </div>
        <div class="txtbg_btm_smler"></div>
        </center>
    </div>
	<div class="btm"></div>
</div>