{* notag *}
{literal}
	<script type="text/javascript">
	function convertme(obj,target){
		var cval=obj.value;
		//alert("#"+target);
		var pattern=/[-\s]/g;
		var nval=cval.replace(pattern,"");
		nval = nval.toLowerCase();
		$("#"+target).val(nval);
	}

	function revback(){
		return validate_product_data();
	}
	function complete_revCallback(response) {
		close_modal();
		$('#dv5').html(response);
	}
	$.metadata.setType("attr", "validate");
		function  validate_product_data() {
				var ch='';
	var validator=$("#addproduct").validate({
			rules: {
				"product[name]": {
					required:true
				},
				"product[description]":{
					required: true
				},
				"product[code_product]": {
					required:true
				}
			},
			messages: {
				"product[name]":{
					required:"<br>This field is required."
				},
				"product[description]":{
					required:"<br>This field is required."
				},
				"product[code_product]": {
					required:"<br>This field is required."
				}
			}
		});
	return validator.form();
		}
	function check_code(){
		var cd=$('#code_product').val();
		var url="##LBL_SITE_URL##index.php";
		$.post(url,{"page":"product","choice":"check_code_value",val:cd,ce:0},function(res){
				if(res!=0){
					$('#code_error').html('This code already exist.Choose another one');
					$('#code_product').val('');
					$('#code_product').focus();
				}else{
					$('#code_error').html('');
				}
			});
	}
	//$(document).ready(function() {
	//	$('#addproduct').bind('submit', function() {
	//		$(this).ajaxSubmit({
	//			target: '#result',
	//			before:  validate_product_data();,
	//			success: showResponse,
	//			clearForm: true
	//		});
	//		return false;
	//	});
	//});
	//function showResponse(responseText, statusText, xhr, $form)  { 
	//    alert(responseText ); 
	//} 
	function show_image(){
		var im=$('#image').val();
		if(im){
			//var ext=check_ext();alert(ext);
			//if(ext){
				ch='preview_image';
				var url="##LBL_SITE_URL##index.php/page-product-choice-"+ch+"-ce-0-im-"+im;
				$.ajaxFileUpload({
					url:url,
					secureuri:false,
					fileElementId:'image',
					dataType: 'json',
					complete: function (data, status){
						z = data.responseText;
						var img="<td>Selected Image</td><td><img src='##LBL_SITE_URL##preview/thumb/"+z+"'/></td>";
						$('#hid_image').val(z);
						$('#rd').html(img);
					}
				});	
			//}
		}
	}
	
		//	function check_ext() {
		//			var form_submit;
		//			var j,i=0;
		//			var file_val = new Array();
		//			var tot_file = $('#addproduct').find('input[type="file"]');
		//			if (tot_file.length<1){
		//				return;
		//			}else{
		//				form_submit = false;
		//				file_val[i] = $('#addproduct').find('input[type="file"]').eq(i).val();
		//				file_val[i] = file_val[i].toLowerCase();
		//				var chk = (/[.]/.exec(file_val[i])) ? /[^.]+$/.exec(file_val[i]) : undefined;
		//				for (var k = 0; k < extArray.length; k++) {
		//					if (extArray[k] == chk) {
		//						form_submit = true;
		//						if($('.invalid_ext').html()!=null){
		//							$('.invalid_ext').remove();
		//						}
		//					}
		//				}
		//				if (form_submit == false) {
		//					j=i;
		//				}
		//			}
		//			if(form_submit){
		//				return true;
		//			}else{
		//				var sp = '<div class="invalid_ext">This is not a valid file extension.</div>';
		//				alert("Please only upload files that end in types:  "+ (extArray.join("  ")) + "\nPlease select a new file to upload and submit again.");
		//				if($('.invalid_ext').html()==null){
		//					$('#addproduct').find('input[type="file"]').eq(j).after(sp);
		//				}
		//				return false;
		//			}
		//		}
		
	function check_ext() {
		var form_submit;
		var j,i=0;
		var file_val = new Array();
		var tot_file = $('#addproduct').find('input[type="file"]');
		if (tot_file.length<1){
			return;
		}else{
			form_submit = false;
			file_val[i] = $('#addproduct').find('input[type="file"]').eq(i).val();
			file_val[i] = file_val[i].toLowerCase();
			var chk = (/[.]/.exec(file_val[i])) ? /[^.]+$/.exec(file_val[i]) : undefined;
			for (var k = 0; k < extArray.length; k++) {
				if (extArray[k] == chk) {
					form_submit = true;
					if($('.invalid_ext').html()!=null){
						$('.invalid_ext').remove();
					}
				}
			}
			if (form_submit == false) {
				j=i;
			}
		}
		if(form_submit){
			return true;
		}else{
			var sp = '<div class="invalid_ext">This is not a valid file extension.</div>';
			alert("Please only upload files that end in types:  "+ (extArray.join("  ")) + "\nPlease select a new file to upload and submit again.");
			if($('.invalid_ext').html()==null){
				$('#addproduct').find('input[type="file"]').eq(j).after(sp);
			}
			return false;
		}
	}

</script> 
<style>
	label.error	{
		color:#FF0000;
		font-size:15px;
	}
</style>
{/literal}
{assign var=x value=$sm.res}
<div align="right">
	<a href="javascript:void(0);" onclick="close_modal();">
		<img src="##LBL_SITE_URL##image/close.png" alt="No Image" />
    </a>
</div><br/>
<div id="code_error"></div>
<h3><center>{if $sm.res}Update{else}Add{/if} Product</center></h3>
<form action="##LBL_SITE_URL##index.php/page-product-choice-{if $sm.res}update_single{else}insert_single{/if}-ce-0-jv-1" method="post" id="addproduct" name="addproduct" enctype="multipart/form-data" onsubmit="return AsyncUpload.submitForm(this, revback, complete_revCallback);" >
	<table>
		<tr>
			<td>Product Name:</td>
			<td><input type="text" name="product[name]" id="name" value="{$x.name|escape}" {if !$sm.res.code_product} onblur="convertme(this,'code_product');"{/if}/></td>
		</tr>
		{if !$sm.res.code_product}
		<tr>
			<td>Product Code:</td>
			<td><input type="text" name="product[code_product]" id="code_product" value="{$x.code_product}"  onblur="check_code();"/></td>
		</tr>
		{/if}
		<tr>
			<td>Product Desription:</td>
			<td><textarea name="product[description]" id="description" >{$x.description}</textarea></td>
		</tr>
		{if $x.image}
		<tr>
			<td>Current image</td>
			<td><img src="{$sm.img_path}{$x.image}"></td>
		</tr>
		{/if}
		<tr>
			<td>Image:</td>
			<td><input type="file" name="image" id="image" onchange="show_image();"/>
	           <input type="hidden" name="hid_image" id="hid_image" value="{$x.image}" />
			</td>
		</tr>
		<tr id="rd">
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="submit" value="{if $sm.res}Update{else}Add{/if} product"/>
			</td>
		</tr>
		<input type="hidden" name="id_product" id="id_product" value="{$x.id_product}" />
		<input type="hidden" name="prev_img" id="prev_img" value="{$x.image}" />
	</table>
</form>
