{assign var=IMG value=$util->get_values_from_config(IMAGE)}
<script type="text/javascript" src="##FLEXY_JS_PATH##easyslider.js"></script>
<link rel="stylesheet" type="text/css" href="##CSS_PATH##slider.css"/>
{literal}
<script type="text/javascript">
        var cnt="{/literal}{$sm.res|@count}{literal}";
	if(parseInt(cnt)!=1){
	    $(document).ready(function(){
		    $("#slider").easySlider({
			    auto: true,
			    continuous: true,
			    nextId: "slider1next",
			    prevId: "slider1prev"
		    });
		    $("#slider2").easySlider({
			    numeric: true
		    });
	    });
	}
</script>
{/literal}
<div align="center">
{if $sm.imgs}
  <div id="container_slider">
    <div id="content_slider">
      <div id="slider">
	<ul>
	{section name=cur loop=$sm.imgs}
	{assign var=x value=$sm.imgs[cur]}
	  <li><img src="##IMAGE_THUMB_PATH##product/{$IMG.image_carousel_path}{$x.id_image}_{$x.image_name}" alt="{$x.image_name}" /></li>
	{/section}
	</ul>
      </div>
    </div>
  </div>
{/if}
</div>