<div id="product_listing">
<div id="dv5" >
    <div class="wid70 center">
	<div class="makebox">
	    <h3 class="gradient">Product List</h3>
	    <table class="tbl_listing">
		<tr>
		    <th>Product Name</th>
		    <th>Description</th>
		    <th width="90">No. of Image</th>
		    <th>Image</th>
		</tr>
		{section name=cur loop=$sm.list}
	    	{assign var=x value=$sm.list[cur]}
		<tr class="{cycle values="odd,even"}">
		    <td><a href="javascript:void(0);" style="color: #1A28AC;" onclick="show_detail('{$x.id_product}');">{$x.name|escape}</a></td>
		    <td>{$x.description|truncate:30:"...":true}</td>
				<td align='center'>{if $x.total!=0}<a href="javascript:void(0);" style="color: #1A28AC;" onclick="show_images('{$x.id_product}');" title="Click to see all images">{$x.total}</a>{else}0{/if}</td>
		    <td>{if $x.image_name}<img src="##IMAGE_THUMB_PATH##product/{$x.id_image}_{$x.image_name}" style="max-width: 60px; max-height: 60px;" />{else}<img src='##TEMP_COM_IMG##defaultnoImage.jpg' style="max-width: 60px; max-height: 60px;" />{/if}</td>
		</tr>
		{sectionelse}
		<tr>
		    <td colspan="4" align="center"><b>No Records Found</b></td>
		</tr>
		{/section}
	    </table>
	    <div class="pagination_box" align="center">
		{$sm.next_prev->generate()}
	    </div>
	</div>
    </div>	
		</div>
{literal}
<script type="text/javascript" >
	var code='';
function showfullimage(img){
	var mywindow=window.open("##LBL_SITE_URL##image/orig/product/"+img);
}
function show_images(id){
	 $('#succ_msg').html('');
	 $('#target').html('');
	 var url="##LBL_SITE_URL##";//function writen in admin part
	 $.fancybox.showActivity();
		$.post(url,{"page":"product","choice":"showGallery",ce:0,'id_product':id},function(response){
			show_fancybox(response);
		});
}
function show_detail(id){
	 var url="##LBL_SITE_URL##";
	 $.fancybox.showActivity();
		$.post(url,{"page":"product","choice":"productDetail",ce:0,"id_product":id},function(response){
			show_fancybox(response);
		});
	}
</script>
{/literal}
</div>
