{assign var=facebook value=$util->get_values_from_config('FACEBOOK')}
{literal}	
<script type="text/javascript">
	function loc(){
		var fid = $('#hid').val() ? $('#hid').val() : "{/literal}{$sm.fid}{literal}";//alert(fid);return false;
		var url = siteurl + "socialNetwork/connect_facebook/fid/"+fid+"/";
		var api_key = "{/literal}{$facebook.app_id}{literal}";//api key for your application
		var c_url= siteurl + "socialNetwork/cancelFconnect/";//redirect path after cancel
		window.location='http://www.facebook.com/login.php?api_key='+api_key+'&display=popup&extern=1&fbconnect=1&req_perms=publish_stream,offline_access&return_session=1&v=1.0&next='+url+'&fb_connect=1&cancel_url='+c_url;
	}
</script>
{/literal}
<div align="center">
	{if $sm.fid}<div class="makebox">{/if}
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<a href="javascript:void(0);" onclick="loc();">
						<img src="##APP_ROOT_URL##templates/images/fb_con_xlg.gif" />
					</a><br><br>
				</td>
			</tr>
		</table>
		{if $sm.fid}
		<div class="fltrht">
			<a href="##LBL_SITE_URL##socialNetwork/skipSocial/fid/{$sm.fid}" class="gradient buton">&nbsp;&nbsp;&nbsp; Skip &nbsp;&nbsp;&nbsp;</a>
		</div>
		<div class="clear"></div>
	</div>
	{/if}
</div>