{assign var=linkedin value=$util->get_values_from_config('LINKEDIN')}
<div align="center">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td colspan="2" align="center"><br />
				<a href="javascript:void(0);" onclick="onLinkedinLogin();"><img src="##TEMP_COM_IMG##button_linkedin.jpg"/></a>
			</td>
		</tr>
	</table>
</div>
{literal}
<script type="text/javascript">
	function onLinkedinLogin() {
		IN.ENV.js.scope = new Array();
		IN.ENV.js.scope[0] = 'r_emailaddress';
		IN.User.authorize();
		if(IN.User.isAuthorized()){
			onLinkedInAuth();
		}else{
			IN.Event.on(IN, "auth", onLinkedInAuth);
		}
	}
	
	function onLinkedInAuth() {
		$.fancybox.showActivity();
		IN.API.Profile("me").fields("id")
		.result( function(me) {
			var response = me.values[0];
			var userID = response.id;
			window.location.href=siteurl+'socialNetwork/connectLinkedin/id_linkedin/'+userID+'/ce/0';
		});
	}
</script>
{/literal}