/***************************Theme Color*********************************************/
.settheme,ul.menu ul li a,ul.menu ul,.div_head,.pagination_box a.page_current,.pagination_box a:hover{background:#207670;}
/***************************Theme Color*********************************************/

/***************************Basic Style*********************************************/
html{overflow:auto}

body{
    background:#f7f7f7;
    margin:0;
    padding:0 0 40px;
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}
.page{
    width:960px;
    margin:0 auto;
}
.fltrht,.fr{float:right;}
.fltlft,.fl{float:left;}
.clrbth,.clear{
    clear:both;
    height:0px;
}
.ca{text-align:center;}
.ra{text-align:right;}
.la{text-align:left;}
.cursor_pointer{cursor:pointer;}
img{
    border:none;
    outline:none;
}
a,a:active,a:link{ 
    text-decoration:none;
    outline:none;
    color:#2A4C7F;/*by gayatree*/
    /*color:#fff !important;by gayatree*/
}
a:hover{color:#6082B1;}
form{margin:0px;padding:0px;}
.borderyes{outline:red solid 1px;}
.curve_border{
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -o-border-radius:8px;
    -ms-border-radius:8px;
    padding: 4px;
}
textarea{overflow:auto;}
input[type="text"],input[type="password"],select,textarea,input[readonly="readonly"]{
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    background:white;
    border:#79B5E4 solid 1px;
    padding:3px 5px;
}
input[readonly="readonly"]{background: #efefef}
.posrel{position: relative}
.posabs{position:absolute;}
/***************************Basic Style*********************************************/


/***************************Width Style*********************************************/
.wid100{width:98%; margin:10px 1%;}
.wid90{width:88%; margin:10px 1%;}
.wid85{width:83%; margin:10px 1%;}
.wid80{width:78%; /*margin:10px 1%;*/}
.wid75{width:73%; margin:10px 1%;}
.wid70{width:68%; /*margin:10px 1%;*/}
.wid65{width:63%; margin:10px 1%;}
.wid60{width:60%; /*margin:10px 1%;*/}
.wid58{width:56%; margin:10px 1%;}
.wid55{width:53%; /*margin:10px 1%;*/}
.wid50{width:48%; margin:10px 1%;}
.wid40{width:38%; margin:10px 1%;}
.wid30{width:28%; margin:10px 1%;}
.wid28{width:26%; margin:10px 1%;}
.wid25{width:23%; margin:10px 1%;}
.wid20{width:18%; margin:10px 1%;}
.wid15{width:13%; margin:10px 1%;}
/*.center{margin:0px auto;}*/
.marginright5{margin-right:5px;}
.mrglft0{margin-left:0px;}
.mrglft1{margin-left:1%;}
.mrgrht0{margin-right:0px;}
.mrgrht1{margin-right:1%;}
.mrglft5{margin-left:5%;}
.mrglft20{margin-left:20%;}
/***************************Width Style*********************************************/

/***************************Heading Style*********************************************/
.hdng{font-size:16px;font-weight:bold;}
.subhdng{font-size:16px;font-weight:bold; font-style:italic}
.white{color:white;}
.black{color:black;}
/***************************Heading Style*********************************************/

/*****************************Header Starts********************************************/
.hdr{
    background:url(../images/trans/hdr_bg.png) repeat-x;
    height:117px;
    width:100%;
}
.logout_bg{
    background:url(../images/trans/hdr_shadow.png) no-repeat;
    width:292px;
    height:59px;
    margin:25px 1px 0 0;
    padding-top:15px;
}
.admin{margin:0 0 0 26px;}
.admin_txt a{color:#fffefe;}
.logout{margin:0 0 0 48px;}
.logout_txt a{color:#fffefe;}
.admin_txt{
    font-size:10px;
    font-weight:bold;
    color:#fffefe;
    margin:7px 0 0 9px;
    line-height:17px;
}
.logout_txt{
    font-size:10px;
    font-weight:bold;
    color:#fffefe;
    margin:10px 0 0 9px;
}
/********************************Header Ends*****************************************/
.push	{
    height:30px;
}
.makebox{
    padding:10px 15px;
/*    -webkit-box-shadow: 0 0px 4px #aaa;
    -moz-box-shadow: 0 0px 4px #aaa;
    box-shadow: 0 0px 4px #aaa;*/  /*by gayatree*/
    background:#fff;
    margin-top:10px;
    margin-bottom:10px;
}

.headprt .mdl{
    background:url(../images/trans/blue_hdr_mdl.png) repeat-x;
    padding:3px 7px;
    font-size:18px;
    color:white;
    margin-bottom:10px;
}


/********************************Table Style Starts*****************************************/
table.tbl_listing{
    border-collapse:collapse;
    width:100%;
}
.tbl_listing tr th,.tbl_listing tr td	{
    border-bottom:1px solid #bbbbbb;
    text-align:left;
    padding:3px;
}
.tbl_listing tr th {
    padding:5px;
}
.tbl_listing tr td	{
    vertical-align:middle;
    background:#F1F6F6;
}
.tbl_listing tr.search td	{background:#E2E2E2}
.tbl_listing tr td.vtop{
    vertical-align:top;
}
.tbl_listing tr th a	{
    color:#000000;
    text-decoration:underline;
}
table.tbl_listing .sub_cat td{
    background:#DBDEDE;
}
table.form_tbl,table.formtbl{width:99%; margin-left:0.5%; margin-top:0px;}
table.form_tbl td,table.formtbl td{vertical-align:middle;}
table.formtbl td.vtop,table.formtbl td[valign="top"]{vertical-align:top;}
table.form_tbl input[type="text"],table.form_tbl input[type="password"],table.form_tbl select,table.form_tbl textarea{width:95%;}
table.formtbl input[type="text"],table.formtbl input[type="password"],table.formtbl select,table.formtbl textarea{width:95%;}
table.formtbl select{width:99.9%}
table.formtbl td{padding:2px 0px;}
table.tbl_listing tr:hover td{background:#D9DBDC;}
table.formtbl tr th{background:white; color: #aaa; font-weight: bold; text-transform: capitalize; text-align: left; padding-left: 5px;}
.even td{background:#EBF6FC;}
.odd td{background:#F8F8F8;}

/********************************Table Style Starts*****************************************/




/********************************Button Style Starts*****************************************/
.buton {
    background: url(../images/trans/btn_bg.png);
    color:#FFFFFF!important;
    border:#8B8989 solid 1px;
    display: inline-block;
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    padding:2px 7px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.buton:hover,.slct {
    text-decoration: none;
    color:white;
    background: url(../images/trans/btn_bg_hover.png);
}
.sel .buton{background: url(../images/trans/btn_bg_hover.png);}
.buton:active {
    position: relative;
    top: 1px;
}
a.buton{line-height:17px;}
input.buton{margin:0px; padding:1px 7px 3px;}
/********************************Button Style Ends*****************************************/


/********************************Configs Style Starts*****************************************/
.div_head{
    color: white;
    height:30px;
    line-height:30px;
    cursor:pointer;
    margin-bottom: 2px;
}
.div_head .mdl{
    background:url(../images/trans/blue_hdr_mdl.png) repeat-x;
    padding: 0px 7px;
    font-weight: bold;
}
.div_head .mdl .sign{margin: 0px 5px;}
#delete_edit_image{
    background:#000;
    max-height:130px;
    overflow-y:scroll;
    overflow:auto;
}
.capfontClass {color:  #B5DDFB; text-align:right; font-weight:bold; padding-right:3px;}
.capfontClass A {color: #B5DDFB; text-decoration:none}
.fgClass {background-color:#C2E3FC; border:#085D9C 1px solid; padding:5px;}
.bgClass {background-color: #085D9C;}
.pdng_rite_15{
    padding-right: 15px;
}
/********************************Configs Style Ends*****************************************/

/********************************Pagination Style Starts*****************************************/
.pagination_box{padding: 3px; margin: 10px 0px;}
.pagination_box div.right{text-align: right;}
.pagination_box a{
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
/*    padding: 2px 6px;*/
padding: 6px 12px;
    font-weight: bold;
    background: #D9DBDC;
}
.pagination_box a.page_current{color: white;}
.pagination_box a:hover{color:white;}
.pagination_box a.previous{margin-right: 4px;}
/********************************Pagination Style Ends*****************************************/
/********************************Alert Msg Error*****************************************/
label.error	{
    color:#FF0000;
    font-size:12px;
}
/********************************Alert Msg Error*****************************************/
/********************************Footer*****************************************/
.ftr_txt{
    font-size:12px;
    color:#9e9e9e;
    /*margin:20px auto 0px auto;*//*by gayatree*/
    left:0;/*by gayatree*/
    position:fixed;
    width:100%;
    bottom:0px;
    padding-bottom:10px;
    background:#F7F7F7;
}
/********************************Footer*****************************************/
.capfontClass {color:  #B5DDFB; text-align:right; font-weight:bold; padding-right:3px;}
.capfontClass A {color: #B5DDFB; text-decoration:none}
.fgClass {background-color:#C2E3FC; border:#085D9C 1px solid; padding:5px;}
.bgClass {background-color: #085D9C;}




/***********************************Login*********************************************/
.tabbg{
    padding: 10px 5px 5px;
}
.tabbg, .tabbg .tabhd a{
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -ms-border-top-left-radius: 4px;
    -ms-border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.tabbg .tabhd a{
    font-weight: bold; font-size: 17px; outline: none; border: none; padding: 2px 10px;
    background: #E3E3E3;
}
.tabbg .tabhd a:hover,.tabbg .tabhd a.selected{background: white}
.tabsector{margin-top: -1px; padding: 5px 9px;}
.tabsectorcontent{ display: none; padding: 15px 5px 20px}
.tabsector .selected{display: block}
.formtbl label{font-weight: bold; margin-left: 15px;}
.message{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 6px #000000;
    -webkit-box-shadow: 0px 0px 6px #000000;
    -ms-box-shadow: 0px 0px 6px #000000;
    box-shadow: 0px 0px 6px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    opacity: 0.89;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 89);
    /*-ms-filter must come before filter*/
    filter: alpha(opacity = 89);
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*All filters must be placed together*/
    margin:10px 3px 10px;;
    padding:2px 15px;
    font-weight:bold;
}
/***********************************Login*********************************************/
ul{margin:0px;padding:0px; list-style: none;}
.makebox ul li ul{margin-left:35px;}
.makebox ul li ul{list-style: disc;}
.holder li input[type='text'].maininput:focus {
    box-shadow: none!important;
}
.holder li input[type='text'].maininput {
    background: none!important;
}
/******************************by gayatree**********************************/
select, textarea, label, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{margin-bottom: 0px !important;}