<b>Dear {$sm.first_name},</b><br /><br />
Thank You For registering in <b>##LBL_SITE_URL##</b><br /><br />

{if !$sm.social_flag}
<a href="{$sm.activate_link}">Click Here</a> To activate your account. <br /><br />

<i>If the above link does not work, you can copy and paste the link below into your Web browser (please do not add extra spaces).</i>
<br /><br />
<a href="{$sm.activate_link}">{$sm.activate_link}</a><br /><br />
{else}

You can login with your {$sm.social_flag} credentials. If you want to Login with our site credentials, Here is your Login Details:<br /><br />

username: {$sm.username}<br />
password: {$sm.password}
{/if}