{assign var=facebook value=$util->get_values_from_config('FACEBOOK')}
{literal}	
    <script type="text/javascript">
	function loc(){
	    var url = siteurl + "user/connect_facebook/fid/{/literal}{$sm.fid}{literal}";
	    var api_key = "{/literal}{$facebook.app_id}{literal}";//api key for your application
	    var c_url= siteurl + "user/cancelFconnect/";//redirect path after cancel
	    window.location='http://www.facebook.com/login.php?api_key='+api_key+'&display=popup&extern=1&fbconnect=1&req_perms=publish_stream,offline_access&return_session=1&v=1.0&next='+url+'&fb_connect=1&cancel_url='+c_url;
	}
    </script>
{/literal}
<div align="center"><br><br>
    <table border="0" cellspacing="0" cellpadding="0">
	<tr>
	    <td><b>To connect with facebook please click this image.</b><br /><br/>
		<a href="javascript:void(0);" onclick="loc();">
		    <img src="##APP_ROOT_URL##templates/images/fb_con_xlg.gif" />
		</a><br>

	    </td>
	</tr>
	<tr>
		<td colspan="2" align="center"><a href="##LBL_SITE_URL##user/skipFconnect/fid/{$sm.fid}" class="gradient buton">&nbsp;&nbsp;&nbsp; Skip &nbsp;&nbsp;&nbsp;</a></td>
	</tr>
    </table>
</div>