{assign var=check_field value=$util->get_values_from_config('LOGIN')}
<div class="wid50 center">
    <div class="makebox">
        <div class="hdng gradient">Forgot Password ?</div>
        <div class="message">Do not worry, please provide your username below, we will help you.</div><br />
        <form action="##LBL_SITE_URL##user/forgotPwd/s/1" method="post" name="forgotform" id="forgotform" onsubmit="return validate();">
            <table class="formtbl">
                <tr>
                    <td><label for="email">{if $check_field.name eq 1}Username{else}Email Address{/if} :</label></td>
                    <td><input type="text" name="email" id="email"/></td>
                </tr>	
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit" class="userbuton"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
{literal}
<script type="text/javascript">
		var usernamecheck;
        var emailchk;
		$(function(){
		    var c="{/literal}{$check_field.name}{literal}";
		    if(c==1){
			usernamecheck=true;
            emailchk=false;
		    }else{
			usernamecheck=false;
            emailchk=true;
		    }
		});
		$.validator.addMethod("username", function(value) {
			return /^[a-z0-9]([a-z0-9_.]+)?$/i.test(value);
			},'<br>Please enter a valid username'
		);
function validate(){

	var validator=$("#forgotform").validate({
	   rules: {
	   		"email":{
				required:true,
				email:emailchk,
        username:usernamecheck
			}
		},
		messages: {
			"email":{
				required:"<br>"+flexymsg.required,
				email:"<br>"+flexymsg.email
			}
		}
	});
	var x=validator.form();
	return x;
}
</script>
{/literal}