{literal}
<script type="text/javascript">	
	var geocoder = new google.maps.Geocoder();
	var marker;
	var map;
	var latlng;
	var srch;
    var autocomplete;
	
//	$("#addr1").val($(".put_map_address").val());
	if($(".put_map_address1").val() != ""){
				$(".put_map_address").val($(".put_map_address1").val());
	}
	intialize();
	getAddress();
	
	function intialize(){		 
		var myOptions = {
			zoom: 13,
			center: new google.maps.LatLng(-34.397, 150.644),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		marker = new google.maps.Marker({
			map: map
        });
		srch = $("#search_addr")[0];//using jquery
		//srch = document.getElementById('search_addr'); //using the Html DOM element 
		autocomplete = new google.maps.places.Autocomplete(srch);
        autocomplete.bindTo('bounds', map);        
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
			getAddress(1);
        });
	}
	
	google.maps.event.addListener(map,'tilesloaded',function() {
		latlng = new google.maps.LatLng(-34.397, 150.644);
		google.maps.event.trigger(map,'resize');
		map.setCenter(marker.getPosition());
	});
	
	function getAddress(c) {
		var addr = $(".put_map_address").val();		
		if(c){
			addr = $(".search_addr").val();
		}
		if(!addr){
			currentLocation();			
		}
		blank_fields();		
		geocoder.geocode( { 'address': addr }, function(results, status) {
			//alert(results.toSource());
			if (status == google.maps.GeocoderStatus.OK) {
				setting(results);
				if(marker){
					marker.setMap(null);
				}
				marker = new google.maps.Marker({
					map: map, 
					position: results[0].geometry.location,
					draggable: true
				});
				
				map.setCenter(results[0].geometry.location);
				google.maps.event.addListener(marker,'dragend',function(event){
					dragging(event.latLng);							
				});
			}
		});	
	}
	
	function dragging(latlng){
		blank_fields();
		geocoder.geocode({'latLng': latlng}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				setting(results);
			} 
		});
	}
	
	function currentLocation(){
		if(navigator.geolocation){
			navigator.geolocation.getCurrentPosition(function(res){
				var pos = new google.maps.LatLng(res.coords.latitude,res.coords.longitude);
				geocoder.geocode({'latLng':pos}, function(results,status){
					//alert(results.toSource());
					if (status == google.maps.GeocoderStatus.OK) {
						setting(results);
					} else {
						alert("Geocoder failed due to: " + status);
					}
					marker = new google.maps.Marker({
						position: pos,
						map: map,
						draggable: true
					});
					map.setCenter(pos);
					google.maps.event.addListener(marker,'dragend',function(event){
						dragging(event.latLng);							
					});
				});
			});
		}
	}
	
	function blank_fields(){
		$(".put_map_address").val(" ");
		$(".put_map_address_city").val("");
		$(".put_map_address_state").val(" ");
		$(".put_map_address_country").val(" ");
		$(".put_map_address_pin").val(" ");
	}
	
	function setting(results){
		var flag = 0;
		$(".put_map_address_latitude").val(results[0].geometry.location.lat());
		$(".put_map_address_longitude").val(results[0].geometry.location.lng());
	  $(".put_map_address").val(results[0].formatted_address);
		
		for(var i=0;i<results[0].address_components.length;i++){
			if((results[0].address_components[i].types[0] == 'locality')&& !flag){	
				$(".put_map_address_city").val(results[0].address_components[i].long_name);
				flag = 1;
			}
			if((results[0].address_components[i].types[0] == 'administrative_area_level_2') && !flag){
				$(".put_map_address_city").val(results[0].address_components[i].long_name);
			}
			if(results[0].address_components[i].types[0] == 'administrative_area_level_1'){
				$(".put_map_address_state").val(results[0].address_components[i].long_name);
			}
			if(results[0].address_components[i].types[0] == 'country'){
				$(".put_map_address_country").val(results[0].address_components[i].long_name);
			}
			if(results[0].address_components[i].types[0] == 'postal_code'){
					$('#trpin').show();
				$(".put_map_address_pin").val(results[0].address_components[i].long_name);
			}else{
					$('#trpin').hide();
			}
		}
	}
	
	function close_fancybox(){
		$.fancybox.close();
	}
	
	function check(e){
		var code1 = e.keyCode;
		var code2 = e.charCode;
		if((code1 == 13) || (code2 == 13)){
			getAddress(1);
		}else{
			return false;
		}
	}
	
</script>
{/literal}
<div style="width: 750px; height: 350px;">
		<center><h3 class="gradient">Get Address</h3></center>
	<form name="myform" id="myform" action="javascript:void(0)" method="post" onsubmit="return check(event);">
		<div style="height:400px;width:400px;float: left;">
			<br>
			<table width="100%">
				<tr>
						<td></td>
					<td>
							<input type="text" id="search_addr" placeholder="Enter Location" class="search_addr" />&nbsp;&nbsp;<input type="submit" value="Find" class="buton" onclick="getAddress(1);" style="cursor: pointer;" />
					</td>
				</tr>
				<tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
				<tr>
					<td align="right" valign="top">Current Location :</td>
					<td>
						<textarea id="addr1" class="put_map_address" rows="4" cols="26" readonly="readonly"></textarea>
						<br /> <div style="margin-top: 4px;">Note :Provide address as comma separated value</div> 
					</td>
				</tr>
				<tr>
					<td>
						<b>City :</b>
					</td>
					<td>
						<input type="text" id="city" class="put_map_address_city" value="" readonly="readonly"/>
					</td>
				</tr>
				<tr>
					<td>
						<b>State :</b>
					</td>
					<td>
						<input type="text" id="state" class="put_map_address_state" value=""  readonly="readonly"/>
					</td>
				</tr>
				<tr>
					<td>
						<b>Country :</b>
					</td>
					<td>
						<input type="text" id="country" class="put_map_address_country" value="" readonly="readonly"/>
					</td>
				</tr>
				<tr id="trpin">
					<td>
						<b>Pin :</b>
					</td>
					<td>
						<input type="text" id="pin" class="put_map_address_pin" value="" readonly="readonly"/>
					</td>
				</tr>
<!--				<tr>
					<td>
						<b>Latitude :</b>
					</td>
					<td>
						<input type="text" id="pin" class="put_map_address_latitude" value="" readonly="readonly"/>
					</td>
				</tr>
				<tr>
					<td>
						<b>Longitude :</b>
					</td>
					<td>
						<input type="text" id="pin" class="put_map_address_longitude" value="" readonly="readonly"/>
					</td>
				</tr>-->
<!--				<tr><td></td></tr><tr><td></td></tr>-->
				<tr>
					<td colspan="2" align="center">
						<input type="button" class="buton" value="Done" onclick="close_fancybox();$('.put_map_address1').val($('.put_map_address').val());$('#erraddr').html('');" />
				  <input type="button" class="buton" value="Cancel" onclick="close_fancybox();" />
				  </td>
				</tr>
			</table>
		</div>
	</form>
	<div id="map_canvas" class="map_canvas" style="height: 380px; width: 350px; float: left;"></div>
</div>
