{assign var=check_field value=$util->get_values_from_config('LOGIN')}
{assign var=type value = $smarty.session.login_type}
<div id="error" align="center" style="display:none"></div>
<div class="hdng">Register with Basic Information</div>
<form id="signupform" name="signupform" action="##LBL_SITE_URL##user/updateProfile" method="post" onSubmit="return checkValidate();">
  <input type="hidden" name="id_user" id="id_user" value="{$sm.res.id_user}" />
  <input type="hidden" name="{$smarty.session.login_type}" id="{$smarty.session.login_type}" value="{$smarty.session.$type}" />
  <input type="hidden" name="social_regd_type" id="social_regd_type" value="{$smarty.session.social_regd_type}" />
  <div class="wid50 center">
	<div class="makebox">
	  <table class="formtbl">
		<tr>
		  <td width="155"><label for="fname">First Name :</label></td>
		  <td><input type="text" name="user[first_name]" id="fname" value="{$sm.res.first_name}"/>
		  </td>
		</tr>
		<tr>
		  <td><label for="lname">Last Name :</label></td>
		  <td align="left">
			<input type="text" name="user[last_name]" id="lname" value="{$sm.res.last_name}" />
		  </td>
		</tr>
		<tr>
		  <td><label for="username">Username:</label></td>
		  <td><input type="text" name="user[username]" id="username" value="{$sm.res.username}" {if $type neq 'twitt_connect'}onkeyup="return showUsernameExist();" onblur="showUsernameExist();"{/if} {if $type eq 'twitt_connect'}readonly="readonly"{/if}/>
			<span id="add_user_msg"><b></b></span>
		  </td>
		</tr>
		<tr>
		  <td><label for="email">Email : </label></td>
		  <td>
			<input type="text" name="user[email]" id="email" value="{$sm.res.email}" {if $type eq 'twitt_connect'}onkeyup="return showEmailExist();" onblur="showEmailExist();"{/if} {if $type neq 'twitt_connect'}readonly="readonly"{/if}/>
				   <span id="add_email_msg"><label for="email" generated="true" class="error"></label></span>
		  </td>
		</tr>
		<tr>
		  <td><label for="email">Phone : </label></td>
		  <td><input type="text" name="user[phno]" id="phno" value="{$sm.res.phno}" />
		  </td>
		</tr>
		<tr>
		  <td><label for="pwd">Password :</label></td>
		  <td><input type="password" name="user[password]" id="pwd" value="" onkeyup="checkPassword();"/>
			<span id="err4"></span>
		  </td>
		</tr>
		<tr>
		  <td colspan="3">
			<div id="passprogressbar">
			  <div id="subpassprogressbar">
				<span id="status">&nbsp;</span>
			  </div>
			</div>
		  </td>
		</tr>
		<tr>
		  <td><label for="cpwd">Confirm Password :</label></td>
		  <td><input type="password" name="cpwd" id="cpwd" value="" />
			<span id="err9"></span>
		  </td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td><input type="submit" value="Register" class="userbuton" /></td>
		</tr>
	  </table>
	</div>
  </div>
</form>
{literal}
<style type="text/css"></style>
<script type="text/javascript">
  var usernamecheck;
  var mxlnth;
  $(function() {
	var c = "{/literal}{$check_field.name}{literal}";
	if (c == 1) {
	  usernamecheck = true;
	  mxlnth = 20;
	} else {
	  usernamecheck = false;
	  mxlnth = 20;
	}
  });
  $.validator.addMethod("username", function(value) {
	return /^[a-z0-9]([a-z0-9_.]+)?$/i.test(value);
  }, '<br>Please enter a valid username'
		  );
  function checkValidate() {
	$('#add_user_msg').html('');
	$('#add_email_msg').html('');
	var validator = $("#signupform").validate({
	  rules: {
		"user[first_name]": {
		  required: true,
		  maxlength: 50
		},
		"user[last_name]": {
		  required: true,
		  maxlength: 50
		},
		"user[username]": {
		  required: true,
		  maxlength: mxlnth,
		  username: usernamecheck,
		},
		"user[email]": {
		  required: true,
		  email: true
		},
		"user[password]": {
		  required: true,
		  minlength: 6,
		  maxlength: 20
		},
		"cpwd": {
		  required: true,
		  equalTo: '#pwd'
		},
		"user[phno]": {
		  digits: true,
		  maxlength: 10
		}
	  },
	  messages: {
		"user[first_name]": {
		  required: "<br>" + flexymsg.required,
		  maxlength: "<br>" + flexymsg.maxlength
		},
		"user[last_name]": {
		  required: "<br>" + flexymsg.required,
		  maxlength: "<br>" + flexymsg.maxlength
		},
		"user[username]": {
		  required: "<br>" + flexymsg.required,
		  maxlength: "<br>" + flexymsg.maxlength,
		  email: "<br>" + flexymsg.email
		},
		"user[email]": {
		  required: "<br>" + flexymsg.required,
		  email: "<br>" + flexymsg.email
		},
		"user[password]": {
		  required: "<br>" + flexymsg.required,
		  minlength: "<br>" + flexymsg.minlength,
		  maxlength: "<br>" + flexymsg.maxlength
		},
		"cpwd": {
		  required: "<br>" + flexymsg.required,
		  equalTo: "<br>" + flexymsg.equalTo
		}
	  }
	});
	var x = validator.form();
	if (x && userexist && emailexist) {
	  return x;
	} else {
	  if (!userexist) {
		$('#add_user_msg').html("<font color=red>This Username Already Exist.</font>");
	  }
	  if (!emailexist) {
		$('#add_email_msg').html("<font color=red>This email id already is in use.</font>");
	  }
	  return false;
	}
  }
  var userexist = true;
  var emailexist = true;
  function showUsernameExist() {
	var username = $('#username').val();
	if (username != '') {
	  $.post(siteurl, {"page": "user", "choice": "checkUsername", ce: 0, "username": username}, function(res) {
		if (res == 1 && username != "") {
		  $('#add_user_msg').html("<font color=red>This Username Already Exist.</font>");
		  userexist = false;
//					return false;
		} else {
		  $('#add_user_msg').html('');
		  userexist = true;
//					return true;
		}
	  });
	} else {
	  $('#add_user_msg').html('');
	  $('#username').focus();
	  userexist = false;
//			return false;
	}
  }
  function showEmailExist() {
	var email = $('#email').val();
	var id_user = '{/literal}{$sm.res.id_user}{literal}';
	if (email != '') {
	  $.post(siteurl, {"page": "user", "choice": "checkEmail", 'ce': '0', "email": email, 'id_user': id_user}, function(res) {
		if (res == 1 && email != "") {
		  $('#add_email_msg').html("<font color=red>This email id already is in use.</font>");
		  emailexist = false;
		} else {
		  $('#add_email_msg').html('');
		  emailexist = true;
		}
	  });
	} else {
	  $('#add_email_msg').html('');
	  $('#email').focus();
	  emailexist = false;
	}
  }
  function checkPassword() {
	var text = $('#pwd').val();
	var i, s, color, width;
	var n_o_small_char = 0;
	var n_o_cap_char = 0;
	var n_o_spe_char = 0;
	var n_o_dig = 0;
	var point = 0;
	for (i = 0; i < text.length; i++) {
	  if (97 <= text.charCodeAt(i) && text.charCodeAt(i) <= 122) {
		point++;
		n_o_small_char = n_o_small_char + 1;
	  } else if (65 <= text.charCodeAt(i) && text.charCodeAt(i) <= 90) {
		point = point + 2;
		n_o_cap_char++;
	  } else if (48 <= text.charCodeAt(i) && text.charCodeAt(i) <= 57) {
		point = point + 2;
		n_o_dig++;
	  } else if (text.charCodeAt(i) != 32) {
		n_o_spe_char++;
		point = point + 3;
	  }
	}
	if (n_o_small_char > 0 && n_o_cap_char > 0 && n_o_spe_char > 0 && n_o_dig > 0) {
	  point = point + 4;
	}
	if (n_o_spe_char > 2) {
	  point = point + 3;
	}
	if (point < 10) {
	  if (!point) {
		s = "";
		width = 0;
	  } else {
		s = "poor";
		color = "#FFFFCC";
		width = 30;
	  }
	} else if (10 <= point && point <= 15) {
	  s = "good";
	  color = "#CCFFFF";
	  width = 60;
	} else if (point >= 15) {
	  s = "best";
	  width = 100;
	  color = "#00FF00";
	}
	document.getElementById('status').innerHTML = s;
	document.getElementById('subpassprogressbar').style.backgroundColor = color;
	document.getElementById('subpassprogressbar').style.width = width + '%';
  }
</script>
{/literal}