{assign var=check_field value=$util->get_values_from_config('LOGIN')}
{assign var=check_captcha value=$util->get_values_from_config('CAPTCHA')}
{assign var=show_map value=$util->get_values_from_config('ADDR_GMAP')}
{assign var=hobby value=$util->get_values_from_config('HOBBIES')}
{assign var=type value = $smarty.session.login_type}
{if $show_map.gmap_status == "true"}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>
<script type="text/javascript" src="##FLEXY_JS_PATH##flexymap.js"></script>
{/if}
{literal}
<script type="text/javascript">
  var emailcheck;
  var usernamecheck;
  var mxlnth;
  $(function() {
	showdate();
	var c = "{/literal}{$check_field.name}{literal}";
	if (c == 1) {
	  usernamecheck = true;
	  mxlnth = 20;
	  emailcheck = false;
	} else {
	  usernamecheck = false;
	  mxlnth = false;
	  emailcheck = true;
	}
  });
  $.validator.addMethod("username", function(value) {
	return /^[a-z0-9]([a-z0-9_.]+)?$/i.test(value);
  }, '<br>Please enter a valid username'
		  );

  function showdate() {
	var x = document.getElementById('dtdropdown').options.length;
	var mon = $('#mondropdown').val();
	var yr = $('#yrdropdown').val();
	var lpyr = checkleap(yr);
	if (mon == '02') {
	  if (!lpyr) {
		$("#dtdropdown option[value='29']").remove();
	  } else {
		$("#dtdropdown option[value=29]").html() == null ? $("#dtdropdown").append('<option value="29">29</option>') : '';
	  }
	  $("#dtdropdown option[value='30']").remove();
	  $("#dtdropdown option[value='31']").remove();
	} else if (mon == '01' || mon == '03' || mon == '05' || mon == '07' || mon == '08' || mon == '10' || mon == '12') {
	  $("#dtdropdown option[value=29]").html() == null ? $("#dtdropdown").append('<option value="29">29</option>') : '';
	  $("#dtdropdown option[value=30]").html() == null ? $("#dtdropdown").append('<option value="30">30</option>') : '';
	  $("#dtdropdown option[value=31]").html() == null ? $("#dtdropdown").append('<option value="31">31</option>') : '';
	} else {
	  $("#dtdropdown option[value=29]").html() == null ? $("#dtdropdown").append('<option value="29">29</option>') : '';
	  $("#dtdropdown option[value=30]").html() == null ? $("#dtdropdown").append('<option value="30">30</option>') : '';
	  $("#dtdropdown option[value='31']").remove();
	}
  }

  function checkleap(yr) {
	if ((yr % 100 == 0 && yr % 400 == 0) || (yr % 100 != 0 && yr % 4 == 0))
	  return 1
	else
	  return 0;
  }

  function checkValidate() {
	$('#add_user_msg').html('');
	$('#add_email_msg').html('');
	var validator = $("#signupform").validate({
	  rules: {
		"user[first_name]": {
		  required: true,
		  maxlength: 50
		},
		"user[last_name]": {
		  required: true,
		  maxlength: 50
		},
		"user[username]": {
		  required: true,
//		  maxlength: mxlnth,
//		  username: usernamecheck,
		  email: emailcheck
		},
		"user[email]": {
		  required: true,
		  email: true
		},
		"user[password]": {
		  required: true,
		  minlength: 6,
		  maxlength: 20
		},
		"cpwd": {
		  required: true,
		  equalTo: '#pwd'
		},
		"gender": {
		  required: true
		},
		"user[address]": {
		  required: true
		},
		"dob_Month": {
		  required: true
		},
		"dob_Year": {
		  required: true
		},
		"dob_Day": {
		  required: true
		},
		"hobbies[]": {
		  required: true
		}
	  },
	  messages: {
		"user[first_name]": {
		  required:flexymsg.required,
		  maxlength: "<br>" + flexymsg.maxlength
		},
		"user[last_name]": {
		  required:flexymsg.required,
		  maxlength: "<br>" + flexymsg.maxlength
		},
		"user[username]": {
		  required:flexymsg.required,
		  maxlength: "<br>" + flexymsg.maxlength,
		  email: "<br>" + flexymsg.email
		},
		"user[email]": {
		  required:flexymsg.required,
		  email: "<br>" + flexymsg.email
		},
		"user[password]": {
		  required:flexymsg.required,
		  minlength: "<br>" + flexymsg.minlength,
		  maxlength: "<br>" + flexymsg.maxlength
		},
		"cpwd": {
		  required:flexymsg.required,
		  equalTo: "<br>" + flexymsg.equalTo
		},
		"gender": {
		  required:flexymsg.required
		},
		"user[address]": {
		  required: flexymsg.required
		},
		"dob_Month": {
		  required: "Month field required"
		},
		"dob_Year": {
		  required: "Year field required"
		},
		"dob_Day": {
		  required: "Date field required"
		},
		"hobbies[]": {
		  required:flexymsg.required
		}
	  }
	});
//		var y = $("[type^='checkbox']").is(":checked");
	var x = validator.form();
//		var y= showUsernameExist();
//		if(!y){
//			$("#err6").html("<font color='red'><b>This field required<b></font>");
//			return false;
//		}else{
//			$("#err6").html("");
//		}
//alert(x+"==="+userexist+"==="+emailexist)
	if (x && userexist && emailexist) {
	  return x;
	} else {
	  if (!userexist) {
		$('#add_user_msg').html("<font color=red>This Username Already Exist.</font>");
	  }
	  if (!emailexist) {
		$('#add_email_msg').html("<font color=red>This email id already is in use.</font>");
	  }
	  return false;
	}
  }
  var userexist = true;
  var emailexist = true;
  function showUsernameExist() {
	var username = $('#username').val();
	if (username != '') {
	  $.post(siteurl, {"page": "user", "choice": "checkUsername", ce: 0, "username": username}, function(res) {
		if (res == 1 && username != "") {
		  $('#add_user_msg').html("<font color=red>This Username Already Exist.</font>");
		  userexist = false;
//					return false;
		} else {
		  $('#add_user_msg').html('');
		  userexist = true;
//					return true;
		}
	  });
	} else {
	  $('#add_user_msg').html('');
	  $('#username').focus();
	  userexist = false;
//			return false;
	}
  }
  function showEmailExist() {
	var email = $('#email').val();
	var id_user = '{/literal}{$sm.res.id_user}{literal}';
	if (email != '') {
	  $.post(siteurl, {"page": "user", "choice": "checkEmail", 'ce': '0', "email": email, 'id_user': id_user}, function(res) {
		if (res == 1 && email != "") {
		  $('#add_email_msg').html("<font color=red>This email id already is in use.</font>");
		  emailexist = false;
		} else {
		  $('#add_email_msg').html('');
		  emailexist = true;
		}
	  });
	} else {
	  $('#add_email_msg').html('');
	  $('#email').focus();
	  emailexist = false;
	}
  }


  function checkPassword() {
	var text = $('#pwd').val();
	var i, s, color, width;
	var n_o_small_char = 0;
	var n_o_cap_char = 0;
	var n_o_spe_char = 0;
	var n_o_dig = 0;
	var point = 0;
	for (i = 0; i < text.length; i++) {
	  if (97 <= text.charCodeAt(i) && text.charCodeAt(i) <= 122) {
		point++;
		n_o_small_char = n_o_small_char + 1;
	  } else if (65 <= text.charCodeAt(i) && text.charCodeAt(i) <= 90) {
		point = point + 2;
		n_o_cap_char++;
	  } else if (48 <= text.charCodeAt(i) && text.charCodeAt(i) <= 57) {
		point = point + 2;
		n_o_dig++;
	  } else if (text.charCodeAt(i) != 32) {
		n_o_spe_char++;
		point = point + 3;
	  }
	}
	if (n_o_small_char > 0 && n_o_cap_char > 0 && n_o_spe_char > 0 && n_o_dig > 0) {
	  point = point + 4;
	}
	if (n_o_spe_char > 2) {
	  point = point + 3;
	}
	if (point < 10) {
	  if (!point) {
		s = "";
		width = 0;
	  } else {
		s = "poor";
		color = "#FFFFCC";
		width = 30;
	  }
	} else if (10 <= point && point <= 15) {
	  s = "good";
	  color = "#CCFFFF";
	  width = 60;
	} else if (point >= 15) {
	  s = "best";
	  width = 100;
	  color = "#00FF00";
	}
	document.getElementById('status').innerHTML = s;
	document.getElementById('subpassprogressbar').style.backgroundColor = color;
	document.getElementById('subpassprogressbar').style.width = width + '%';
  }

  function insertData() {
	if (checkValidate()) {
	  var loginInput = $("#signupform").serialize();
	  var url = siteurl + "user/insert/ce/0/?" + loginInput;
	  $.post(url, function(res) {
		var err = res.split("::");
		if (err[0] == 'suc') {
		  window.location.href = err[1];
		} else if (err[0] == 'fcon') {
		  $.post(siteurl, {"page": "user", "choice": "fconnect", "ce": 0, "fid": err[1]}, function(fres) {
			show_fancybox(fres);
		  })
		} else if (err[0] == 'err') {
		  $("#error").html("<div style='color:#FF0000;margin-top:25px;'>" + err[1] + "</div>").show();
		  return false;
		} else {
		  $("#logintable").html(res);
		}
	  });
	} else {
	  return false;
	}
	return false;
  }
</script>
<style type="text/css">
  h3.gradient a{color:white; text-decoration: underline}
  h3.gradient a:hover{text-decoration: none;}
  td.sml_select select{width:20%}
  .left label{float: left; margin-left:0px;}
  .counttext img{display:none;right:5px; top: 2px;}
  .counttext:hover img{display:block;}
  .gradient1{background:#4A8BC2 !important; font-size:15.5px !important; text-align: center; padding:0px !important;}
  .secndtd{width:95%;}
  .register_admin{display:none;}
  .reg .table tr td{border-top:none !important;}
  .reg .table tr td:nth-child(1){padding-top: 12px !important;}
</style>
{/literal}
<!--done by gayatree starts-->
<div class="wid70 center reg" style="margin:0 auto;">
<div class="row-fluid">
<div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget red">
                            <div class="widget-title">
                            <h4><i class="icon-reorder"></i> Registration Form</h4>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>
                                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                <a href="javascript:;" class="reload"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                                                      
                            <div class="widget-body">
                              <div id="error" align="center" style="display:none"></div>
{if $check_field.register == 1 && !$sm.flag}
<form id="signupform" name="signupform" action="javascript:void(0);" method="post" onSubmit="return insertData();" autocomplete="off">
  {else}
  <form id="signupform" name="signupform" action="##LBL_SITE_URL##user/{if $sm.flag || $smarty.session.regd_type}updateProfile{else}insert{/if}" method="post" onSubmit="return checkValidate();">
	<input type="hidden" name="{$smarty.session.login_type}" id="{$smarty.session.login_type}" value="{$smarty.session.$type}" />
	<input type="hidden" name="id_user" id="id_user" value="{$sm.res.id_user}" />
	<input type="hidden" name="social_regd_type" id="social_regd_type" value="{$smarty.session.social_regd_type}" />
	{/if}
    <h3 class="gradient gradient1">{if !$sm.res.username}You can join here{else}Edit Profile <a href="##LBL_SITE_URL##user/changePassword" class="fltrht mrgrht1">Change Password</a><div class="clear"></div>{/if}</h3>
                                <table class="table table-striped">
<!--                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                    </tr>
                                    </thead>-->
                                    <tbody>
                                    <tr>
			<td width="15%"><label for="fname">First Name  </label></td>
			<td><input type="text" name="user[first_name]" id="fname" value="{$sm.res.first_name}" class="secndtd" />
			  <span id="err">{$sm.err.first_name}</span>
			</td>
		  </tr>
		  <tr>
			<td><label for="lname">Last Name  </label></td>
			<td align="left"><input type="text" name="user[last_name]" id="lname" value="{$sm.res.last_name}" class="secndtd" />
			  <span id="err1">{$sm.err.last_name}</span>
			</td>
		  </tr>
		  <tr>
			<td><label for="username">Username </label></td>
			<td><input type="text" name="user[username]" class="secndtd" id="username" value="{$sm.res.username}" {if $sm.flag}readonly="readonly"{/if} {if !$sm.flag}onkeyup="return showUsernameExist();" onblur="showUsernameExist();"{/if} />
					   <span id="add_user_msg"><b></b></span>
			  <span id="err2">{if $sm.d_name}{$sm.d_name}{else}{$sm.err.username}{/if}</span>
			</td>
		  </tr>
		  <tr>
			<td><label for="email">Email   </label></td>
			<td><input type="text" name="user[email]" id="email" value="{$sm.res.email}" class="secndtd" {if $smarty.session.regd_type}readonly="readonly"{/if} onkeyup="return showEmailExist();"/>
					   <span id="add_email_msg"><label for="email" generated="true" class="error"></label></span>
			  <span id="err3">{$sm.err.email}</span>
			</td>
		  </tr>
		  {if !$sm.flag}
		  <tr>
			<td><label for="pwd">Password  </label></td>
			<td><input type="password" name="user[password]" id="pwd" value="" onkeyup="checkPassword();" class="secndtd"/>
			  <span id="err4">{$sm.err.password}</span>
			</td>
		  </tr>
		  <tr>
			<td colspan="3">
			  <div id="passprogressbar">
				<div id="subpassprogressbar">
				  <span id="status">&nbsp;</span>
				</div>
			  </div>
			</td>
		  </tr>
		  <tr>
			<td><label for="cpwd">Confirm Password  </label></td>
			<td><input type="password" name="cpwd" id="cpwd" value="{$sm.conf_pwd}" class="secndtd" />
			  <span id="err9">{$sm.err.conf_pwd}</span>
			</td>
		  </tr>
		  {/if}
		  <tr>
			<td><label>Gender  </label></td>
			<td class="left">
			  {html_radios name=gender options=$sm.gender selected=$sm.res.gender}
			  <label for="gender" class="error" style="display:none;" class="secndtd">Please choose one option.</label>
			  <span id="err5">{$sm.err.gender}</span>
			</td>
		  </tr>
		  {if $hobby.status == "true"}
		  <tr>
			<td><label>Hobbies  </label> </td>
			<td class="left">
			  {assign var=u_hob value=$sm.res.hobbies}
			  {foreach item=val key=key from=$sm.hobbies}
			  <input class="secndtd" type="checkbox" name="hobbies[]" value="{$key}" {if $u_hob & $key}checked="checked"{/if}>&nbsp;&nbsp;{$val}&nbsp;&nbsp;
					 {/foreach}
					 <label class="error" for="hobbies[]" generated="true" style="display:none;"></label>
			  <span id="err6">{$sm.err.hobbies}</span>
			</td>
		  </tr>
		  {/if}
		  <tr>
			<td valign="top"><label for="address">Address  </label><!-- <br />To add more address fields hover the textarea --></td>
			<td>
			  <div id="extratxt">
				<div class="posrel counttext1" id="address0">
				  <textarea name="user[address]" rows="3" style="width:93%" id="addr" {if $show_map.gmap_status}class="put_map_address1"{/if} >{$sm.res.address}</textarea>
				  {if $show_map.gmap_status=="true"}
				  <a href="javascript:void(0);" onclick="return display_map();"><img src="##CSS_PATH##img/question_mark_icon.gif" alt="Address in Map" title="Address in Map"/></a>
				  {/if}
				  <!--			<img src="##LBL_SITE_URL##templates/css_theme/img/led-ico/add.png" onclick="addmore();" class="posabs cursor_pointer" />-->
				</div>
				<label class="error" for="addr" id="erraddr" generated="true"></label>
				<span class="err7">{$sm.err.address}</span>
			  </div>
			</td>
		  </tr>
		  <tr>
			<td><label>Date of Birth  </label> </td>
			<td class="sml_select">
			  {if $sm.res.dob}
			  {assign var=date value=$sm.res.dob}
			  {else}
			  {assign var=date value="--"}
			  {/if}
			  {html_select_date prefix="dob_" start_year="-100" year_empty="Year" month_empty="Month" day_empty="Date" reverse_years=true day_extra="id='dtdropdown'" month_extra="id='mondropdown' onchange='showdate();'" year_extra="id='yrdropdown' onchange='showdate();'" time=$date}
			  <span id="err8">{$sm.err.dob}</span>
			  <table width="70%">
				<tr>
				  <td width="30%"><label class="error" generated="true" for="mondropdown" style="display:none;margin-left:0px;"></label> </td>
				  <td width="30%"><label class="error" generated="true" for="dtdropdown" style="display:none; margin-left: -12px;"></label></td>
				  <td width="33%"><label class="error" generated="true" for="yrdropdown" style="display:none;margin-left: -22px;"></label></td>
				</tr>
			  </table>
			</td>
		  </tr>
		  {if $check_captcha.register && !$sm.flag}
		  <tr>
			<td>&nbsp;</td>
			<td>
			  <div id="load_captcha">{get_mod mod=user mgr=user choice=getCaptchaDb type=register}</div>
			  {if $sm.captcha_msg}
			  <span id="cap_err_msg" style="margin:0px auto;"> <font color="red">{$sm.captcha_msg}</font></span>
			  {/if}
			</td>
		  </tr>
		  {/if}
		  <tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="{if $sm.flag}Update{else}Register{/if}" class="btn btn-success" /></td>
		  </tr>
                                    </tbody>
                                </table>
    </form>
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
  </div>
  </div>
<!--done by gayatree ends-->













<div id="error" align="center" style="display:none"></div>
{if $check_field.register == 1 && !$sm.flag}
<form id="signupform" name="signupform" action="javascript:void(0);" method="post" onSubmit="return insertData();" autocomplete="off">
  {else}
  <form id="signupform" name="signupform" action="##LBL_SITE_URL##user/{if $sm.flag || $smarty.session.regd_type}updateProfile{else}insert{/if}" method="post" onSubmit="return checkValidate();">
	<input type="hidden" name="{$smarty.session.login_type}" id="{$smarty.session.login_type}" value="{$smarty.session.$type}" />
	<input type="hidden" name="id_user" id="id_user" value="{$sm.res.id_user}" />
	<input type="hidden" name="social_regd_type" id="social_regd_type" value="{$smarty.session.social_regd_type}" />
	{/if}
	<div class="wid70 center register_admin">
	  <div class="makebox">
		<h3 class="gradient">{if !$sm.res.username}You can join here{else}Edit Profile <a href="##LBL_SITE_URL##user/changePassword" class="fltrht mrgrht1">Change Password</a><div class="clear"></div>{/if}</h3>
		<table class="formtbl">
		  <tr>
			<td width="155"><label for="fname">First Name :</label></td>
			<td><input type="text" name="user[first_name]" id="fname" value="{$sm.res.first_name}" />
			  <span id="err">{$sm.err.first_name}</span>
			</td>
		  </tr>
		  <tr>
			<td><label for="lname">Last Name :</label></td>
			<td align="left"><input type="text" name="user[last_name]" id="lname" value="{$sm.res.last_name}" />
			  <span id="err1">{$sm.err.last_name}</span>
			</td>
		  </tr>
		  <tr>
			<td><label for="username">Username:</label></td>
			<td><input type="text" name="user[username]" id="username" value="{$sm.res.username}" {if $sm.flag}readonly="readonly"{/if} {if !$sm.flag}onkeyup="return showUsernameExist();" onblur="showUsernameExist();"{/if} />
					   <span id="add_user_msg"><b></b></span>
			  <span id="err2">{if $sm.d_name}{$sm.d_name}{else}{$sm.err.username}{/if}</span>
			</td>
		  </tr>
		  <tr>
			<td><label for="email">Email : </label></td>
			<td><input type="text" name="user[email]" id="email" value="{$sm.res.email}" {if $smarty.session.regd_type}readonly="readonly"{/if} onkeyup="return showEmailExist();"/>
					   <span id="add_email_msg"><label for="email" generated="true" class="error"></label></span>
			  <span id="err3">{$sm.err.email}</span>
			</td>
		  </tr>
		  {if !$sm.flag}
		  <tr>
			<td><label for="pwd">Password :</label></td>
			<td><input type="password" name="user[password]" id="pwd" value="" onkeyup="checkPassword();"/>
			  <span id="err4">{$sm.err.password}</span>
			</td>
		  </tr>
		  <tr>
			<td colspan="3">
			  <div id="passprogressbar">
				<div id="subpassprogressbar">
				  <span id="status">&nbsp;</span>
				</div>
			  </div>
			</td>
		  </tr>
		  <tr>
			<td><label for="cpwd">Confirm Password :</label></td>
			<td><input type="password" name="cpwd" id="cpwd" value="{$sm.conf_pwd}" />
			  <span id="err9">{$sm.err.conf_pwd}</span>
			</td>
		  </tr>
		  {/if}
		  <tr>
			<td><label>Gender :</label></td>
			<td class="left">
			  {html_radios name=gender options=$sm.gender selected=$sm.res.gender}<br />
			  <label for="gender" class="error" style="display:none;">Please choose one option.</label>
			  <span id="err5">{$sm.err.gender}</span>
			</td>
		  </tr>
		  {if $hobby.status == "true"}
		  <tr>
			<td><label>Hobbies :</label> </td>
			<td class="left">
			  {assign var=u_hob value=$sm.res.hobbies}
			  {foreach item=val key=key from=$sm.hobbies}
			  <input type="checkbox" name="hobbies[]" value="{$key}" {if $u_hob & $key}checked="checked"{/if}>{$val}
					 {/foreach}
					 <label class="error" for="hobbies[]" generated="true" style="display:none;"></label>
			  <span id="err6">{$sm.err.hobbies}</span>
			</td>
		  </tr>
		  {/if}
		  <tr>
			<td valign="top"><label for="address">Address :</label><!-- <br />To add more address fields hover the textarea --></td>
			<td>
			  <div id="extratxt">
				<div class="posrel counttext1" id="address0">
				  <textarea name="user[address]" rows="3" style="width:93%" id="addr" {if $show_map.gmap_status}class="put_map_address1"{/if} >{$sm.res.address}</textarea>
				  {if $show_map.gmap_status=="true"}
				  <a href="javascript:void(0);" onclick="return display_map();"><img src="##CSS_PATH##img/question_mark_icon.gif" alt="Address in Map" title="Address in Map"/></a>
				  {/if}
				  <!--			<img src="##LBL_SITE_URL##templates/css_theme/img/led-ico/add.png" onclick="addmore();" class="posabs cursor_pointer" />-->
				</div>
				<label class="error" for="addr" id="erraddr" generated="true"></label>
				<span class="err7">{$sm.err.address}</span>
			  </div>
			</td>
		  </tr>
		  <tr>
			<td><label>Date of Birth :</label> </td>
			<td class="sml_select">
			  {if $sm.res.dob}
			  {assign var=date value=$sm.res.dob}
			  {else}
			  {assign var=date value="--"}
			  {/if}
			  {html_select_date prefix="dob_" start_year="-100" year_empty="Year" month_empty="Month" day_empty="Date" reverse_years=true day_extra="id='dtdropdown'" month_extra="id='mondropdown' onchange='showdate();'" year_extra="id='yrdropdown' onchange='showdate();'" time=$date}
			  <span id="err8">{$sm.err.dob}</span>
			  <table width="70%">
				<tr>
				  <td width="30%"><label class="error" generated="true" for="mondropdown" style="display:none;margin-left:0px;"></label> </td>
				  <td width="30%"><label class="error" generated="true" for="dtdropdown" style="display:none; margin-left: -12px;"></label></td>
				  <td width="33%"><label class="error" generated="true" for="yrdropdown" style="display:none;margin-left: -22px;"></label></td>
				</tr>
			  </table>
			</td>
		  </tr>
		  {if $check_captcha.register && !$sm.flag}
		  <tr>
			<td>&nbsp;</td>
			<td>
			  <div id="load_captcha">{get_mod mod=user mgr=user choice=getCaptchaDb type=register}</div>
			  {if $sm.captcha_msg}
			  <span id="cap_err_msg" style="margin:0px auto;"> <font color="red">{$sm.captcha_msg}</font></span>
			  {/if}
			</td>
		  </tr>
		  {/if}
		  <tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="{if $sm.flag}Update{else}Register{/if}" class="userbuton" /></td>
		  </tr>
		</table>
	  </div>
	</div>
  </form>

  {literal}
  <style type="text/css">
	.left label {
	  float: none ;
	}
  </style>
  <script type="text/javascript">
	var apnd = '';
	function addmore() {
	  var id = $('.counttext').length;
	  apnd = '<div class="posrel counttext" id="address' + id + '"><textarea name="user[address][]" rows="3" style="width:93%" ></textarea><img src="##LBL_SITE_URL##templates/css_theme/img/led-ico/delete.png" onclick="delthis(' + id + ')" class="posabs cursor_pointer" /></div>';
	  $('#extratxt').append(apnd);
	}
	function delthis(id) {
	  $('#address' + id).remove();
	}
  </script>
  {/literal}



