<div class="wid100">
    <div class="wid40 fltlft" style="margin-left:10%">
	<div class="makebox curve_border">
	    <h3 class="gradient">This is a dummy static content</h3>
	    <div class="seemore">
		<div class="seemorecontent">
		    <p>It is a long established fact that a reader will be distracted by the readable content of a 
		    page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less 
		    normal distribution of letters, as opposed to using 'Content here, content here', making it look 
		    like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum 
		    as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in 
		    their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on 
		    purpose (injected humour and the like).</p>
		    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered 
		    alteration in some form, by injected humour, or randomised words which don't look even slightly 
		    believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't 
		    anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet 
		    tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. 
		    It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, 
		    to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free 
		    from repetition, injected humour, or non-characteristic words etc</p>
		</div>
		<div class="seemoreswitch">Hide Content</div>
	    </div>
	</div>
    </div>
    <div class="wid40 fltlft">
	<div class="makebox curve_border">
	    <h3 class="gradient">This is a dummy static content</h3>
	    <div class="seemore" sethite="56">
		<div class="seemorecontent">
		    <p>It is a long established fact that a reader will be distracted by the readable content of a 
		    page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less 
		    normal distribution of letters, as opposed to using 'Content here, content here', making it look 
		    like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum 
		    as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in 
		    their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on 
		    purpose (injected humour and the like).</p>
		    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered 
		    alteration in some form, by injected humour, or randomised words which don't look even slightly 
		    believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't 
		    anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet 
		    tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. 
		    It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, 
		    to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free 
		    from repetition, injected humour, or non-characteristic words etc</p>
		</div>
		<div class="seemoreswitch">Hide Content</div>
	    </div>
	</div>
    </div>
		<div class="wid80 fltlft" style="margin-left:10%">
	<div class="makebox curve_border">
	    <h3 class="gradient">For including Rating and Comment in your listing Please follow these instruction</h3>
	    <div class="seemore1" sethite="56">
		<div class="seemorecontent">
		    <p>
						For Rating implementation :<br />
						{literal}<br /> <b>{get_mod mod=rating mgr=rating choice=commentRating table=product field=name id=$sm.res.id_product view=$view_type}</b>{/literal}
						<br />Where $view_type is 0 for rating and 1 for view 
				</p>
		    <p>For Comment implementation</p>
				{literal}<b>{get_mod mod=rating mgr=rating choice=showChieldComment table=comment id_parent=$sm.res.id_product id_origin=$sm.res.id_product}</b>{/literal}
				<br />
				Where id_parent is the root node of the comment being added
				 <br />id_origin is the parent of the comment being added
		</div>
		<div class="seemoreswitch1"></div>
	    </div>
	</div>
    </div>
    <div class="clear"></div>
</div>
