<!--done by gayatree starts-->
{literal}
<style type="text/css">
  .blocklist_admin{display:none;}
  .block_ip a{color:#fff !important;}
</style>
{/literal}
 <div class="row-fluid">
                <div class="span12">
                  
                <!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget red">
                    <div class="widget-title">
                       
                        <h4><i class="icon-reorder"></i>Blocked IP List</h4>
                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                        <div  class="fltrht pdngin block_ip">
            {if $sm.blockedip}
                <a href="javascript:void(0);" onclick="unBlockIp();" class="btn btn-success">Unblock IP</a>
            {/if}
                <a href="javascript:void(0);" onclick="blockIp();" class="btn btn-success">Add</a>
            </div>
                    </div>
                    <div class="widget-body">
                     <form>
                        <table class="table table-striped table-bordered" id="sample_1">
                          {if $sm.blockedip}
                            <thead>
                         <th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes"  iid="chkall" name="chkall" />Select All</th>
                                <th>Username</th>
						<th class="hidden-phone">IP Address</th>
						<th class="hidden-phone">Blocking Time</th>
						<th class="hidden-phone">Blocking Upto</th>
                        <th class="hidden-phone">Reason</th>
                                
                            </tr>
                            </thead>
                            {/if}
                                
                             <tbody>
                              {foreach from=$sm.blockedip item=item}
                            <tr class="odd gradeX">
                                <td><input type="checkbox" class="checkboxes" id="id_chk{$item.id_block}"  value="'{$item.ip}'" name="chk[]" onclick="unSelect();" /></td>
                                <td>{$item.username|default:"Not Entered"}</td>
                                <!--<td class="hidden-phone"><a href="mailto:jhone-doe@gmail.com">jhone-doe@gmail.com</a></td>-->
                                <td class="hidden-phone">{$item.ip}</td>
                                <td class="center hidden-phone">{$item.time_fail|date_format:"%m/%d/%Y %r"}</td>
                                <td class="hidden-phone">{$item.time_upto|date_format:"%m/%d/%Y %r"|default:"Login Failure"}}</td>
                                <td class="hidden-phone">{$item.reason|default:'&nbsp;'}</td>
                            </tr>
                            {foreachelse}
                            <tr>
						<td colspan="6" style="border:none;text-align:center;">No record found.</td>
					</tr>
                    {/foreach}
                    </tbody>
                         
                        </table>
                       </form>
                    </div>
                  
            
                  
                  
                  
                </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
                </div>
          



<!--done by gayatree ends-->






<div class="makebox center wid60 blocklist_admin">
    <div class="headprt settheme">
        <div class="mdl">
            <div  class="fltrht">
            {if $sm.blockedip}
                <a href="javascript:void(0);" onclick="unBlockIp();" class="buton">Unblock IP</a>
            {/if}
                <a href="javascript:void(0);" onclick="blockIp();" class="buton">Add</a>
            </div>
            <span>Blocked IP List</span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="bodyprt">
		<form>
            <table  class="tbl_listing">
            {if $sm.blockedip}
                <thead>
                    <tr>
                        <th><input type="checkbox" id="chkall" name="chkall" /><span style="vertical-align:top;">Select All</span></th>
                        <th>Username</th>
                        <th>Ip Address</th>
                        <th>Blocking Time</th>
                        <th>Blocking Upto</th>
                        <th>Reason</th>
                    </tr>
                </thead>
            {/if}
                <tbody>
                    {foreach from=$sm.blockedip item=item}
                    <tr>
                        <td><input type="checkbox" id="id_chk{$item.id_block}"  value="'{$item.ip}'" name="chk[]" onclick="unSelect();"/></td>
                        <td>{$item.username|default:"Not Entered"}</td>
                        <td>{$item.ip}</td>
                        <td>{$item.time_fail|date_format:"%m/%d/%Y %r"}</td>
                        <td>{$item.time_upto|date_format:"%m/%d/%Y %r"|default:"Login Failure"}</td>
                        <td>{$item.reason|default:'&nbsp;'}</td>
                    </tr>
                    {foreachelse}
                    <tr>
                        <td colspan="6" style="border:none;text-align:center;">No record found.</td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </form>
    </div>        
</div>
{literal}
<script type="text/javascript">
	function unSelect() {
		$("input[id^=id_chk]:unchecked").each(function(){
				$('#chkall').removeAttr('checked');
		});
	}
	function unBlockIp() {
		var choice=confirm('Do you want to unblock this?');
		if(choice){
			var x='';
			$("input[id^=id_chk]:checked").each(function(){
				x=x+','+$(this).val();
			});
			if(x==''){
messageShow("Check a checkbox please.");
				//$('#showerr').show();
                
			}else{
				//$('#showerr').hide();
				var url="##LBL_ADMIN_SITE_URL##ipblocking/deleteBlockIp";
				$.post(url,{ce:0,ipid:x},function(res){
					if(res) {
						window.location.href = res;
					}
				});
			}
		}
	}
	$("#chkall").click(function(){
		var checked_status = this.checked;
		$("input[id^=id_chk]").each(function()
			{
				this.checked = checked_status;
			});
	});
		
	function blockIp() {
		var url="##LBL_ADMIN_SITE_URL##ipblocking/blockIp";
	 	$.fancybox.showActivity();
		$.post(url,{ce:0},function(res){
			$.fancybox(res);
			css_even_odd();
		});

	}
</script>
{/literal}