{assign var=rating value=$util->get_values_from_config('RATE')}
{assign var=facebook value=$util->get_values_from_config('FACEBOOK')}
{assign var=linkedin value=$util->get_values_from_config('LINKEDIN')}
{assign var=twitter value=$util->get_values_from_config('TWITTER')}
<div class="navigation" style="margin-top: 62px;">
    <div class="center" style="margin-left: 22px;">
        <ul class="user_menu">
            {if $smarty.session.id_admin || $smarty.session.id_user}
                <li><a href="##LBL_SITE_URL##user/userHome" {if $smarty.request.page == 'user' && $smarty.request.choice == 'userHome'}class="current"{/if}>Home</a></li>
                <li><a href="##LBL_SITE_URL##product/listing" {if $smarty.request.page == 'product' && $smarty.request.choice == 'listing'}class="current"{/if}>Product List</a></li>
                <li><a href="##LBL_SITE_URL##user/edit" {if $smarty.request.page == 'user' && $smarty.request.choice == 'edit'}class="current"{/if}>Edit Profile</a></li>
                <li><a href="##LBL_SITE_URL##help/contactus.php" >contact us</a></li>
            {else}
            <!-- Add your menu for visitor -->
            {/if}
        </ul>
        <div class="clear"></div>
    </div>
</div>
{literal}
<script type="text/javascript">
    $(document).ready(function () {
        $('ul#menu li.openul').hover(function () {
            jQuery(this).find('> ul').stop(true, true).slideDown(300).css('width', '150px');
        }, function () {
            $(this).find('ul').slideUp(300);
        });
    });
</script>
{/literal}
