{literal}
<script type="text/javascript" language="javascript">

     
function callbackFun(response) {
var msg = "{/literal}{$sm.cms.id_content}{literal}"?"Content updated Successfully":"Content added successfully";
$.fancybox.close();
messageShow(msg);
$('#cms_listing').html(response);
}

function validate_cms(){
var conname = $('#con_name').val();
var concode = $('#con_cmscode').val();
var cmscat = $('#cmscategory').val();
var ln	    = $('#language').val();
if(conname && concode && cmscat){
var validator=$("#cms_en").validate({
rules: {
"cms[title]": {
required:true
}
},
messages: {
"cms[title]":{
required:"<br/>"+flexymsg.required
}
}
});
var x =validator.form();
var y=$("#checklinkunique").html().length;
if(x && !y){
var langVal	= $("#langVal").val();
var name= $('#tname').val();
var id_content	= ($('#id_cms').length) ?$('#id_cms').val(): "";
if(name){
//					$.post(siteurl,{"page":"cms","choice":"checkName","ce":0,"name":name,"language": langVal,"id_content":id_content},function(res){
//						if(res == '1'){
//							$('#multilanguagecms_error_name').html("<font color='red'>Duplicate Name.Please enter another one</font>");
//							return false;
//						}else{
$('#multilanguagecms_error_name').html('');
$('#tname').val();
//							if($('#id_cms').val()){
//								var uri = "##LBL_ADMIN_SITE_URL##cms/insert";
//							}else{
//								var uri = "##LBL_ADMIN_SITE_URL##cms/insert";
//							}
//							document.cms_en.action = uri;
//							document.cms_en.submit();
return true;
//						}
//					});
}

}else{
return false;
}
}else{
//messageShow("Please enter Name and Permacode");
$('#name_msg').html('<font color="red">Please specify name,category and permacode</font>');
$('#tname').focus();
return false;
}
}
//$(document).ready(function(){
var ln = "{/literal}{$sm.sel_lang}{literal}";
var oFCKeditor = new FCKeditor('description'+ln)
oFCKeditor.BasePath ="##LIBSEXT_PATH##fckeditor/";
oFCKeditor.Width = '100%';
oFCKeditor.Height = '350px';
oFCKeditor.Config["SkinPath"]=  oFCKeditor.BasePath + 'editor/skins/office2003/';
oFCKeditor.ReplaceTextarea();
//});
css_even_odd();
</script>
<style>
  .form-horizontal .control-group{margin-top:20px;}
</style>
{/literal}

	<div class="center">
           <div class="row-fluid">
                    <div class="span12">
        <div class="widget red">
<div class="widget-title">
<span class="tools">
<a class="icon-chevron-down" href="javascript:;"></a>
<a class="icon-remove" href="javascript:;"></a>
</span>
</div>
         
          <form id="cms_en" name="cms_en" action="##LBL_ADMIN_SITE_URl##cms/insert/ce/0" method="post" enctype="multipart/form-data" onsubmit="return AsyncUpload.submitForm(this, validate_cms,callbackFun);" class="form-horizontal">
        <input type="hidden" name="cms[name]" id="con_name" class="req_val" value="{$sm.cms.name}" />
        <input type="hidden" name="qstart" value="{if $sm.qstart}{$sm.qstart}{else}0{/if}" />   
	<input type="hidden" name="prev_name" id="title_name" class="req_val" value="{$sm.cms.name}" />
	<input type="hidden" name="cms[cmscode]" id="con_cmscode" class="req_val" value="{$sm.cms.cmscode}" />
	<input type="hidden" name="cms[language]" id="language" class="req_val" value="{$sm.sel_lang}" />
        <input type="hidden" name="cms[cmscategory]" id="cmscategory" class="req_val" value="{$sm.cms.cmscategory}" />
	<input type="hidden" name="id_content" id="id_content" class="req_val" value="{$sm.cms.id_content}" /> 
	<input type="hidden" name="cms[targetlink]" id="con_targetlink" class="req_val" value="{$sm.cms.targetlink}" /> 
	<input type="hidden" name="cms[code]" id="con_code" class="req_val" value="{$sm.cms.code}" /> 
    
<!--                            <div class="control-group">
                              {if $sm.mul_lang eq 1}
                                <label class="control-label">Choose Language  </label>
                                <div class="controls">
                                  <select class="span6" name="langVal" id="langVal" onchange="getcontent();">
					{html_options options=$sm.language selected=$sm.sel_lang}
				</select>
                                  
                                    <input type="text" class="span6 " />
                                    <span class="help-inline">Some hint here</span>
                                </div>
                                 {/if}
                            </div>-->
   
<!--                            <div class="control-group">
                                <label class="control-label">Permacode  </label>
                                <div class="controls">
                                  <input class="span6" type="text" id="permcode" name="permcode" size="90" value="{$sm.cms.cmscode}" onblur="getCode();" />
                                    <br /><span id="name_msg"></span>
                                    <span class="help-inline">Some hint here</span>
                                </div>
                            </div>-->
<!--    <div class="control-group">
                                <label class="control-label">Permalink  </label>
                                <div class="controls">
                                  <span class="span6" id="permalink">{if $sm.cms.cmscode}##LBL_SITE_URL##{$sm.cms.language}/{$sm.cms.cmscode}.html{else}##LBL_SITE_URL##{/if}</span>
                                   
                                    <span class="help-inline">Some hint here</span>
                                </div>
                            </div>-->
    <div class="control-group">
                                <label class="control-label">Title  </label>
                                <div class="controls">
                                  <input class="span6" type="text" id="title" name="cms[title]" size="30" value="{$sm.cms.title|escape}" />
                                   
                                    <!--<span class="help-inline">Some hint here</span>-->
                                </div>
                            </div>
    <div class="control-group">
                                <label class="control-label">Meta Description  </label>
                                <div class="controls">
                                  <textarea  class="span6" rows="3" cols="40" id="meta_description" name="cms[meta_description]">{$sm.cms.meta_description}</textarea>
                                   
                                    <!--<span class="help-inline">Some hint here</span>-->
                                </div>
                            </div>
    <div class="control-group">
                                <label class="control-label">Meta Keywords  </label>
                                <div class="controls">
                                  <textarea  class="span6" rows="3" cols="40" id="meta_keywords" name="cms[meta_keywords]">{$sm.cms.meta_keywords}</textarea>
                                   
                                    <!--<span class="help-inline">Some hint here</span>-->
                                </div>
    </div>
                            <div class="control-group">
                                <label class="control-label">Header Tag  </label>
                                <div class="controls">
                                  <input class="span6" type="text" id="h1tag" name="cms[h1tag]" size="30" value="{$sm.cms.h1tag|escape}" />
                                   
                                    <!--<span class="help-inline">Some hint here</span>-->
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">View Description  </label>
                                <div class="controls">
                                  <textarea  class="span6"  rows="3" cols="40" name="cms[view_description]">{$sm.cms.view_description}</textarea>
                                </div>
                            </div>
<!--                             <div class="control-group">
                                <label class="control-label">Tags </label>
                                <div class="controls">
                                  <select name="tags[]"  id="tags" class="txt" onchange="showcat_tag();">
                                    {foreach from=$sm.tags item=item key=key}
                                    <option value="{$key}" class="selected" selected="selected">{$item}</option>
                                    {/foreach}
                                    </select>
                                <input type="hidden" value="{$sm.tagshidval}" id="pass_on_to_tag" name="extratag">
                                </div>-->
                             <div class="control-group">
                                <div class="controls">
                                  {include file="admin/cms/attribute"}
                                </div>
        
                              <div class="control-group">
                                <label class="control-label">Description  </label>
                                <div class="controls">
                                  <textarea class="span6" name="cms[description]" id="description{$sm.sel_lang}" cols="40" rows="5">{$sm.cms.description|stripslashes}</textarea>
                                   
                                    <!--<span class="help-inline">Some hint here</span>-->
                                </div>
                            </div>
                            </div>
                            
                            <div class="form-actions">
                                <input type="submit" name="submit" class="btn btn-success" value="{if $sm.cms.id_content}Update{else}Insert{/if}" />
				<!--<input type='hidden' id ="save_exit" name="save_exit" value="">-->
                                <input type="reset" name="reset" class="btn btn-success" value="Cancel" />
                            </div>
    <input type="hidden" id="prev_val" value="" />
	<input type="hidden" id="code" value="{$sm.code}" />
	<input type="hidden" name="plang" id="plang" value="{$ltype.English}" />
	<input type="hidden" id="id_cms" value="{$sm.cms.id_content}" />
	<input type="hidden" name="multi_lan" id="multi_lan" value="{$mul_lang.islang}" />
                                   
                            </form>
          
          
          
          
<!--          <form id="cms_en" name="cms_en" action="javascript:void(0);" class="fields"  method="post" enctype="multipart/form-data" onsubmit="return validate_cms();">
	<input type="hidden" name="cms[name]" id="con_name" class="req_val" value="{$sm.cms.name}" />
	<input type="hidden" name="prev_name" id="title_name" class="req_val" value="{$sm.cms.name}" />
	<input type="hidden" name="cms[cmscode]" id="con_cmscode" class="req_val" value="{$sm.cms.cmscode}" />
	<input type="hidden" name="cms[language]" id="language" class="req_val" value="{$sm.sel_lang}" />
	<input type="hidden" name="id_content" id="id_content" class="req_val" value="{$sm.cms.id_content|default:0}" />
	<table class="formtbl list_form" border="0" width="100%">
		{if $sm.mul_lang eq 1}
		<tr>
			<td width="15%">Choose Language:</td>
			<td>
				<select name="langVal" id="langVal" onchange="getcontent();">
					{html_options options=$sm.language selected=$sm.sel_lang}
				</select>
			</td>
		</tr>
		{/if}
		<tr>
			<td>Permacode:</td>
			<td>
				<input type="text" id="permcode" name="permcode" size="90" value="{$sm.cms.cmscode}" onblur="getCode();" />
				<br /><span id="name_msg"></span>
			</td>
		</tr>
		<tr>
			<td>Permalink:</td>
			<td>
				<span id="permalink">{if $sm.cms.cmscode}##LBL_SITE_URL##{$sm.cms.language}/{$sm.cms.cmscode}.html{else}##LBL_SITE_URL##{/if}</span>
			</td>
		</tr>
		<tr>
			<td width="15%">Title:</td>
			<td><input class="txt req_val" type="text" id="title" name="cms[title]" size="30" value="{$sm.cms.title|escape}" /></td>
		</tr>
		<tr>
			<td>Meta Description:</td>
			<td><textarea  class="req_val" rows="3" cols="40" id="meta_description" name="cms[meta_description]">{$sm.cms.meta_description}</textarea></td>
		</tr>
		<tr>
			<td>Meta Keywords:</td>
			<td><textarea  class="req_val" rows="3" cols="40" id="meta_keywords" name="cms[meta_keywords]">{$sm.cms.meta_keywords}</textarea></td>
		</tr>
		<tr>
			<td>Header Tag:</td>
			<td><input class="txt req_val" type="text" id="h1tag" name="cms[h1tag]" size="30" value="{$sm.cms.h1tag|escape}" /></td>
		</tr>
		<tr>
			<td colspan="2">Description:<br/>
				<textarea name="cms[description]" id="description{$sm.sel_lang}" cols="40" rows="5">{$sm.cms.description|stripslashes}</textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center;">
				<div style="width: 230px; margin: 0px auto;">
					<div class="settheme fltlft" style="margin-right: 2px;">
						<input type="submit" name="search" class="buton" value="Save" onclick="$('#save_exit').val(1)"/>
					</div>
					<div class="settheme fltlft" style="margin-right: 1px;">
						<input type="submit" name="search" class="buton" value="Save & Exit" />
					</div>
					<input type='hidden' id ="save_exit" name="save_exit" value="">
					<div class="settheme fltlft">
						<input type="reset" name="search" class="buton" value="Cancel" onClick="close_win();"/>
					</div>
				</div>
			</td>
		</tr>
	</table>

	<input type="hidden" id="prev_val" value="" />
	<input type="hidden" id="code" value="{$sm.code}" />
	<input type="hidden" name="plang" id="plang" value="{$ltype.English}" />
	<input type="hidden" id="id_cms" value="{$sm.cms.id_content}" />
	<input type="hidden" name="multi_lan" id="multi_lan" value="{$mul_lang.islang}" />
</form>-->
</div>
                      </div>
             </div>
      </div>