
<form id="cms{$sm.sel_lang}" class="fields"  method="post" enctype="multipart/form-data">
    <center> {$sm.message}</center>
    {if $sm.cms.id_content}
	<input type="hidden" class="req_val" name="cms[id_content]" id="id_content" value="{$sm.cms.id_content}" />
    {else}
	<input type="hidden" class="req_val" name="cms[id_content]" id="id_contenta{$sm.sel_lang}" value="" />
    {/if}
    <input type="hidden"  class="req_val" id="chkval{$sm.sel_lang}" value="" />
	<!-- added by harapriya -->
	<input type="hidden" name="searchq"  class="req_val" id="searchq" value="{$sm.searchq}" />
    <input type="hidden" name="stype"  class="req_val" id="stype" value="{$sm.stype}" />
	
	
	
    <input type="hidden"  class="req_val" name="cms[language]" id="language" value="{if $sm.sel_lang}{$sm.sel_lang}{else}{$ltype.English}{/if}" />
    <table class="formtbl list_form" border="0">
        <tr>
            <td width="15%">Title:</td>
            <td><input class="txt req_val" type="text" id="cmstitle{$sm.sel_lang}" name="cms[title]" size="30" value="{$sm.cms.title|escape}" />
			  <br/><span id="titleerror{$sm.sel_lang}"></span>
			</td>
        </tr>
        <tr>
            <td>Meta Description:</td>
            <td><textarea  class="req_val" rows="3" cols="40" id="meta_description" name="cms[meta_description]">{$sm.cms.meta_description}</textarea></td>
        </tr>
        <tr>
            <td>Meta Keywords:</td>
            <td><textarea  class="req_val" rows="3" cols="40" id="meta_keywords" name="cms[meta_keywords]">{$sm.cms.meta_keywords}</textarea></td>
        </tr>
	<tr>
	    <td>Description:</td>
        <td>
		<textarea name="cms_description" id="{if $sm.sel_lang}description{$sm.sel_lang}{else}descriptionen{/if}" cols="40" rows="5">{$sm.cms.description|stripslashes}</textarea>
	</td>
	</tr>
        <tr>
            <td>&nbsp;</td>
            <td>
            	<div class="settheme fltlft marginright5">
                <input type="button" name="search" value="{if $sm.cms.id_content}Update{else}Insert{/if}" onclick="insert('{$sm.sel_lang}','{$sm.cms.id_content}',this);" />
                </div>
                <div class="settheme fltlft marginright5">
                <input type="reset" name="search" value="Close" onClick="close_win();"/>
                </div>
            </td>
        </tr>
    </table>
</form>
{literal} 
<script type="text/javascript">
  //var t=0;
    function insert(fid,cid,obj){ 
	var nm=$('#tname').val();
	var permcode=$('#permcode').val();
	var title=$('#cmstitle'+fid).val();
	//alert(title);
	if($.trim(nm)==''){
	    $('#name_msg').html('<font color="red">Please specify name and permacode.</font>');//blank validation
	   return;
	}else{
	  $('#name_msg').html();
	  
	}
	if($('#name_msg').html()){//validation when a duplicate name is given
	    //return;
	}
	//added by harapriya
	if(title==''){ 
	  $('#titleerror'+fid).html('<font color="red">Please enter a title here.</font>');
	  return false;
	}else{
	  $('#titleerror'+fid).html('');
	  //return;
	}
	
	//$('#language').val($('#olddiv').val());
	var ch,url;
	if(cid){
	    ch='update';
	}else{
	    ch='insert';
	   // $('#tname').attr('disabled','disabled');//for disabling the name while clicking on any language tab  (disabled by prabhu)
	}
	var desc_val;
	var desc_val = FCKeditorAPI.GetInstance('description'+fid).GetHTML();
	var keys=$('#cms'+fid+' .req_val').serialize();
	var url='##LBL_ADMIN_SITE_URL##?'+keys;
	$.post(url,{"page":"cms","choice":ch,'ce':0,"name":nm,"description":desc_val,"permcode":permcode},function(res){ 
	    if(!cid){
		var a=document.getElementById("tab"+fid);
		a.onclick = function(){
		    getcontent(fid,res);
		}
		
		window.location.href="##LBL_ADMIN_SITE_URL##cms/listing";
		messageShow("Inserted Successfuly");
		$(obj).attr("value","Update");
		obj.onclick = function(){
		    insert(fid,res,this);
		}   //support all browsers
		$("#id_contenta"+fid).val(res);
		$("#chkval"+fid).val('downloaded');
	    }else{
		  var k="";
		  var srchkey=$('#searchq').val();
		  var stype=$('#stype').val(); 
		 var  dd=stype.split(',');
		  
		  if(srchkey){
			 k="?searchq="+srchkey;
			for(i=0;i < dd.length;i++){
			k +="&stype[]="+dd[i];
		  }
		  }
		 
		  window.location.href="##LBL_ADMIN_SITE_URL##cms/listing"+k;
		messageShow("Updated Successfuly");
	    }
	});
    }
</script>
{/literal}
