<!--done by gayatree starts-->
{literal}
<style type="text/css">
  .cmssearchcontent_admin{display:none;}
  .contentlisting_admin{display:none;}
  .cms_anchor:hover{text-decoration: none;}
  /*a:active{color:#ffffff !important;}*/
</style>
{/literal}
{literal}
<script type="text/javascript" >
//	function clearAll(){
//		$("input[type=text]").val('');
//		$("select").val('');
//		$("#search").submit();
//	}
	$(function(){
		$("#searchq11").autocomplete(siteurl + 'cms/autoContentList/ce/0',{
			// cacheLength: 0,
			// extraParams: {
			/*chk_val: function() {
var allVals = [];
$('#chk_val :checked').each(function() {
allVals.push($(this).val());
});
return allVals;
}*/
			// },
			delay : 500
		}).flushCache();

		$('#search').bind('keypress', function(e) {//"search" is the id of from field and pass the parameter to searchByEnter function like wise
			searchByEnter(e,"validateFormElement","1");

			/* if(e.keyCode == 13){
if(validateFormElement())
document.cmssearch.submit();
}else
return true;*/
		});
	});
	function validateFormElement(){
		var validator=$("#search").validate({
			rules: {
				// "searchq": {
				//      required:true
				//  },
				//     "stype[]":{
				// required:true
				//     }
			},
			messages: {
				//  "searchq":{
				//      required:"<br>"+flexymsg.required
				//  },
				//  "stype[]":{
				//       required:"<br>"+flexymsg.required
				//   }
			}
		});
		return validator.form();
	}


//	function deleteconfirm(id,code,id_content,cmscode,name){
//var conf=confirm('Are you sure to delete '+ name+ ' from Content and Menu?');
//if(conf){
//			var conf_all=confirm('Are you sure to delete  All from Content and Menu?');
//			if(conf_all){
//				window.location='##LBL_ADMIN_SITE_URL##cms/delete/id/'+id+'/code/'+code+'{/literal}{if $sm.search_item.searchq}?searchq={$sm.search_item.searchq|stripslashes}{if $sm.search_item.stype.0}&stype[]={$sm.search_item.stype.0}{/if}{if $sm.search_item.stype.1}&stype[]={$sm.search_item.stype.1}{/if}{/if}{literal}';
//}else{
//    alert('##LBL_ADMIN_SITE_URL##cms/delete/id/'+id_content+'/code/'+cmscode+'{/literal}{if $sm.search_item.searchq}?searchq={$sm.search_item.searchq|stripslashes}{if $sm.search_item.stype.0}&stype[]={$sm.search_item.stype.0}{/if}{if $sm.search_item.stype.1}&stype[]={$sm.search_item.stype.1}{/if}{/if}{literal}');return false;
//}
////				window.location='##LBL_ADMIN_SITE_URL##cms/delete/id/'+id_content+'/code/'+cmscode+'{/literal}{if $sm.search_item.searchq}?searchq={$sm.search_item.searchq|stripslashes}{if $sm.search_item.stype.0}&stype[]={$sm.search_item.stype.0}{/if}{if $sm.search_item.stype.1}&stype[]={$sm.search_item.stype.1}{/if}{/if}{literal}';
//}
//}
function deleteconfirm(id,code,qstart){
var conf=confirm('Are you sure to delete '+ name+ ' from Content and Menu?');
if(conf){
$.post(siteurl,{"page" : "cms", "choice" : "delete", "ce" : 0, "id_content" : id,"code":code, "qstart" : qstart},function(res){
messageShow("Content deleted successfully.");
$("#cms_listing").html(res);
});
}else{
return false;
}
}
function add(qstart){
$.post(siteurl,{"page" : "cms", "choice" : "add", "qstart" : qstart, "ce" : 0},function(res){
show_fancybox(res);
});
}

function edit(id,tname,language,code,qstart){
$.post(siteurl,{"page" : "cms", "choice" : "add", "ce" : "0","code":code,"id_content":id,"language":language,"tname":tname,"qstart" : qstart},function(res){
show_fancybox(res);
});
}
</script>
{/literal}

                
     <div class="center">
     <div class="row-fluid">
       <div class="span12">
                        <div class="widget red">
                            <div class="widget-title">
                              <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                              {if !$sm.id_cat}
				<div  class="fltrht pdnga">
                                    <a href="javascript:void(0);" onclick="add('{$sm.next_prev->start}');" class="btn btn-success" style="color:#ffffff;">Add New</a>
				</div>
				{/if}
                                <h4><i class="icon-reorder"></i>Content Listing</h4>
                            
                            </div>
                            <div class="widget-body">
                              <div class=""  id="box1-tabular">
                              <div id="mymodal"></div>
                              {if $sm.list}
                                <table class="table table-striped table-bordered table-advance table-hover">
                                    <thead>
                                    <tr>
                                        <th>
                                          <i class="icon-user"></i>
                                          Name
                                        </th>
                                        <th>
                                          <i class="icon-list-alt"></i>
                                           Code
                                        </th>
                                        <th>
                                          <i class="icon-list-alt"></i>
                                          Category
                                        </th>
                                        <th>
                                          <i class="icon-suitcase"></i>
                                          Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {section name=cur loop=$sm.list}
					{assign var=x value=$sm.list[cur]}
					<tr>
						<td {if !$smarty.section.cur.last}class="brdrbtm"{/if}>{$x.name}</td>
						<td>{$x.cmscode|default:"-NA-"}</td>
						<td>{$x.cmscategory|default:"-NA-"}</td>
						<td {if !$smarty.section.cur.last}class="brdrbtm"{/if}>
							<!--<a class="ico cms_anchor" href="##LBL_ADMIN_SITE_URL##cms/add/tname/{$x.name|escape}/language/{$x.language}/code/{$x.cmscode|urlencode}{if $sm.search_item.searchq}?searchq={$sm.search_item.searchq|stripslashes}{if $sm.search_item.stype.0}&stype[]={$sm.search_item.stype.0}{/if}{if $sm.search_item.stype.1}&stype[]={$sm.search_item.stype.1}{/if}{/if}" title="edit"></a>-->
                                                        <a class="ico cms_anchor" href="javascript:void(0);"  title="edit"></a>
<!--								<img src="##CSS_PATH##img/led-ico/pencil.png" alt="edit" />-->
<button onclick="edit('{$x.id}','{$x.name|escape}','{$x.language}','{$x.cmscode|urlencode}','{$sm.next_prev->start}');" class="btn btn-success">
<i class="icon-edit"></i>
</button>
							</a> &nbsp;
<!--							{assign var="id" value=","|explode:$x.id}
							{if $id|@count >1}
							<a class="ico" href="javascript:void(0);" onclick="deleteconfirm('{$x.id}','{$x.code}','{$x.id_content}','{$x.cmscode|escape}','{$x.name|escape}');">
								<img src="##CSS_PATH##img/led-ico/delete.png" alt="delete"  onclick="deleteconfirm('{$x.id}','{$x.code}','{$x.id_content}','{$x.cmscode|escape}','{$x.name|escape}');"/>
                                <button class="btn btn-danger">
<i class="icon-trash"></i>
</button>
							</a>
							{else}
							<a class="ico" onclick="return confirm('Are you sure to delete  {$x.name}  from Content and Menu?');" href="##LBL_ADMIN_SITE_URL##cms/delete/id/{$x.id_content}/code/{$x.cmscode|escape}{if $sm.search_item.searchq}?searchq={$sm.search_item.searchq|stripslashes}{if $sm.search_item.stype.0}&stype[]={$sm.search_item.stype.0}{/if}{if $sm.search_item.stype.1}&stype[]={$sm.search_item.stype.1}{/if}{/if}" title="delete">
								<img src="##CSS_PATH##img/led-ico/delete.png" alt="delete"  onclick="return confirm('Are you sure to delete  {$x.name}  from Content and Menu?');"/>
                                 <button class="btn btn-danger">
<i class="icon-trash"></i>
</button>
							</a>
							{/if}-->
                                            <a class="ico" href="javascript:void(0);" onclick="deleteconfirm('{$x.id}','{$x.code}','{$sm.next_prev->start}');">
                                            <button class="btn btn-danger">
                                            <i class="icon-trash"></i>
                                            </button>
						</td>
					</tr>
					{/section}
                                    </tbody>
                                </table>
                              {else}
			No Records Found...
			{/if}
                              </div>
                            </div>
               <div class="pagination_box">
		<div align="center">{if !$sm.id_cat}{$sm.next_prev->generate()}{/if}</div>
	        </div>
                </div>
             </div>
       </div>
       </div>
         
