{* notag *}
<!--<div class="wid100 center" id="product_listing">
	<div class="makebox center">
		<div class="headprt settheme">
			<div class="mdl">
				<div  class="fltrht">
					<a href="#" onclick="addCategory('{$sm.next_prev->start}');" class="buton">Add Category</a>
				</div>
				<span>Category Listing ({$sm.next_prev->total})</span>
				<div class="clear"></div>
			</div>
		</div>
		<div class="bodyprt">
			{if $sm.list}
			<table width="100%" border="0" class="tbl_listing" id="img_tbl">
				<thead>
					<tr>
						<th width="20%">Name</th>
						<th>Code</th>
						<th class="actn_hd">Action</th>
					</tr>
				</thead>
				<tbody>
					{section name=cur loop=$sm.list}
					{assign var=x value=$sm.list[cur]}
				<input type='hidden' id='pname' value='{$x.name|escape}'/>
				<tr>	
				    <td>{$x.name}</td>
				    <td>{$x.code}</td>
					<td>
						<input type="hidden" value='{$sm.uri|escape}' id="{$x.id_product}_uri" />
						<a href="javascript:void(0);" onclick="editCategory('{$x.id_cmscategory}', '{$sm.next_prev->start}' );">
							<img src="##CSS_PATH##img/led-ico/pencil.png" alt="Edit Category" title="Edit Category"/>
						</a>&nbsp;&nbsp;
						<a href="javascript:void(0);" onclick="return deletecategory('{$x.id_cmscategory}','{$x.code}', '{$sm.next_prev->start}');">
							<img src="##CSS_PATH##img/led-ico/delete.png" alt="Delete Category" title="Delete Category"/>
						</a>&nbsp;&nbsp;
						<a href="javascript:void(0);" onclick="showDetail('{$x.id_product}');">
							<img src="##CSS_PATH##img/led-ico/eye.png" alt="Product Detail" title="Product Detail"/>
						</a>&nbsp;&nbsp;
						<a href="javascript:void(0);" onclick="makeSeq('{$x.id_product}');">Seq</a>
					</td>
				</tr>
				{/section}
				</tbody>
			</table>
			{else}
			<div>No product found..</div>
			{/if}
			<div class="pagination_box" align="center">{$sm.next_prev->generate()}
			</div>
		</div>
	</div>
</div>-->

<div class="row-fluid">
                <div class="span12">
                  
                <!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget red">
                    <div class="widget-title">
                       
                        <h4><i class="icon-reorder"></i>Category Listing ({$sm.next_prev->total})</h4>
                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                        <div  class="fltrht pdngin block_ip">
               <a href="javascript:void(0);" onclick="addCategory('{$sm.next_prev->start}');" class="btn btn-success">Add Category</a>
                 </div>
                    </div>
                    <div class="widget-body">
                     <form>
                       {if $sm.list}
                        <table cellspacing="0" class="table table-striped table-bordered" id="attr_tbl">
                                   <thead>
					<tr>
						<th width="20%">Name</th>
						<th>Code</th>
						<th class="actn_hd">Action</th>
					</tr>
				</thead>
                    <tbody>
                    {section name=cur loop=$sm.list}
					{assign var=x value=$sm.list[cur]}
				<input type='hidden' id='pname' value='{$x.name|escape}'/>
				<tr>	
				    <td>{$x.name}</td>
				    <td>{$x.code}</td>
					<td>
						<input type="hidden" value='{$sm.uri|escape}' id="{$x.id_product}_uri" />
						<a href="javascript:void(0);" onclick="editCategory('{$x.id_cmscategory}', '{$sm.next_prev->start}' );">
							<img src="##CSS_PATH##img/led-ico/pencil.png" alt="Edit Category" title="Edit Category"/>
						</a>&nbsp;&nbsp;
						<a href="javascript:void(0);" onclick="return deletecategory('{$x.id_cmscategory}','{$x.code}', '{$sm.next_prev->start}');">
							<img src="##CSS_PATH##img/led-ico/delete.png" alt="Delete Category" title="Delete Category"/>
						</a>&nbsp;&nbsp;
						<!--<a href="javascript:void(0);" onclick="showDetail('{$x.id_product}');">-->
							<!--<img src="##CSS_PATH##img/led-ico/eye.png" alt="Product Detail" title="Product Detail"/>-->
						</a>&nbsp;&nbsp;
						<!--<a href="javascript:void(0);" onclick="makeSeq('{$x.id_product}');">Seq</a>-->
					</td>
				</tr>
				{/section}
		    </tbody>
                     </table>
                       {else}
                       <div>No records found....</div>
                       {/if}
                       </form>
                    </div>
                 <div class="pagination_box">
		<div align="center">{if !$sm.id_cat}{$sm.next_prev->generate()}{/if}</div>
	        </div>
                </div>
                </div>
{literal}
<!--<script type="text/javascript" src="##LIBSEXT_PATH##jquery/js/table_dnd.js"></script>
   <script type="text/javascript" src="##LIBSEXT_PATH##jquery/js/reorder.js"></script>-->
<script type="text/javascript">
	var code;
	function addCategory(qstart){
		$('#succ_msg').html('');
		$('#target').html('');
		$.fancybox.showActivity();
		$.post(siteurl,{"page" : "cms", "choice" : "addCategory", "qstart" : qstart, "ce" : 0},function(res){
				show_fancybox(res);
		});
	}

	function editCategory(id,qstart){
		$.fancybox.showActivity();
		$.post(siteurl,{"page" : "cms", "choice" : "addCategory", "ce" : "0", "id_cat" : id, "qstart" : qstart},function(res){
			show_fancybox(res);
		});
	}

function deletecategory(id, code, qstart){
$('#succ_msg').html('');
var conf=confirm('Are you sure to delete ?');
if(conf){
$.post(siteurl,{"page" : "cms", "choice" : "deletecategory", "ce" : 0, "id_cat" : id,"code":code, "qstart" : qstart},function(res){
if(res == 1){
messageShow("Category not deleted.");//$('#succ_msg').html('<font color="red">Product deleted successfully</font>');
}else{
messageShow("Category deleted successfully.");//$('#succ_msg').html('<font color="red">Product deleted successfully</font>');
$("#cms_category_listing").html(res);
}
});
}else
return false;
}

	function showDetail(id_product){
		$('#succ_msg').html('');
		$.fancybox.showActivity();
		$.post(siteurl,{"page" : "product", "choice" : "productDetail", "ce" : 0, "id_product" : id_product},function(res){
			show_fancybox(res);
		});
	}

	function showImages(id_product){
		$('#succ_msg').html('');
		$('#target').html('');
		$.fancybox.showActivity();
		$.post(siteurl,{"page":"product","choice":"showGallery",ce:0,'id_product':id_product},function(response){
			show_fancybox(response);
		});
	}

	function show_video(id){
		$('#succ_msg').html('');
		$('#target').html('');
		var url="##LBL_ADMIN_SITE_URL##index.php";
		$.fancybox.showActivity();
		$.post(url,{"page":"product","choice":"show_video",ce:0,'id':id},function(response){
			$.fancybox(response);
		});
	}
	function makeSeq(pro_id){
		$.fancybox.showActivity();
		$.post(siteurl,{"page":"product","choice":"showImageList",ce:0,'id_product':pro_id},function(res){
			show_fancybox(res);
		});
	}
	function downloadxls() {
		var uri = "{/literal}{$sm.uri}{literal}";
		window.location.href = siteurl+"product/downloadExcel/uri/"+uri+"/ce/0/";
	}
</script>
{/literal}