{literal}
<style type="text/css">
	 label.error{
		  font-size:12px;
		  display:block;
	 }
</style>
<script type="text/javascript">

    function validateExp() {
	var validator=$("#adminaddexperiences").validate({
            ignore: "input[type='text']:hidden",
	    rules: {
		"exp[old_url]": {
		    required:true
		},
		"exp[new_url]":{
		    required: true
		}
	    },
	    messages: {
		"exp[old_url]":{
		    required:"<br>"+flexymsg.required
		},
		"exp[new_url]":{
		    required:"<br>"+flexymsg.required
		},
	    }
	});
var x = validator.form();
if (x) {
$('#sbmt').attr("disabled",true);
return x;
} else {
$('#sbmt').removeAttr("disabled");
return false;
}
    }

function callbackFun(response) {
var msg = "{/literal}{$sm.res}{literal}"?"Experience updated Successfully":"Experience added successfully";
$('#redirect_listing').html(response);
$.fancybox.close();
//$("#img_tbl tbody").sortable({
//update: function(event, tr) {
//var all_exam = $("#img_tbl tbody").sortable('toArray', 'id');//alert(all_class)
//$.post(siteurl, {"page": "attribute", "choice": "update_exp_seq", "all_list": all_exam, "tbl": "experiences", "seq_field": "exp_seq", "cond_field": "id_exp", "ce": 0});
//},handle: '.handler'
//});
messageShow(msg);
}

$(function(){
if('{/literal}{$sm.res}{literal}'){
$("#adminaddexperiences input,#adminaddexperiences textarea").attr("disabled", true).attr('style','border:0px !important;background:#FFFFFF;');
$(".hid").attr('style',"display:none");
}
});

function rmvstyles(){
 $("#adminaddexperiences input").attr("disabled", false).removeAttr('style');
 $("#adminaddexperiences textarea").attr("disabled", false).removeAttr('style');
 $(".hid").removeAttr('style');
 $(".achr_img").css('display' , 'none');
}
</script>
<style>
  textarea{min-height: 160px !important;}
</style>
{/literal}
<div id="dv2">
    <div style="width:500px;">
        <div class="headprt settheme">
            <div class="mdl">
                <span>{if $sm.res}Edit{else}Add{/if} URL Data</span>
                <span class="fltrht"><a class="achr_img" href="javascript:void(0);">{if $sm.res}<img src="##CSS_PATH##img/led-ico/edit(1).png" alt="img" title="Edit" onclick="rmvstyles();">{/if}</a></span>
                <div class="clear"></div>
            </div>
        </div>
        <div class="bodyprt">
            <form action="##LBL_ADMIN_SITE_URL##redirect/insertredirecturl/ce/0/" name="adminaddexperiences" id="adminaddexperiences" enctype="multipart/form-data" method="post" onsubmit="return AsyncUpload.submitForm(this, validateExp, callbackFun);">
            <!--<form action="##LBL_ADMIN_SITE_URL##redirect/insertredirecturl/ce/0/" name="adminaddexperiences" id="adminaddexperiences" enctype="multipart/form-data" method="post" onsubmit="return validateExp();">-->
                <input type="hidden" name="qstart" value="{if $sm.qstart}{$sm.qstart}{else}0{/if}" />   
                <input type="hidden" name="id" value="{$sm.res.id}" />   
                <table border="0" class="formtbl">
		    <tr>
			<td>Old URL <font color="red" class="hid">*</font>:</td>
			<td>
                            <input type="text" class="txt" name="exp[old_url]" value="{$sm.res.old_url}"/>
			</td>
		    </tr>
		    <tr>
			<td>New URL <font color="red" class="hid">*</font>:</td>
			<td>
                            <input type="text" class="txt" name="exp[new_url]" value="{$sm.res.new_url}"/>
			</td>
		    </tr>
            <tr>
                      <td></td>    
                           <td>
                           	<table>
                            	<tr>
                                	<td><div class="settheme fltlft"><input type="submit" class="buton hid" id="sbmt"   name="submit" value="{if $sm.res}Update{else}Add{/if}" /></div></td>
                                    <td><div class="settheme fltlft"><input type="button" class="buton hid"   value="Cancel" onclick="$.fancybox.close();" /></div></td>
                                </tr>
                            </table>
                           
                               </td>
                      </tr>
            </table>
            </form>
        </div>
    </div>
</div>


