{assign var=lang_code value=$util->get_values_from_config('LANGUAGE')}
{literal}
<style type="text/css">
  .addmessagefancy_admin{display:none;}
  </style>
<script type="text/javascript" language="javascript">
    $(document).ready(function() {
	var sel="{/literal}{$sm.row.lang_code}{literal}";
	if(!sel)
	    sel="{/literal}{$lang_code.English}{literal}";
	$('#tab'+sel).addClass('active');
	var hide_div = "{/literal}{$sm.row.id_message}{literal}";
	if(hide_div) {
	    $('#key_name').removeAttr('onblur');
	    $('#key_value').focus();
	}
                   
    });	

    function chkDupKey(){
	var msg_key = $('#key_name').val();
	if(msg_key) {
	    var url = "##LBL_ADMIN_SITE_URL##";
	    $.post(url,{"page":"setting","choice":"checkDuplicateKey",ce : 0,"msg_key":msg_key},function(res){
		var arr=res.trim().split(':');
		if(arr[0] == 'Error'){
		    $('#key_name').val('');
		    $('#key_name').focus('');
		    var msg = {/literal}"{$smarty.const.MESSAGE_DUP_KEY_EN}"{literal};
		    alert(msg);
		    return false;
		}else {
		    $('#key_name').attr('readonly','readonly');
		    $('#ref_kn').show();
		    $('#key_name_hid').val(msg_key);
		}
	    });
	}	
    }
	
    function refKey(){
	$('#key_name').val('');
	$('#key_name').focus();
	$('#key_name').attr('readonly','');
	$('#key_name_hid').val('');
	$("#tab"+$('#olddiv').val()).removeClass('active');
	$('#olddiv').val('en');
	$('#lang_code').val('en');
	$('#key_value').val('');
	$('#ref_kn').hide();
    }
    function hideErrorMsg(){
	var x=$("#key_value").val();
	if(x == ''){
	    $("#msg_err").show();
	}else{
	    $("#msg_err").hide();
	}
    }
</script>
{/literal}
<!--done by gayatree starts-->
<div id="out_div">
    <div class="wid90 center" style="width:500px;">
      <div class="row-fluid">
<div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget red">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i> {if !$sm.row}Add{else}Edit{/if} Message</h4>
<!--                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>-->
                                {if !$sm.row}
        <div class="hdng">Use module name as prefix of Message Key e.g, if module is user then prefix is user_</div>
        {/if}
        <div id="error_dup" align="center" style="display:none" class="error"></div>
        
                            </div>
                            <div class="widget-body">
                                <table class="table table-striped">
<!--                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                    </tr>
                                    </thead>-->
                                    <tbody>
                                    <tr>
                    <td>Message Key :</td>
                    <td>
                        <input type="text" id="key_name" name="msg[key_name]" onblur="chkDupKey();" {if $sm.row} value="{$sm.row.key_name}" readonly="readonly"{/if} />
                        <span id="ref_kn" style="display:none;">
                            <a href="javascript:void(0);" onclick="refKey();">Refresh</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="hidden" name="olddiv" value="{$sm.language.English}" id="olddiv" />
                    </td>
				</tr>
                <tr>
					 <td colspan="2"><div id="msg_add_tpl">{include file="admin/setting/add_msg_new"}</div></td>
				</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
        </div>
      </div>
  </div>
<!--done by gayatree ends-->








<div id="out_div" class="addmessagefancy_admin">
    <div class="wid90 center" style="width:500px;">
        <div class="headprt settheme">
            <div class="mdl"><span>{if !$sm.row}Add{else}Edit{/if} Message</span></div>
        </div>
        {if !$sm.row}
        <div class="hdng">Use module name as prefix of Message Key e.g, if module is user then prefix is user_</div>
        {/if}
	    <div id="error_dup" align="center" style="display:none" class="error"></div>
        <div class="bodyprt">
            <table border="0" class="formtbl">
                <tr>
                    <td>Message Key :</td>
                    <td>
                        <input type="text" id="key_name" name="msg[key_name]" onblur="chkDupKey();" {if $sm.row} value="{$sm.row.key_name}" readonly="readonly"{/if} />
                        <span id="ref_kn" style="display:none;">
                            <a href="javascript:void(0);" onclick="refKey();">Refresh</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="hidden" name="olddiv" value="{$sm.language.English}" id="olddiv" />
                    </td>
				</tr>
                <tr>
					 <td colspan="2"><div id="msg_add_tpl">{include file="admin/setting/add_msg_new"}</div></td>
				</tr>
                
            </table>
        </div>
    </div>
</div>

{literal}
<script type="text/javascript">
    function insertMsg(obj) {alert(12365);
	var msg_key = $('#key_name').val();
	if(msg_key) {
	    var x = validateMsg();
	    if(x) {
		var formelement=$('#add_msg_form').serialize();alert(formelement);
		var url = "##LBL_ADMIN_SITE_URL##setting/";
		var ch = $('#choice').val();alert(ch);
		url = url + ch+"?"+formelement;
		$.post(url,{ce : 0},function(res){//alert(res);
		    if(res !='0'){
			if(ch=='insertMsg') {
			    showmsg('','Message value inserted successfully');
			    $('#id_message').val(res);
			    $('#choice').val('updateMsg');
			    $(obj).attr("value","Update");
			    $('#ref_kn').hide();
			}else {
			    showmsg('','Message value updated successfully');
				$.fancybox.close();
			}
		    }
		});
	    }
	}else {
	    showmsg('','Please insert a message key');
	    $('#key_name').focus();
	    return false;
	}
    }
	
    function validateMsg(){
	var key_value = $('#key_value').val();
	$("#msg_err").hide();
	if(key_value!='') {
	    return true;
	}else {
	    //showmsg('','Please insert a message value');
	    $("#msg_err").show();
	    $("#msg_err").html('<br><font color="red">Please insert a message value</font>');
	    $('#key_value').focus();
	    return false;
	}		
    }
</script>
{/literal}
