<div style="width: 500px;">
	 <div class="headprt settheme">
		  <div class="mdl">
			   <span>{if $sm.res.id_config}Edit{else}Add{/if} Config{if $sm.add_section} For {$sm.section.name}{/if}</span>
		  </div>
	 </div>
	 <div class="bodyprt">
		  <form id="addconfigform" name="addconfigform" action="javascript:void(0);" onSubmit="return validate_add();" method="post" class="basic">
			   <input type="hidden" name="id_config" id="id_config" value="{$sm.res.id_config}" />
			   <table border="0" class="formtbl">
					<tr>
						 <td width="20%"><label for="some1">Section :</label></td>
						 <td id="dd">
						 {if $sm.add_section}
							  <input type="hidden" class="text" name="sec[name]" id="id_section" value="{$sm.section.name}" />{$sm.section.name}
						 {else}
							  <select class="txt" name="sec[name]" id="id_section" onchange="setNew(this);" >  
								   <option value="">--Section--</option>
						 {html_options options=$sm.section selected=$sm.res.name}
								   <option value="n">New</option>
							  </select> 
						 {/if}
						 </td>
					</tr>
					<tr>
						 <td><label for="sec[ckey]">Section Key :</label></td>
						 <td>
							  <input class="txt" type="text" id="id_key" name="sec[ckey]" value="{$sm.res.ckey}" />
							  <label id="id_err" style="display:none" class="error">Please enter another key value</label>
						 </td>
					</tr>
					<tr>
						 <td><label for="sec[f_type]">Field Type :</label></td>
						 <td>
							  <select class="txt" name="sec[f_type]" id="f_type" onchange="fieldValue(this);">
							   {html_options options=$sm.f_type selected=$sm.res.f_type}
							  </select>
						 </td>
					</tr>
					<tr>
						 <td colspan="2">
							  <div id="div_f_key" {if !$sm.res.id_config || $sm.res.f_type == 'text' || $sm.res.f_type == 'textarea'}style="display:none"{/if}>
								   <dt></dt>
								   <dd><font size=-1 color="red">[Use "," as separator in field key e.g, 0,1]</font></dd>
								   <dt><label for="sec[f_key]">Field Key :</label></dt>
								   <dd><input class="txt" type="text" id="f_key" name="sec[f_key]" value="{$sm.res.f_key}" /></dd>
								   <dt></dt>
								   <dd><font size=-1 color="red">[Use "," as separator in field value e.g, false,true]</font></dd>
								   <dt><label for="sec[f_value]">Field Value :</label></dt>
								   <dd><input class="txt" type="text" id="f_value" name="sec[f_value]" value="{$sm.res.f_value}" /></dd>
								   <dt></dt>
								   <dd><font size=-1 color="red">[Section value must be one or more(for check box must be in comma separated) of the value of Field Key]</font></dd>
							  </div>
						 </td>
					</tr>
					<tr>
						 <td>
							  <label for="sec[value]">Section Value :</label>
						 </td>
						 <td>
							  <span id="txt1">
							  {if $sm.res.f_type == 'textarea'}
								   <textarea id="id_value" name="sec[value]">{$sm.res.value}</textarea>
							  {else}
								   <input class="txt" type="text" id="id_value" name="sec[value]" value="{$sm.res.value}" />
							  {/if}
							  </span>
						 </td>
					</tr>
					<tr>
						 <td>
							  <label for="sec[comment]">Comment :</label>
						 </td>
						 <td>
							  <textarea name="sec[comment]" id="id_comment">{$sm.res.comment}</textarea>
						 </td>
					</tr>
					<tr>
						 <td>&nbsp;</td>
						 <td>
							 <input type="checkbox" class="txt" id="id_edit" name="sec[is_editable]" {if $sm.res.is_editable==1}checked="true"{/if} />Allow admin to edit 
						 </td>
					</tr>
					<tr>
						 <td>&nbsp;</td>
						 <td>
							  <div class="fltlft settheme">
								   <input class="buton" type="submit" value={if !$sm.res.id_config}"Add"{else}Update{/if} />
							  </div>
							  <div class="clear"></div>  
						 </td>
					</tr>
			   </table>
		  </form>
	 </div>
</div>
{literal}
<script type="text/javascript">
	 function setNew(obj){
		  if(obj.value=='n'){
			   $('#id_section').attr('name','secname')
			   $('#id_section').after('<input class="txt" type="text" id="id_sectxt" name="sec[name]" >');
		  }else{
			   if($('#dd').find('input').length){
					$('#id_section').attr('name','sec[name]');
					$('#id_sectxt').remove();
					$('#dd').find('label').remove();
			   }
		  }
	 }

	 function fieldValue(obj){
		  var secVal = "";
		  secVal = "{/literal}{if $sm.res.value}{$sm.res.value}{/if}{literal}";
		  if(!(obj.value == 'text' || obj.value == 'textarea')){
			   $('#div_f_key').show();
		  }else{
			   if(obj.value =='textarea'){
					$("#txt1").html('<textarea id="id_value" name="sec[value]">'+secVal+'</textarea>');
			   }else{
					$("#txt1").html('<input class="txt" type="text" id="id_value" name="sec[value]" value="'+secVal+'" />');
			   }
			   $('#div_f_key').hide();
		  }
	 }

	 function validate_add(url){
		  var validator=$("#addconfigform").validate({
			   rules: {
					"sec[name]":{
						 required:true
					},
					"sec[ckey]":{
						 required:true
					},
					"sec[f_key]":{
						 required:function(element) {
							  v2=$("#f_type").val();
							  //alert(v2!="text" && v2!="textarea");
							  return (v2!="text" && v2!="textarea");
						 }
					},
					"sec[f_value]":{
						 required:function(element) {
							  v2=$("#f_type").val();
							  return (v2!="text" && v2!="textarea");
						 }
					},		
					"sec[value]":{
						 required:true
					}
			   }
		  });
		  var x=validator.form();
		  if(x){ 
			   var name='';
			   if($('#dd').find('input').length){
					if($('#dd').find("input[id='id_sectxt']").length)
						 name = $('#id_sectxt').val();
					else
						 name = name=$('#id_section').val();
			   }else
					name=$('#id_section').val();

			   var ckey=$('#id_key').val();
			   var field_type=$('#f_type').val();
			   //alert("FT :"+field_type);
			   var field_key = '';
			   var field_value = '';
			   if($('#f_key').val()) {
					field_key=$('#f_key').val();
			   }
			   if($('#f_key').val()) {
					field_value=$('#f_value').val();
			   }
			   var sec_value=$('#id_value').val();
			   //alert("aa"+$('#id_value').val());
			   //alert(sec_value);return false;
			   var comment=$('#id_comment').val();
			   var edit=0;
			   if($('#id_edit').is(':checked')){
					edit=1;
			   }
			   var id='';
			   var url='##LBL_ADMIN_SITE_URL##setting/setConfig/ce/0';
			   var msg_show = "New config key with value inserted successfully";
			   if($('#id_config').val()) {
					msg_show = "New config key with value updated successfully";
					id = $('#id_config').val();
					url='##LBL_ADMIN_SITE_URL##setting/editConfig/ce/0';
			   }
			   $.post(url,{"id_config":id, "sec[name]":name, "sec[ckey]":ckey,"sec[f_type]":field_type,"sec[f_key]":field_key,"sec[f_value]":field_value,"sec[value]":sec_value,"sec[comment]":comment,"sec[is_editable]":edit}, function(res){
					if(res=='no'){
						 $("#id_err").show();
						 $('#id_key').val('');
						 $('#id_key').focus();
					}else{
						 alert(msg_show);
						 window.location.href= res;
					}
			   });
		  }else{
			   return false;
		  }
	 }
</script>
{/literal}
