{* notag *}
{literal}
<script type="text/javascript">
    $(document).ready(function() {
	$('#shr').focus(function(){	    
	    var e=$('#shr').val();
	    if(e=='Search by level or message'){
		$(this).val('');
	    }
	}).blur(function(){
	    var e=$('#shr').val();
	    if(e=='') {
		$(this).val('Search by level or message');
	    }
	});

    });
    var i=0;
    var level = new Array();
    var scriptmsg = new Array();
    var rec_id = new Array();
    var desc = new Array();
    {/literal}
    {section name=cur loop=$sm.list}
    {assign var=x value=$sm.list[cur]}
    level[i]="{$x.level}";
    scriptmsg[i]="{$x.message}";
    rec_id[i]="{$x.id_jsmsg}";
    desc[i]="{$x.description}";
    i++;
    {/section}
    {literal}
</script>
<style type="text/css">
    .even{
	background-color:#333333;
    }
    .odd{
	background-color:#cccccc;
    }
    table.formtbl input[type="text"]{width: 75%}
    .jsmsglisting_admin{display:none;}
</style>
{/literal}
<!--done by gayatree starts-->
<div class="center">
<div class="row-fluid">
<div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget red">
                          <!--<div id="dv1">-->
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i> JAVASCRIPT MESSAGE LIST</h4>
                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                            </div>
                            <div class="widget-body">
                              <form action="##LBL_ADMIN_SITE_URL##setting/updateAllJsMsg" method="post" id="msg" name="msg" onsubmit="return vaalidate();">
                                <table class="table table-striped">
<!--                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                    </tr>
                                    </thead>-->
                                    <tbody>
                                    <tr>
                                        <td width="1%">
                    	<input type="text" id="shr" name="search_item" value='{if $smarty.request.search_item}{$smarty.request.search_item}{else}Search by level or message{/if}' onKeyup="showRecords();" style="width:300px;" />
                    </td>
                    <td width="12%"><div><input class="btn btn-success" type="button" value="Search" onClick="search1();" /></div></td>
                                        <td>{if $sm.list}
		<div>
		    <div><input class="btn btn-success" type="submit" value="Update" /></div>
		    <div class="clear"></div>
		</div>
			   {/if}</td>
                                        <!--<td>@mdo</td>-->
                                    </tr>
                                   
                                    </tbody>
                                </table>
                                
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Level</th>
                                        <th>Message</th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                      {section name=cur loop=$sm.list}
				{assign var=x value=$sm.list[cur]}
                                    <tr>
                                        <td>{$x.level}</td>
                                        <td><input type="text" value="{$x.message}" id="{$x.id_jsmsg}" name="res[{$x.id_jsmsg}][message]" size="70"  onKeyUp="checkMsg('{$x.id_jsmsg}');">&nbsp;
					{if $x.description}
			    <a href="javascript:void(0);" class="comment" onmouseover="return overlib('{$x.description}', CAPTION, '&nbsp;Comment', CLOSECLICK, CSSCLASS,FGCLASS,'fgClass',BGCLASS,'bgClass',CLOSEFONTCLASS,'capfontClass','CAPTIONFONTCLASS','fontclass',FOLLOWMOUSE)" onmouseout="return nd();" style="text-decoration:none"><img src="##CSS_PATH##img/help_sign.gif" style="cursor:pointer"></a>
					{/if}
			    <input type="hidden" name="res[{$x.id_jsmsg}][description]" id="txt{$x.id_jsmsg}" value="{$x.description}">
			    <br><span id="mesgerr{$x.id_jsmsg}"></span></td>
                                        
                                    </tr>
                                    {sectionelse}
                                    <tr>
                                        <td colspan="2">
				No message found .
			</td>
<!--                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>-->
                                    </tr>
                                    {/section}
<!--                                    <tr>
                                        <td align="right" colspan="2">
					{if $sm.list}
			    <div align="right" class="updt pdng_rite_15">
				<div class="fltrht">
				    <input class="btn" type="submit" value="Update">
				</div>
				<div class="clear"></div>
			    </div>
					{/if}
			</td>
                                        
                                    </tr>-->
                                    </tbody>
                                </table>
                                {if $sm.list}
                               <div class="form-actions" align="center">

<input class="btn btn-success" type="submit" value="Update"/>

<!--<input type="button" class="btn" value="Cancel" onclick="$.fancybox.close();" />-->

</div>
                                {/if}
                                </form>
                            <!--</div>-->
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
  </div>
  </div>
<!--done by gayatree ends-->



<div id="dv1" class="makebox wid50 center jsmsglisting_admin" style="min-width:575px;">
    <form action="##LBL_ADMIN_SITE_URL##setting/updateAllJsMsg" method="post" id="msg" name="msg" onsubmit="return vaalidate();">
	<div class="headprt settheme">
	    <div class="mdl">
		<div  class="fltrht"></div>
		<span>JAVASCRIPT MESSAGE LIST</span>
		<div class="clear"></div>
	    </div>
	</div>
	<div class="bodyprt">
	    <div align="center">
		<div class="fltlft" style="padding-left:20px;">
        	<table>
            	<tr>
                	<td>
                    	<input type="text" id="shr" name="search_item" value='{if $smarty.request.search_item}{$smarty.request.search_item}{else}Search by level or message{/if}' onKeyup="showRecords();" style="width:300px;" />
                    </td>
                    <td><div class="settheme fltlft"><input class="buton" type="button" value="Search" onClick="search1();" /></div></td>
                </tr>
            </table>
		    
		    <div class="clear"></div>
		</div>
			   {if $sm.list}
		<div class="fltrht pdng_rite_15">
		    <div class="fltlft settheme"><input class="buton" type="submit" value="Update" /></div>
		    <div class="clear"></div>
		</div>
			   {/if}
		<div class="clear"></div>
	    </div>
	    <table class="formtbl">
		<thead>
		    <tr>
			<th>Level</th>
			<th>Message</th>
		    </tr>
		</thead>
		<tbody>
				{section name=cur loop=$sm.list}
				{assign var=x value=$sm.list[cur]}
		    <tr>
			<td>{$x.level}</td>
			<td>
			    <input type="text" value="{$x.message}" id="{$x.id_jsmsg}" name="res[{$x.id_jsmsg}][message]" size="70"  onKeyUp="checkMsg('{$x.id_jsmsg}');">&nbsp;
					{if $x.description}
			    <a href="javascript:void(0);" class="comment" onmouseover="return overlib('{$x.description}', CAPTION, '&nbsp;Comment', CLOSECLICK, CSSCLASS,FGCLASS,'fgClass',BGCLASS,'bgClass',CLOSEFONTCLASS,'capfontClass','CAPTIONFONTCLASS','fontclass',FOLLOWMOUSE)" onmouseout="return nd();" style="text-decoration:none"><img src="##CSS_PATH##img/help_sign.gif" style="cursor:pointer"></a>
					{/if}
			    <input type="hidden" name="res[{$x.id_jsmsg}][description]" id="txt{$x.id_jsmsg}" value="{$x.description}">
			    <br><span id="mesgerr{$x.id_jsmsg}"></span>
			</td>

		    </tr>
				{sectionelse}
		    <tr>
			<td colspan="2">
				No message found .
			</td>
		    </tr>
				{/section}
		    <tr>

			<td align="right" colspan="2">
					{if $sm.list}
			    <div align="right" class="updt pdng_rite_15">
				<div class="fltrht settheme">
				    <input class="buton" type="submit" value="Update">
				</div>
				<div class="clear"></div>
			    </div>
					{/if}
			</td>
		    </tr>
		</tbody>
	    </table>
	</div>
    </form>
</div>
</br></br>
{literal}
<script>	
    function update(id){
	var url="##LBL_ADMIN_SITE_URL##";
	var msg=document.getElementById(id).value;
	$.post(url,{"page":"setting","choice":"update_jsmsg","ce":0,"id":id,"msg":msg},function(response){
	    alert(response);
	});
    }
    function search1(){
	var val=document.getElementById('shr').value;
	if(val == 'Search by level or message'){
	    val='';
	}
	var url="##LBL_ADMIN_SITE_URL##";
	$.post(url,{"page":"setting","choice":"searchJsMsg","ce":0,"val":val},function(response){
	    $('#content').html(response);
	    css_even_odd();
		
	});
    }
    function showRecords(){
	var searchitem = $('#shr').val();
	var regex = new RegExp("^"+searchitem,"ig");
	var htmlobj="";
	for(var j=0;j<level.length;j++){
	    if(level[j].match(regex) || scriptmsg[j].match(regex)){
		htmlobj += "<tr><td>"+level[j]+"</td><td><input type='text' value='"+scriptmsg[j]+"' id='"+rec_id[j]+"' name='res["+rec_id[j]+"][message]' size='70px' onKeyUp='checkMsg("+rec_id[j]+");'><input type='hidden' name='res["+rec_id[j]+"][description]' id='txt"+rec_id[j]+"' value='"+desc[j]+"'>";
		if(desc[j]){
		    htmlobj+='&nbsp;<a href="javascript:void(0);" class="comment" onmouseover="return overlib(\''+desc[j]+'\',CAPTION, \'&nbsp;Comment\',CLOSECLICK,CSSCLASS,FGCLASS,\'fgClass\',BGCLASS,\'bgClass\',CLOSEFONTCLASS,\'capfontClass\',\'CAPTIONFONTCLASS\',\'fontclass\',FOLLOWMOUSE)" onmouseout="return nd();" style="text-decoration:none"><img src="##CSS_PATH##img/help_sign.gif" style="cursor:pointer"></a></td></tr>';
		}else{
		    htmlobj+="<br><span id='mesgerr"+rec_id[j]+"'></span></td></tr>";
		}
	    }
	}
	if(!(htmlobj.length)){
	    htmlobj = "No message found.";
	    $('.updt').hide();
	}else{
	    $('.updt').show();
	}
	$('tbody').html(htmlobj);
	css_even_odd();		
    }
    function checkMsg(id){
	var value=$('#'+id).val();
	var ns = '["]';
	ns = ns.replace(" ","");
	var regstr = new RegExp(ns);
	var ct = regstr.test(value);
	if(ct)
	    $("#mesgerr"+id).html("<font color='red'>Please donot give double quote for message.</font>");
	else
	    $("#mesgerr"+id).html('');
    }
    function vaalidate(){
	var chk=0;
	$("span[id^='mesgerr']").each(function(i,v){
	    if($(this).html()){
		chk=1;
		return false;
	    }
	});
	if(chk){
	    alert("Plese donot provide any special character for the level name or message.");
	    return false;
	}
    }
</script>
{/literal}
