{assign var=urlpath value=$util->get_values_from_config(ADMIN_LOGO)}
{assign var=status value=$util->get_values_from_config(ADMIN_LOGO)}
<div id="dv5" >
	<div class="makebox wid60 center">
			<div class="headprt settheme">
				<div class="mdl">
					<div  class="fltrht">
						<a href="#" onclick="addLogo();" class="buton">Add Logo</a>
					</div>
					<span>Logo</span>
					<div class="clear"></div>
				</div>
			</div>
		<div class="clrbth"></div>
		<div class="bodyprt">
			<form action="##LBL_ADMIN_SITE_URL##setting/updateLogo/ce/0" name="adminlogo" id="adminlogo" enctype="multipart/form-data" method="post">
				<input type="hidden" name="prevlogo" value="{$urlpath.url}"/>
				<table width="97%" border="0" align="center" class="tbl_listing">
					<thead>
						<tr>
							<th>Logo</th>
							<th>Statius</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<img src="{$urlpath.url}" height='100' width='100'  alt="no default image" />
							</td>
							<td>{if $status.status ==1}Active{else}Inactive{/if}</td>
							<td>
								<a href="javascript:void(0);" onclick="addLogo();">
									<img src="##CSS_PATH##img/led-ico/pencil.png" alt="Edit logo" title="Edit Logo"/>
								</a>
							</td>
						</tr>
						<tr>
							<td id="chlogo" colspan="3" style="display: none">
								<table class="tbl_listing">
									<tr>
										<td>Upload New Logo</td>
										<td >
											<input type="file" name="image" id="image" class="i" onchange="showPreviewImage();" />
											<input type="hidden" name="prev_img" id="prev_img" value="{$sm.res.image}" />
											<br/><span style="color: red">Put the logo of the size(194 X 64)</span>
										</td>
									</tr>
									<tr id="prev_image" style="display:none;">
										<td id="si">Selected Image :</td>
										<td id="pi"></td>
									</tr>
									<tr>
										<td>Set Status</td>
										<td>
											<input type="radio" name="status" value="1"/>Active
											<input type="radio" name="status" value="0"/>Inactive

										</td>
									</tr>
									<tr>
										<td><input type="submit" class="buton" name="submit" value="Submit"/></td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>

	</div>
</div>

{literal}
<script type="text/javascript" >
	var extArray = new Array("jpg","gif", "png","jpeg","bmp");
	function addLogo(){
		$('#chlogo').show();
	}
	function showPreviewImage(){
		var imgName=$('#image').val();
		if(imgName){
			if(checkExt()){
				var prevUrl = siteurl + "setting/previewImage/ce/0/";
				$.ajaxFileUpload({
					url : prevUrl,
					secureuri:false,
					fileElementId:'image',
					dataType: 'json',
					complete: function (data, status){
						var z = data.responseText;
						var img="<img src='##PREVIEW_THUMB_PATH##"+z+"' />";
						$('#prev_img').val(z);
						$('#prev_image').show();
						$('#pi').html(img);
					}
				});
			}
		}
	}
	function checkExt() {
		var tot_file = $('#adminlogo').find('input[class="i"]');
		if (tot_file.length<1){
			return false;
		}else{
			var form_submit = false, j = 0, i = 0, file_val = new Array();
			file_val[i] = $('#adminlogo').find('input[class="i"]').eq(i).val();
			file_val[i] = file_val[i].toLowerCase();
			var chk = (/[.]/.exec(file_val[i])) ? /[^.]+$/.exec(file_val[i]) : undefined;
			for (var k = 0; k < extArray.length; k++) {
				if (extArray[k] == chk) {
					form_submit = true;
					if($('.invalid_ext').html()!=null){
						$('.invalid_ext').remove();
					}
				}
			}
			if (form_submit == false) {
				j=i;
			}
		}
		if(form_submit){
			return true;
		}else{
			var sp = '<div class="invalid_ext">This is not a valid file extension.</div>';
			alert("Please only upload ."+ (extArray.join("/")) + " files\nPlease select a new file to upload and submit again.");
			if($('.invalid_ext').html()==null){
				$('#adminlogo').find('input[class="i"]').eq(j).after(sp);
			}
			$('#image').val("");
			return false;
		}
	}
</script>
{/literal}