{literal}
<style type="text/css">
	 label.error{
		  font-size:12px;
		  display:block;
	 }
</style>
<script type="text/javascript">

function validateExp() {
var validator=$("#addactivities").validate({
ignore: "input[type='text']:hidden",
rules: {
"activity[name]": {
required:true
},
"activity[description]":{
required: true
},
"activity[code]":{
required: true
},
"activity[fonticon]":{
required: true
},
"activity[menu_description]":{
required: true
},
"activity[active_flg]":{
required: true
},
"activity[reviews]":{
digits:true
},
"old_menu_image": {
required:true
},
"old_image": {
required:true
}
},
messages: {
"activity[name]":{
required:"<br>"+flexymsg.required
},
"activity[description]":{
required:"<br>"+flexymsg.required
},
"activity[code]":{
required:"<br>"+flexymsg.required
},
"activity[fonticon]":{
required:"<br>"+flexymsg.required
},
"activity[menu_description]":{
required:"<br>"+flexymsg.required
},
"activity[active_flg]":{
required:"<br>"+flexymsg.required
},
"activity[reviews]":{
digits:"<br>"+flexymsg.digits
},
"old_menu_image": {
required:"<br>"+flexymsg.required
},
"old_image": {
required:"<br>"+flexymsg.required
}
}
});
var x = validator.form();
if (x) {
$('#sbmt').attr("disabled","disabled");
return x;
} else {
$('#sbmt').removeAttr("disabled");
return false;
}
}

function callbackFun(response) {
var msg = "{/literal}{$sm.res}{literal}"?"Activity updated Successfully":"Activity added successfully";
$('#attribute_activity_listing').html(response);
$.fancybox.close();
$("#img_tbl tbody").sortable({
update: function(event, tr) {
var all_exam = $("#img_tbl tbody").sortable('toArray', 'id');//alert(all_class)
$.post(siteurl, {"page": "attribute", "choice": "update_exp_seq", "all_list": all_exam, "tbl": "activities", "seq_field": "act_seq", "cond_field": "id_activity", "ce": 0});
},handle: '.handler'
});
messageShow(msg);
}
	function convertToCodeArticle(){
	var strval=$("#name_activity").val();
	var p1 = /['’.]+/g;
	var nval1=strval.replace(p1,"");
	var str = '';
	for(var i=0;i<nval1.length;i++)
	    str += convertExtendedAsciiCharArticle(nval1[i]);
	var pattern=/[^\w\d]+|[\s]+/g;
	var nval=str.replace(pattern,"-").toLowerCase();
	pattern = /-$|^-/g;
	var finl = nval.replace(pattern,"");
	$('#code_activity').val(finl);
    }
    /*
     * convert all spanish letter to us US keyboard letter.
     */
    function convertExtendedAsciiCharArticle(str){
	str = str.replace(/[ÀÁÂÃÄÅÆàáâãäåæ]+/g, 'a');
	str = str.replace(/[öÒÓÔÕÖðòóôõö]+/g, 'o');
        str = str.replace(/[ç]+/g, 'c');
        str = str.replace(/[şŠš]+/g, 's');
        str = str.replace(/[ı¡]+/g, 'i');
        str = str.replace(/[ğ]+/g, 'g');
        str = str.replace(/[üÙÚÛÜùúûü]+/g, 'u'); 
	str = str.replace(/[ýÿŸ¥]+/g, 'y');
	str = str.replace(/[ž]+/g, 'z');
	str = str.replace(/[€Œ]+/g, 'e');
	str = str.replace(/[µ]+/g, 'e');
	return str;
    }
    
function previewmenuimg(event){
var img = document.getElementById("menu_image").files[0].name;
$("#old_menu_image").val(img);
var valid_ext = /(.jpg|.jpeg|.gif|.png|.bmp)$/i;
if(!valid_ext.test(img)){ 
('Invalid image type');
$('#err_msg').text('File Type Must Be (.jpg/.jpeg/.gif/.png/.bmp)');
$("#menu_image").val('');
}else{
$('#prev_menu_image').css("display","block");
oldimg = $('#prev_menu_image').attr('src');
var preview = document.getElementById('prev_menu_image');
$('#prev_menu_image').removeAttr('style');
$('#err_msg').html(''); 
$('label[for="old_menu_image"]').hide();
}
preview.src = URL.createObjectURL(event.target.files[0]);
newimg = preview.src;
if(newimg.indexOf('/null') > -1) {
preview.src = oldimg;
}
}


function previewimg(event){
var img = document.getElementById("image").files[0].name;
$("#old_image").val(img);
var valid_ext = /(.jpg|.jpeg|.gif|.png|.bmp)$/i;
if(!valid_ext.test(img)){ 
('Invalid image type');
$('#err_msg1').text('File Type Must Be (.jpg/.jpeg/.gif/.png/.bmp)');
$("#image").val('');
}else{
$('#prev_image').css("display","block");
oldimg = $('#prev_image').attr('src');
var preview = document.getElementById('prev_image');
$('#prev_image').removeAttr('style');
$('#err_msg1').html(''); 
$('label[for="old_image"]').hide();
}
preview.src = URL.createObjectURL(event.target.files[0]);
newimg = preview.src;
if(newimg.indexOf('/null') > -1) {
preview.src = oldimg;
}
}
$(function(){
if('{/literal}{$sm.res}{literal}'){
$("#addactivities input,#addactivities textarea").attr("disabled", true).attr('style','border:0px !important;background:#FFFFFF;');
$(".hid").attr('style',"display:none");
}
});

function rmvstyles(){
 $("#addactivities input").attr("disabled", false).removeAttr('style');
 $("#addactivities textarea").attr("disabled", false).removeAttr('style');
 $(".hid").removeAttr('style');
 $(".achr_img").css('display' , 'none');
 
}

function chkname(id_act){
 var nm=$("#name_activity").val();//alert(num);return false;
 $.post(siteurl,{'page':'attribute','choice':'check_actname','id':id_act,'name':nm,'ce':0},function(res){//alert(res);return false;
if(res==1){
   $("#check1").html("");
}else{
   $("#check1").html("This name is already exists.");
  }
});   
}

function chkcode(id_act){
 var cd=$("#code_activity").val();//alert(num);return false;
 $.post(siteurl,{'page':'attribute','choice':'check_actcode','id':id_act,'code':cd,'ce':0},function(res){//alert(res);return false;
if(res==1){
   $("#check2").html("");
}else{
   $("#check2").html("This code is already exists.");
  }
});   
}
</script>
<style>
  textarea{min-height: 160px !important;}
</style>
{/literal}
<div id="dv2">
    <div style="width:500px;">
        <div class="headprt settheme">
            <div class="mdl">
                <span>{if $sm.res}Edit{else}Add{/if} Activity</span>
                <span  class="fltrht"><a class="achr_img" href="javascript:void(0);">{if $sm.res}<img src="##CSS_PATH##img/led-ico/edit(1).png" alt="img" title="Edit" onclick="rmvstyles()">{/if}</a></span>
                <div class="clear"></div>
            </div>
        </div>
        <div class="bodyprt">
            <form action="##LBL_ADMIN_SITE_URL##attribute/insertactivities/ce/0/" name="addactivities" id="addactivities" enctype="multipart/form-data" method="post" onsubmit="return AsyncUpload.submitForm(this, validateExp, callbackFun);">
            <!--<form action="##LBL_ADMIN_SITE_URL##cms/insertCategory/ce/0/" name="adminaddproduct" id="adminaddproduct" enctype="multipart/form-data" method="post">-->
                <input type="hidden" name="qstart" value="{if $sm.qstart}{$sm.qstart}{else}0{/if}" />   
                <input type="hidden" name="id_activity" value="{$sm.res.id_activity}" />   
                <input type="hidden" name="pre_menu_image" value="{$sm.res.menu_image}" />
                <input type="hidden" name="pre_image" value="{$sm.res.image}" />
                <table border="0" class="formtbl">
		    <tr>
			<td>Name <font color="red" class="hid">*</font>:</td>
			<td>
                            <input type="text" class="txt" name="activity[name]" id="name_activity" value="{$sm.res.name}" onkeyup="chkname('{$sm.res.id_activity}')" onblur="convertToCodeArticle();"/>
                            <span id="check1" style=" color: red"></span>
			</td>
		    </tr>
		    <tr>
			<td>Code <font color="red" class="hid">*</font>:</td>
			<td>
			    <input type="text" class="txt" name="activity[code]" id="code_activity" onkeyup="chkcode('{$sm.res.id_activity}')" value="{$sm.res.code}" />
                            <span id="check2" style=" color: red"></span>
			</td>
		    </tr>
		    <tr>
			<td>Reviews :</td>
			<td>
			    <input type="text" class="txt" name="activity[reviews]" id="review_activity" value="{$sm.res.reviews}" />
			</td>
		    </tr>
		    <tr>
			<td>Menu Image Name <font color="red" class="hid">*</font>:</td>
			<td>
			    <!--<input type="text" class="txt" name="activity[menu_image]" value="{$sm.res.menu_image}" />-->
                            <input type="file" name="menu_image"  class="hid"  id="menu_image" onchange="previewmenuimg(event)">
                            <input type="hidden" id="old_menu_image" name="old_menu_image" value="{$sm.res.menu_image}" />
                            <span id="err_msg" style=" color : red;display: block;"></span>
                            <div>
                                {if !$sm.res}
                              <img src=""  id="prev_menu_image" style="display :none;" height="130" width="140" class="img_cls">
                              {else}
                              <img  src="{if $sm.res.menu_image}##CSS_PATH##img/led-ico/img/generic/{$sm.res.menu_image}{else}##CSS_PATH##img/led-ico/noimagefound.jpg{/if}" id="prev_menu_image" height="130" width="140">
                              {/if}
                            </div>
			</td>
		    </tr>
		    <tr>
			<td>Menu Description <font color="red" class="hid">*</font>:</td>
			<td>
			    <textarea name="activity[menu_description]">{$sm.res.menu_description}</textarea>
			</td>
		    </tr>
		    <tr>
			<td>Font Icon Name <font color="red" class="hid">*</font>:</td>
			<td>
			    <input type="text" class="txt" name="activity[fonticon]" value="{$sm.res.fonticon}" />
			</td>
		    </tr>
		    <tr>
			<td>Image <font color="red" class="hid">*</font>:</td>
			<td>
			    <!--<input type="text" class="txt" name="activity[image]" value="{$sm.res.image}" />-->
                            <input type="file" name="image"  class="hid"  id="image" onchange="previewimg(event)">
                            <input type="hidden" id="old_image" name="old_image" value="{$sm.res.image}" />
                            <span id="err_msg" style=" color : red;display: block;"></span>
                            <div>
                                {if !$sm.res}
                              <img src=""  id="prev_image" style="display :none;" height="130" width="140" class="img_cls">
                              {else}
                              <img  src="{if $sm.res.image}##CSS_PATH##img/led-ico/img/activity/{$sm.res.image}{else}##CSS_PATH##img/led-ico/noimagefound.jpg{/if}" id="prev_image" height="130" width="140">
                              {/if}
                            </div>
			</td>
		    </tr>
		    <tr>
			<td>Description <font color="red" class="hid">*</font>:</td>
			<td>
			    <textarea name="activity[description]" id="description" >{$sm.res.description}</textarea>
			</td>
		    </tr>
		    <tr>
			<td>Active <font color="red" class="hid">*</font>:</td>
			<td>
                            <input type="radio" class="txt hid" name="activity[active_flg]" value="1" {if $sm.res.active_flg==1}checked{/if} /><label {if $sm.res.active_flg==2}class="hid"{/if}>Yes</label>
			    <input type="radio" class="txt hid" name="activity[active_flg]" value="2" {if $sm.res.active_flg==2}checked{/if} /><label {if $sm.res.active_flg==1}class="hid"{/if}>No</label>
                            <label class="error" for="activity[active_flg]" generated="true"></label>
			</td>
		    </tr>
            <tr>
                      <td></td>    
                           <td>
                           	<table>
                            	<tr>
                                	<td><div class="settheme fltlft"><input type="submit" class="buton hid" id="sbmt" name="submit" value="{if $sm.res}Update{else}Add{/if}" /></div></td>
                                    <td><div class="settheme fltlft"><input type="button" class="buton hid" value="Cancel" onclick="$.fancybox.close();" /></div></td>
                                </tr>
                            </table>
                           
                               </td>
                      </tr>
            </table>
            </form>
        </div>
    </div>
</div>