{* notag *}

<div class="row-fluid">
                <div class="span12">
                  
                <!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget red">
                    <div class="widget-title">
                       
                        <h4><i class="icon-reorder"></i>Attribute List</h4>
                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                        <div  class="fltrht pdngin block_ip">
               <a href="javascript:void(0);" onclick="addAttribute('{$sm.next_prev->start}');" class="btn btn-success">Add Attribute</a>
                 </div>
                    </div>
                    <div class="widget-body">
                     <form>
                       {if $sm.list}
                        <table cellspacing="0" class="table table-striped table-bordered" id="attr_tbl">
      <thead>
					<tr>
						<th>Name</th>
						<th>Value</th>
						<th>Entry Type</th>
                                                 <th>Search Type</th>
						<th>Actions</th>
					</tr>
				</thead>
                <tbody>
			{section name=cur loop=$sm.list}
			{assign var=x value=$sm.list[cur]}
			<tr class="nodrag" id="{$x.id_attribute}">
			    <td class="tb dragHandle">{$x.attribute_name|truncate:20:"....":true|capitalize:true}</td>
			    <td>{if $x.attribute_label}{$x.attribute_label|truncate:20:"....":true|capitalize:true}{else}<i>N/A</i>{/if}</td>
			    <td>{foreach key=key item=item from=$sm.attribute}{if $key==$x.entry_type}{$item|capitalize:true}{/if}{/foreach}</td>
			    <td>{foreach key=key item=item from=$sm.attribute}{if $key==$x.search_type}{$item|capitalize:true}{/if}{/foreach}</td>
			    <td>
				<a href="javascript:void(0);" onclick="searchable('{$x.id_attribute}','{$x.is_searchable}', '{$sm.next_prev->start}');">
				{if $x.is_searchable==1}
				    <img src="##LBL_SITE_URL##templates/css_theme/img/led-ico/searchable.png" title="Searchable" alt="Searchable" width="18" height="17">
				{else}
				    <img src="##LBL_SITE_URL##templates/css_theme/img/led-ico/notsearchable.png" title="Not searchable" alt="Not searchable" width="18" height="17">
				{/if}
				</a>
				&nbsp;&nbsp;
				<a href="javascript:void(0);" onclick="editAttribute('{$x.id_attribute}','{$sm.next_prev->start}', '{$sm.uri}');">
				    <img src="##CSS_PATH##img/led-ico/pencil.png" alt="Edit Product" title="Edit Attribute"/>
				</a>&nbsp;&nbsp;
				<a href="javascript:void(0);" onclick="return deleteAttribute('{$x.id_attribute}', '{$sm.next_prev->start}', '{$sm.uri}', '{$sm.list|@count}','{$x.attribute_name}');">
				    <img src="##CSS_PATH##img/led-ico/delete.png" alt="Delete Product" title="Delete Attribute"/>
				</a>&nbsp;&nbsp;		    
				<a href="javascript:void(0);" onclick="showDetail('{$x.id_attribute}');">
				    <img src="##CSS_PATH##img/led-ico/eye.png" alt="Product Detail" title="Attribute Detail"/>
				</a>&nbsp;&nbsp;
			    </td>
			</tr>			
			{/section}
		    </tbody>
                     </table>
                       {else}
                       <div>No records found....</div>
                       {/if}
                       </form>
                    </div>
                 <div class="pagination_box">
		<div align="center">{if !$sm.id_cat}{$sm.next_prev->generate()}{/if}</div>
	        </div>
                </div>
                </div>


{literal}
<script type="text/javascript" src="##JS_PATH_EXT##js/table_dnd.js"></script>
<script type="text/javascript" src="##JS_PATH_EXT##js/reorder.js"></script>
<script type="text/javascript">
    var curl="##LBL_SITE_URL##attribute/reorder/ce/0/tbl/attribute?ids=";
    new callreorder("attr_tbl","dragHandle",curl,"showDragHandle","class1");
</script>
<style type="text/css">
.class1{
	background:#3366FF;
}
.showDragHandle{	
	background:#FF0000;
	cursor:move;
}
</style>
<script type="text/javascript">
    var code;
    function addAttribute(qstart){
	$('#succ_msg').html('');
	$('#target').html('');
	$.fancybox.showActivity();
/*	$.post(siteurl,{"page" : "attribute", "choice" : "addAttribute", "qstart" : qstart, "ce" : 0},function(res){
	    show_fancybox(res);
	});*/
	$.post(siteurl,{"page":"attribute","choice":"addAttribute","qstart" : qstart,"ce":0},function(res){
	    $.fancybox(res,{
		hideOnOverlayClick:true,
		scrolling:"yes",
		centerOnScroll:true,
		onLoad:function(){$.fancybox.showActivity()},
		onComplete:function(){res},
		onCleanup:function(){
		    $('#stype').attr("value","");
		    $('#etype').attr("value","");
		},
		onClosed:function(){
		    $.fancybox.close();
		}
	    });
	});
    }
    function searchable(id,status,qstart){
	status = parseInt(status)?0:1; 
	$.post(siteurl,{page:'attribute',choice:"searchable",ce:0,"id_attribute":id,"status":parseInt(status),"qstart":qstart}, function(res){
	    if(parseInt(res)==1){
		//messageShow("Institute reviewed sucessfully.");
	    }else{
		//messageShow("Institute can't be reviewed.");
	    }
	    window.location.href=siteurl+"attribute/listing/qstart/"+qstart;
	});
    }
    
    function editAttribute(id,qstart,uri){
	$('#succ_msg').html('');
	$.fancybox.showActivity();
/*	$.post(siteurl,{"page" : "attribute", "choice" : "addAttribute", "ce" : "0", "id_attribute" : id, "qstart" : qstart, "uri" : uri},function(res){
	    show_fancybox(res);
	});*/
	
	
	$.post(siteurl,{"page":"attribute","choice":"addAttribute","id_attribute" : id,"uri" : uri,"qstart" : qstart,"ce":0},function(res){
	    $.fancybox(res,{
		hideOnOverlayClick:true,
		scrolling:"yes",
		centerOnScroll:true,
		onLoad:function(){$.fancybox.showActivity()},
		onComplete:function(){res},
		onCleanup:function(){
		    $('#stype').attr("value","");
		    $('#etype').attr("value","");
		},
		onClosed:function(){
		    $.fancybox.close();
		}
	    });
	});
	
    }
    
    function deleteAttribute(id_attribute, qstart, uri, cnt,name){
	$('#succ_msg').html('');
	var conf=confirm('Are you sure to delete "'+name+'" ?');
	var pname   = $('#attribute_name').val();
	var etype = $('#etype').val();
	var stype = $('#stype').val();
	if(conf){
	    $.post(siteurl,{"page" : "attribute", "choice" : "deleteAttribute", "ce" : 0, "id_attribute" : id_attribute, "qstart" : qstart, "uri" : uri, "cnt" : cnt, "pname" : pname, "stype" : stype,"etype" : etype},function(res){
		//alert(res);return;
		messageShow("Attribute deleted successfully.");//$('#succ_msg').html('<font color="red">Product deleted successfully</font>');
		$("#attribute_listing").html(res);
		css_even_odd();
	    });
	}else
	    return false;
    }
    function showDetail(id){
	 $.fancybox.showActivity();
	    $.post(siteurl,{"page":"attribute","choice":"attributeDetail",ce:0,"id_attribute":id},function(response){
		    //alert(response);return;
		    show_fancybox(response);
	    });
    }
    function makeSeq(pro_id){
	$.fancybox.showActivity();
	$.post(siteurl,{"page":"product","choice":"showImageList",ce:0,'id_product':pro_id},function(res){
	    show_fancybox(res);
	});
    }
</script>
{/literal}
