    
<table width="100%">
    <tr>
	<td> 
	    <select name="attribute[search_type]" id="searchtype"><!--onchange="showSearchType(this);"-->
		<option value="">--Select--</option>
		{html_options options=$sm.newattr|capitalize:true selected=$sm.res.search_type}
	    </select>
	</td>
    </tr>
</table>
