 <div style=" margin-left: 200px;width: 700px; ">
 <table width="100%" border="0">
  <tr><td>
 <table>
  {foreach from=$sm.sql1 key=key item=item}
  <tr>
<td style="text-align: center;">{$item.batch}:</td>
<td>
 <ul id="batch_{$item.id}" class="droptrue ide re">
  {foreach from=$sm.emp key=key item=batch}
  {if in_array($key,$item.emp)}
  <li class="ui-state-default">
<span class="handler">=</span><span class="name" id='{$key}'>{$batch}</span>
  </li> 
  {/if}
  {/foreach}
 </ul>
</td>
  </tr>
  {/foreach}
 </table>
</td>
<td rowspan="4">
 List:
</td>
<td rowspan="4">
 <ul id="fbfriends" class="droptrue ide">
  {foreach from=$sm.emp key=key item=item}
  {if !in_array($key,$sm.val1)}
  <li class="ui-state-default">
<span class="handler">+</span><span class="name" id='{$key}'>{$item}</span>
  </li>
  {/if}
  {/foreach}
 </ul>
</td>
  </tr>
  <tr>
<td colspan="4" align="center">
 <input type="button" id="btn" value="Update" onclick='updateBatch();'>
</td>
  </tr>
 </table>
</div>
{literal}
<script type="text/javascript">
 var data = new Array();
 $(function () {
  $("ul.droptrue").sortable({
connectWith: "ul",
stop: function () {
 var ide;
 var i = 0, k = 0;
 var j;
 $('.ide').each(function () {
  ide = $(this).attr('id');
  j = 0;
  $('#' + ide + ' li').each(function () {
j++;
if (i != 0)
 k++;
  });
  i++;
  var id = $(this).prev().attr("id");
  if (id == 'assigned') {
$(this).prev().prev().html(j);
  }
 });
 $("#assigned").html(k);
}, handle: '.handler'
  });
 });

 function updateBatch() {//alert();return false;
  $('.re').each(function () {
var id = $(this).attr('id').replace("batch_", "");
var batch = $("#" + $(this).attr('id') + " li .name").map(function () {
 return $(this).attr("id");
}).get().join(",");
//alert(batch);
data[id] = batch;
  });
  $.post(siteurl, {"page": "practice", "choice": "updateBatch", ce: 0, "data": data}, function (res) {//alert(res);return false;
window.location.href = siteurl + "practice/dragndropmainpage";
  });
 }


</script>
<style>
 .fltlft{float: left;}
 .clear{clear:both;}
 .li_id {margin-bottom: 5px;}
 .li_id span:nth-child(2){display: none;}
 h4{margin-bottom: 1px;}
 .handler{margin-right: 5px;}
 #Student, .ide{ list-style-type: none; margin: 0; padding: 0; margin: 0px 10px 20px 0px; background: #eee; padding: 5px; width: 245px;min-height: 38px;}
 #Student li, .ide li { margin: 5px; padding: 5px; font-size: 1.2em; width: 220px;font-size: 12px;font-family: "Trebuchet MS", "Helvetica", "Arial","Verdana", "sans-serif";}
 .handler,.handler_sml{
  background: #777;
  color: #fff;text-align: center;cursor: move;
  border-radius: 4px;
  font-size: 18px;
  padding: 0px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
 }
</style>
{/literal}
